@model QLDL.EF.DMBill

@{
    ViewBag.Title = "Thêm Bill mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Thêm Bill mới</h4>
<hr />
@using (Html.BeginForm("Create", "DMBill", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.MaBill, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MaBill, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaBill, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3">

                <div class="form-group">
                    @Html.LabelFor(model => model.KhachHang, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.KhachHang, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KhachHang, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CangNhan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CangNhan, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CangNhan, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CangTra, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CangTra, null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CangTra, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Thêm mới" class="btn btn-primary" /> |
                </div>
            </div>
        </div>
    </div>
}

@{Html.RenderAction("ViewDMBill", "DMBill");}
<hr />
