@model QLDL.EF.DMBill
@using QLDL.EF

@{
    ViewBag.Title = "Thêm Bill mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDLDBContext db = new QLDLDBContext();
}
<h4><b>Danh mục Bill</b></h4>
<div class="card h-100">
    <div class="card-body no-gutters">
        <h4><b>Thêm Bill mới</b></h4>
        @using (Html.BeginForm("Create", "DMBill", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.MaBill, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MaBill, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaBill, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.NgayTauDen, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <input type="date" name="NgayTauDen" class="form-control" value="" />

                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.KhachHang, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        <select name="KhachHang" class="form-control js-example-tags" required>
                            <option>--- Chọn khách hàng ---</option>
                            @foreach (var item in db.DMKhachHangs)
                            {
                                <option value="@item.Id">@item.TenCongTy</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CangNhan, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select name="CangNhan" class="form-control js-example-tags" required>
                            <option>--- Chọn Cảng Nhận ---</option>
                            @foreach (var item in db.DMCangs)
                            {
                                <option value="@item.Id">@item.TenCang</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CangTra, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select name="CangTra" class="form-control js-example-tags" required>
                            <option>--- Chọn Cảng Nhận ---</option>
                            @foreach (var item in db.DMCangs)
                            {
                                <option value="@item.Id">@item.TenCang</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label" for="Cont" > Cont</label>
                    <div class="col-md-8">
                        <input type="date" name="Cont" class="form-control" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="SoDK">Số Đăng Ký</label>
                    <div class="col-md-8">
                        <input type="date" name="SoDK" class="form-control" value="" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="Loai">Loại Cont</label>
                    <div class="col-md-8">
                        <select name="Loai" class="form-control js-example-tags" required>
                            <option>--- Chọn Cảng Nhận ---</option>
                            @foreach (var item in db.DMLoais)
                            {
                                <option value="@item.Id">@item.MaLoai</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Seal">Số Đăng Ký</label>
                    <div class="col-md-8">
                        <input type="date" name="SoDK" class="form-control" value="" />
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Kho, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Kho, null, htmlAttributes: new { @class = "form-control js-example-tags" })
                        @Html.ValidationMessageFor(model => model.Kho, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HanLuuCont, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.HanLuuCont, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HanLuuCont, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.HanLuuBai, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.HanLuuBai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HanLuuBai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.HanLuuRong, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.HanLuuRong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.HanLuuRong, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.NgayGiao, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NgayGiao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgayGiao, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NgayGui, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NgayGui, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NgayGui, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DoDay, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DoDay, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DoDay, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.QuyCach, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.QuyCach, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QuyCach, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.SoXe, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.SoXe, null, htmlAttributes: new { @class = "form-control js-example-tags" })
                        @Html.ValidationMessageFor(model => model.SoXe, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Ghi ( Lưu )" class="btn btn-primary" />
                    </div>
                </div>
            </div>


        }
    </div>
</div>
<hr />
<hr />
<div class="card h-100">
    <div class="card-body no-gutters">
        @using (Html.BeginForm("Create", "DMBill", FormMethod.Post))
        {
            Html.RenderAction("ViewDMBill", "DMBill");

        }
    </div>
</div>

