@model QLDL.EF.DMBill
@using QLDL.EF

@{
    ViewBag.Title = "Thêm Bill mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDLDBContext db = new QLDLDBContext();
}
<h4><b>Danh mục Bill</b></h4>
<div class="card h-100">
    <div class="card-body no-gutters">
        <h4><b>Thêm Bill mới</b></h4>
        @using (Html.BeginForm("Create", "DMBill", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MaBill, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.MaBill, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaBill, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NgayTauDen, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input type="date" name="NgayTauDen" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.KhachHang, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select name="KhachHang" class="form-control js-example-tags">
                                    <option value="" ></option>
                                    @foreach (var item in db.DMKhachHangs)
                                    {
                                        <option value="@item.Id">@item.TenCongTy</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CangNhan, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select name="CangNhan" class="form-control js-example-tags">
                                    <option  value=""></option>
                                    @foreach (var item in db.DMCangs)
                                    {
                                        <option value="@item.Id">@item.TenCang</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CangTra, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select name="CangTra" class="form-control js-example-tags">
                                    <option value=""></option>
                                    @foreach (var item in db.DMCangs)
                                    {
                                        <option value="@item.Id">@item.TenCang</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <h5><b>Chi tiết</b></h5>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label  col-md-4" for="Kho"><b>Kho</b></label>
                            <div class="col-md-8">
                                <select name="Kho" class="form-control js-example-tags">
                                    <option value=""></option>
                                    @foreach (var item in db.DMKhoes)
                                    {
                                        <option value="@item.Id">@item.DiaChi</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Cont"><b>Cont</b> </label>
                            <div class="col-md-8">
                                <input type="text" name="Cont" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="Loai"><b>Loại</b></label>
                            <div class="col-md-9">
                                <select name="Loai" class="form-control js-example-tags">
                                    <option  value=""></option>
                                    @foreach (var item in db.DMLoais)
                                    {
                                        <option value="@item.Id">@item.MaLoai</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="DoDay">Độ dày</label>
                            <div class="col-md-9">
                                <input type="text" name="DoDay" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="SoDK"><b>Số Đăng Ký</b></label>
                            <div class="col-md-8">
                                <input type="text" name="SoDK" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Seal"><b>Seal</b></label>
                            <div class="col-md-8">
                                <input type="date" name="SoDK" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="QuyCach">Quy cách</label>
                            <div class="col-md-8">
                                <input type="text" name="QuyCach" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="SoXe">Số Xe</label>
                            <div class="col-md-8">
                                <select name="SoXe" class="form-control js-example-tags">
                                    <option  value=""></option>
                                    @foreach (var item in db.DMXes)
                                    {
                                        <option value="@item.Id">@item.BienSo</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5" for="HanLuuBai">Hạn Lưu Bãi</label>
                            <div class="col-md-7">
                                <input type="date" name="HanLuuBai" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5" for="HanLuuCont">Hạn Lưu Cont</label>
                            <div class="col-md-7">
                                <input type="date" name="HanLuuCont" class="form-control" value="" />
                            </div>
                        </div>


                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5" for="HanLuuRong">Hạn Lưu Rỗng</label>
                            <div class="col-md-7">
                                <input type="date" name="HanLuuRong" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label  col-md-4" for="GhiChu">Ghi chú</label>
                            <div class="col-md-8">
                                <textarea type="text" name="GhiChu" class="form-control" value=""></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Ghi ( Lưu )" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
<hr />
<div class="card h-100">
    <div class="card-body no-gutters">
        @using (Html.BeginForm("Create", "DMBill", FormMethod.Post))
        {
            Html.RenderAction("ViewDMBill", "DMBill");

        }
    </div>
</div>

