@model QLDL.EF.CTBill
@using QLDL.EF

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDLDBContext db = new QLDLDBContext();

}
<h4><b>Chi tiết Bill: @ViewBag.Bill</b></h4>
<div class="card h-100">
    <div class="card-body no-gutters">
        <h4><b>Thêm dữ liệu</b></h4>
        @using (Html.BeginForm("CreateCTBill", "DMBill", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <input type="hidden" class="form-control" readonly name="Bill" value="@ViewBag.IdBill" />
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label  col-md-4" for="Kho"><b>Kho</b></label>
                            <div class="col-md-8">
                                <select name="Kho" class="form-control js-example-tags" required>
                                    <option value="">--- Chọn Kho ---</option>
                                    @foreach (var item in db.DMKhoes)
                                    {
                                        <option value="@item.Id">@item.DiaChi</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="SoDK"><b>Số Đăng Ký</b></label>
                            <div class="col-md-8">
                                <input type="text" name="SoDK" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="Cont"><b>Cont</b> </label>
                            <div class="col-md-9">
                                <input type="text" name="Cont" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="Loai"><b>Loại</b></label>
                            <div class="col-md-9">
                                <select name="Loai" class="form-control js-example-tags" required>
                                    <option value="">Chọn Loại cont</option>
                                    @foreach (var item in db.DMLoais)
                                    {
                                        <option value="@item.Id">@item.MaLoai</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="DoDay">Độ dày</label>
                            <div class="col-md-8">
                                <input type="text" name="DoDay" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="QuyCach">Quy cách</label>
                            <div class="col-md-8">
                                <input type="text" name="QuyCach" class="form-control" value="" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Seal"><b>Seal</b></label>
                            <div class="col-md-8">
                                <input type="text" name="Seal" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="HanLuuBai">Hạn Lưu Bãi</label>
                            <div class="col-md-8">
                                <input type="date" name="HanLuuBai" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-5" for="HanLuuCont">Hạn Lưu Cont</label>
                            <div class="col-md-7">
                                <input type="date" name="HanLuuCont" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5" for="HanLuuRong">Hạn Lưu Rỗng</label>
                            <div class="col-md-7">
                                <input type="date" name="HanLuuRong" class="form-control" value="" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label" style="margin-left:40px" for="GhiChu">Ghi chú</label>
                    <textarea type="text" style="margin-left:40px; width:50%;" name="GhiChu" class="form-control" value=""></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9">
                    <input type="submit" value="Ghi ( Lưu )" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>
<hr />
<hr />
<div class="card h-100">
    <div class="card-body no-gutters">
        @using (Html.BeginForm("CreateCTBill", "DMBill", FormMethod.Post))
        {
            Html.RenderAction("ViewCTBill", "DMBill");

        }
    </div>
</div>
