@model IEnumerable<QLDL.EF.DMBill>
@{
    ViewBag.Title = "Danh mục Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card h-100">
    <div class="card-body no-gutters">
        <h4>
            <b>Danh Mục Bill</b>
            @Html.ActionLink("Thêm Bill", "Create", null, new { @class = "btn btn-primary mb-1" })
        </h4>
        <div class="table-responsive">
            @using (Html.BeginForm("Index", "DMBill", FormMethod.Post))
            {
                <table class="table table-bordered table-striped" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th width="1%"><input type='checkbox' id='check' value='' /></th>
                            <th></th>
                            <th>Mã Bill</th>
                            <th>Số lượng cont</th>
                            <th>Tàu đến</th>
                            <th>Khách Hàng</th>
                            <th>Cảng Nhận</th>
                            <th>Cảng Trả</th>
                            <th>Hạn Lưu Bãi</th>
                            <th>Hạn Lưu Cont</th>
                            <th>Hạn Lưu Rỗng</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr id="row_@item.Id">

                            <td width="1%"><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                            <td width="1%">@Html.ActionLink("Chi tiết", "CTBill", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })</td>
                            <td>@Html.ActionLink(item.MaBill, "CTBill", new { id = item.Id })</td>
                            @{ var cont = item.CTBills.Where(x => x.Bill == item.Id).ToList();}
                            <td>@cont.Count()</td>
                            <td>@(item.NgayTauDen != null ? item.NgayTauDen.Value.ToShortDateString() : null)</td>
                            <td>@(item.KhachHang != null ? item.DMKhachHang.TenCongTy : null)</td>
                            <td>@(item.CangNhan != null ? item.DMCang.TenCang : null)</td>
                            <td>@(item.CangTra != null ? item.DMCang1.TenCang : null)</td>
                            @{ var hanluubai = item.CTBills.Where(x => x.Bill == item.Id).FirstOrDefault();}
                            @if (hanluubai != null)
                            {
                                <td> @(hanluubai.HanLuuBai != null ? hanluubai.HanLuuBai.Value.ToShortDateString() : "Chưa nhập hạn lưu bãi")</td>
                                var hanluucont = item.CTBills.Where(x => x.Bill == item.Id).FirstOrDefault();
                                <td> @(hanluucont.HanLuuCont != null ? hanluucont.HanLuuCont.Value.ToShortDateString() : "Chưa nhập hạn lưu cont")</td>
                                var hanluurong = item.CTBills.Where(x => x.Bill == item.Id).FirstOrDefault();
                                <td> @(hanluurong.HanLuuRong != null ? hanluurong.HanLuuRong.Value.ToShortDateString() : "Chưa nhập hạn lưu rỗng")</td>

                            }
                            else
                            {
                                <td style="color:red" >chưa nhập Cont</td>
                                <td style="color:red">chưa nhập Cont</td>
                                <td style="color:red">chưa nhập Cont</td>
                            }
                            <td>
                                @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
                <div class="form-group">
                    <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
                </div>
            }
        </div>
    </div>
</div>




