@model QLDL.EF.CTBill

@using QLDL.EF
@{
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDLDBContext db = new QLDLDBContext();
}
<h4><b>Chi tiết Bill: @ViewBag.Bill</b></h4>
<div class="card h-100">
    <div class="card-body no-gutters">
        <h4><b>Chỉnh sửa dữ liệu</b></h4>
        @using (Html.BeginForm("UpdateCTBill", "DMBill", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" class="form-control" readonly name="Bill" value="@ViewBag.IdBill" />
                <input type="hidden" class="form-control" readonly name="Id" value="@ViewBag.CTBill" />
                <div class="row">
                    <div class="col-md-2">

                        <div class="form-group">
                            <label class="control-label  col-md-4" for="Kho"><b>Kho</b></label>
                            <div class="col-md-8">
                                <select name="Kho" class="form-control js-example-tags">
                                    <option value=" @(Model.Kho != null? Model.Kho: null)"> @(Model.Kho != null? Model.DMKho.DiaChi : "--- Chọn Kho ---")</option>
                                    @foreach (var item in db.DMKhoes)
                                    {
                                        <option value="@item.Id">@item.DiaChi</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="SoDK"><b>Số Đăng Ký</b></label>
                            <div class="col-md-8">
                                <input type="text" name="SoDK" class="form-control" value="@Model.SoDK" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="Cont"><b>Cont</b> </label>
                            <div class="col-md-9">
                                <input type="text" name="Cont" class="form-control" value="@Model.Cont" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3" for="Loai"><b>Loại</b></label>
                            <div class="col-md-9">
                                <select name="Loai" class="form-control js-example-tags">
                                    <option value=" @(Model.Loai != null ? Model.Loai: null)"> @(Model.Loai != null ? Model.DMLoai.MaLoai : "--- Chọn Loại ---")</option>
                                    @foreach (var item in db.DMLoais)
                                    {
                                        <option value="@item.Id">@item.MaLoai</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="DoDay">Độ dày</label>
                            <div class="col-md-8">
                                <input type="text" name="DoDay" class="form-control" value="@Model.DoDay" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4" for="QuyCach">Quy cách</label>
                            <div class="col-md-8">
                                <input type="text" name="QuyCach" class="form-control" value="@Model.QuyCach" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="Seal"><b>Seal</b></label>
                            <div class="col-md-8">
                                <input type="text" name="Seal" class="form-control" value="@Model.Seal" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4" for="HanLuuBai">Hạn Lưu Bãi</label>
                            <div class="col-md-8">
                                <input type="text" name="HanLuuBai" class="form-control" value="@(Model.HanLuuBai != null ? Model.HanLuuBai.Value.ToShortDateString() : null)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label col-md-5" for="HanLuuCont">Hạn Lưu Cont</label>
                            <div class="col-md-7">
                                <input type="text" name="HanLuuCont" class="form-control" value="@(Model.HanLuuCont != null ? Model.HanLuuCont.Value.ToShortDateString() : null)" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-5" for="HanLuuRong">Hạn Lưu Rỗng</label>
                            <div class="col-md-7">
                                <input type="text" name="HanLuuRong" class="form-control" value="@(Model.HanLuuRong != null ? Model.HanLuuRong.Value.ToShortDateString() : null)" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" style="margin-left:40px" for="GhiChu">Ghi chú</label>
                    <textarea type="text" style="margin-left:40px; width:50%;" name="GhiChu" class="form-control" value="@Model.GhiChu"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                    @Html.ActionLink("Trở lại", "CTBill", new { id = Model.Bill })
                </div>
            </div>
        }
    </div>
</div>

