@model IEnumerable<QLDL.EF.CTBill>

<!-- body -->
<h4><b>Danh sách</b></h4>
<div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%">
            <thead>
                <tr>
                    <th width="1%"><input type='checkbox' id='check' value='' /></th>
                    <th>Số Cont</th>
                    <th>Loại</th>
                    <th>Mã kho</th>
                    <th>Số DK</th>
                    <th>Seal</th>
                    <th>Độ dày</th>
                    <th>Quy Cách</th>
                    <th>Số Xe</th>
                    <th>Hạn Lưu Bãi</th>
                    <th>Hạn lưu Cont</th>
                    <th>Hạn Lưu rỗng</th>
                    <th>Ghi Chú</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="row_@item.Id">
                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                    <td>@item.Cont</td>
                    <td>@(item.Loai != null ? item.DMLoai.MaLoai: null)</td>
                    <td>@(item.Kho != null ? item.DMKho.MaKho : null )</td>
                    <td>@item.SoDK</td>
                    <td>@item.Seal</td>
                    <td>@item.DoDay</td>
                    <td>@item.QuyCach</td>
                    <td>@(item.SoXe != null ? item.DMXe.MaXe : null )</td>
                    <td>@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : null)</td>

                    <td>@(item.HanLuuCont != null ? item.HanLuuCont.Value.ToShortDateString() : null)</td>

                    <td>@(item.HanLuuRong != null ? item.HanLuuRong.Value.ToShortDateString() : null)</td>
                    <td class="cell expand-maximum-on-hover">@item.GhiChu</td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "UpdateCTBill", new { id = item.Bill, CTBill = item.Id }, new { @class = "btn btn-primary mb-1" })
                        @*&ensp;| &ensp;
            @Html.ActionLink("Copy", "CreateCTBill", new { id = item.Bill, Copy = "Copy", cTBill = item.Id }, new { @class = "btn btn-primary mb-1" })*@
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" /> |
            @Html.ActionLink("Trở lại", "CTBill", new { id= ViewBag.IdBill})
        </div>
</div>



