@model IEnumerable<QLDL.EF.CTBill>

<!-- body -->
<h4><b>Danh sách</b></h4>
<div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%">
            <thead>
                <tr>
                    <th width="1%"><input type='checkbox' id='check' value='' /></th>
                    <th>Ngày Giao</th>
                    <th>Loại</th>
                    <th>Mã kho</th>
                    <th>Số Cont</th>
                    <th>Số DK</th>
                    <th>Seal</th>
                    <th>Độ dày</th>
                    <th>Quy Cách</th>
                    <th>Số Xe</th>
                    <th>Ngày gửi</th>
                    <th>Hạn lưu Cont</th>
                    <th>TT Lưu Cont</th>
                    <th>Hạn Lưu Bãi</th>
                    <th>TT Lưu Bãi</th>
                    <th>Hạn Lưu rỗng</th>
                    <th>TT Lưu Rỗng</th>
                    <th>Ghi Chú</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="row_@item.Id">

                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                    <td>@item.NgayGiao.Value.ToShortDateString()</td>
                    <td>@item.DMLoai.MaLoai</td>
                    <td>@item.DMKho.MaKho</td>
                    <td>@item.Cont</td>
                    <td>@item.SoDK</td>
                    <td>@item.Seal</td>
                    <td>@item.DoDay</td>
                    <td>@item.QuyCach</td>
                    <td>@item.DMXe.MaXe</td>
                    <td>@item.NgayGui.Value.ToShortDateString()</td>
                    <td>@item.HanLuuCont.Value.ToShortDateString()</td>
                    @if (item.TrangThaiLuuCont == true)
                    {
                        <td style="color:red"><a href="#">Còn</a></td>
                    }
                    else
                    {
                        <td><a href="#">Hết</a></td>
                    }

                    <td>@item.HanLuuBai.Value.ToShortDateString()</td>
                    @if (item.TrangThaiLuuBai == true)
                    {
                        <td style="color:red"><a href="#">Còn</a></td>
                    }
                    else
                    {
                        <td><a href="#">Hết</a></td>
                    }
                    <td>@item.HanLuuRong.Value.ToShortDateString()</td>
                    @if (item.TrangThaiLuuRong == true)
                    {
                        <td style="color:red"><a href="#">Còn</a></td>
                    }
                    else
                    {
                        <td><a href="#">Hết</a></td>
                    }
                    <td>@item.GhiChu</td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "UpdateCTBill", new { id = item.Bill, CTBill = item.Id }, new { @class = "btn btn-primary mb-1" })
                        &ensp;| &ensp;
                        @Html.ActionLink("Copy", "CreateCTBill", new { id = item.Bill, Copy = "Copy", cTBill = item.Id }, new { @class = "btn btn-primary mb-1" })
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" /> |
            @Html.ActionLink("Danh mục", "Index")
        </div>
</div>



