@model QLDL.EF.PhatSinh
@using QLDL.EF
@using QLDL.DAO
@{

    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDLDBContext db = new QLDLDBContext();
    var KH = new DMKhachHangDao().ListAll();
}
<h4><b>Phát sinh</b></h4>
<div class="card h-100">
    <div class="card-body no-gutters">
        <h4><b>Thêm mới</b></h4>
        @using (Html.BeginForm("Create", "PhatSinh", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Ngay, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input type="datetime-local" name="Ngay" class="form-control" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Loai, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="Loai">
                                    <option value="">-- Chọn Loại -- </option>
                                    @foreach (var item in db.DMLoais)
                                    {
                                        <option value="@item.Id">@item.MaLoai</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.KhachHang, htmlAttributes: new { @class = "control-label col-md-4" })

                            <div class="col-md-8">

                                <select class="form-control js-example-tags" name="KhachHang">
                                    <option value="">-- Chọn Khách hàng -- </option>
                                    @foreach (var item in db.DMKhachHangs)
                                    {
                                        <option value="@item.Id">@item.MaKH - @item.TenCongTy</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Kho, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="Kho">
                                    <option value="">-- Chọn Kho -- </option>
                                    @foreach (var item in db.DMKhoes)
                                    {
                                        <option value="@item.Id">@item.MaKho - @item.DiaChi</option>
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SoBill, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="SoBill">
                                    <option value="">-- Chọn Bill -- </option>
                                    @foreach (var item in db.DMBills)
                                    {
                                        <option value="@item.Id">@item.MaBill</option>
                                    }

                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SoCont, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="SoCont" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CangNhan, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="CangNhan">
                                    <option value="">-- Chọn Cảng nhận -- </option>
                                    @foreach (var item in db.DMCangs)
                                    {
                                        <option value="@item.Id">@item.MaCang - @item.TenCang</option>
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CangTra, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="CangTra">
                                    <option value="">-- Chọn cảng trả -- </option>
                                    @foreach (var item in db.DMCangs)
                                    {
                                        <option value="@item.Id">@item.MaCang - @item.TenCang</option>
                                    }

                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CuocKH, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.CuocKH, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CuocKH, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CuocTX, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.CuocTX, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CuocTX, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TenTX, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="TenTX">
                                    <option value="">-- Chọn tài xế -- </option>
                                    @foreach (var item in db.DMNhanViens)
                                    {
                                        <option value="@item.Id">@item.MaNV - @item.TenNV</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Xe, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="Xe">
                                    <option value="">-- Chọn Xe -- </option>
                                    @foreach (var item in db.DMXes)
                                    {
                                        <option value="@item.Id">@item.BienSo</option>
                                    }

                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.HDNang, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.HDNang, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HDNang, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TienNang, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TienNang, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TienNang, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.HDHa, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.HDHa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.HDHa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.TienHa, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TienHa, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TienHa, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">

                        <div class="form-group">
                            @Html.LabelFor(model => model.PhiKH, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="PhiKH">
                                    <option value="">-- Chọn Phí khách hàng -- </option>
                                    @foreach (var item in db.DMPhis)
                                    {
                                        <option value="@item.Id">@item.MaPhi</option>
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TienPhiKH, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TienPhiKH, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TienPhiKH, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PhiCT, htmlAttributes: new { @class = "control-label col-md-4 " })
                            <div class="col-md-8">
                                <select class="form-control js-example-tags" name="PhiCT">
                                    <option value="">-- Chọn Phí công ty -- </option>
                                    @foreach (var item in db.DMPhis)
                                    {
                                        <option value="@item.Id">@item.MaPhi</option>
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TienPhiCT, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.TienPhiCT, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TienPhiCT, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" value="Ghi ( Lưu )" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<hr />
<div class="card h-100">
    <div class="card-body no-gutters">
        @using (Html.BeginForm("Create", "PhatSinh", FormMethod.Post))
        {
            Html.RenderAction("ViewPhatSinh", "PhatSinh");
        }

    </div>
</div>