@model QLDL.EF.PhatSinh

@{
    ViewBag.Title = "CTPhatSinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4 style="text-align:center"><b>Chi tiết phát sinh</b></h4>
        <div class="card h-100">
            <div class="card-body no-gutters">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Ngày: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.Ngay.ToShortDateString()" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Loại: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.DMLoai.MaLoai" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Khách hàng: ", htmlAttributes: new { @class = "control-label " })
                            <input type="text" readonly value="@Model.DMKhachHang.TenCongTy" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Kho: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.DMKho.MaKho" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Số Bill: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.DMBill.MaBill" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Số Cont: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.SoCont" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Cảng Nhận: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.DMCang.TenCang" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Cảng Trả: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.DMCang1.TenCang" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Cước KH: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.CuocKH" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Cước TX: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.CuocTX" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Tên TX: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.TenTX" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Số Xe: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.DMXe.MaXe" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("HĐ nâng: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.HDNang" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Tiền nâng: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.TienNang" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("HĐ hạ: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.HDHa" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Tiền Hạ: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.TienHa" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Phí KH: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.DMPhi1.MaPhi" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Tiền phí KH: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.TienPhiKH" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Phí CT: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.DMPhi.MaPhi" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Tiền phí CT: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.TienPhiCT" class="form-control" />
                        </div>

                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            @Html.Label("Ghi Chú: ", htmlAttributes: new { @class = "control-label" })
                            <input type="text" readonly value="@Model.GhiChu" class="form-control" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
