@model IEnumerable<QLDL.EF.PhatSinh>
@{
    ViewBag.Title = "Phát Sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>
    Phát Sinh @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary mb-1" })
</h4>
<div class="table-responsive">
    @using (Html.BeginForm("Index", "PhatSinh", FormMethod.Post))
    {
        <table class="table table-bordered table-striped" id="dataTable" width="100%">
            <thead>
                <tr>
                    <th width="1%"><input type='checkbox' id='check' value='' /></th>
                    <th>Ngày</th>
                    <th>Loại</th>
                    <th>KH</th>
                    <th>Kho</th>
                    <th>Số Cont</th>
                    <th>Số Bill</th>
                    <th>Tài xế</th>
                    <th>Số Xe</th>
                    <td>#</td>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr id="row_@item.Id">

                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                    <td>@item.Ngay.Value.ToShortDateString()</td>
                    <td>@item.DMLoai.MaLoai</td>
                    <td>@item.DMKhachHang.MaKH</td>
                    <td>@item.DMKho.MaKho</td>
                    <td>@item.SoCont</td>
                    @if (item.SoBill != null)
                    {
                        <td>@item.DMBill.MaBill</td>
                    }

                    <td>@item.DMNhanVien.MaNV</td>
                    <td>@item.DMXe.MaXe</td>

                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })
                        &ensp;| &ensp;
                        @Html.ActionLink("Copy", "Create", new { id = item.Id, Copy = "Copy" }, new { @class = "btn btn-primary mb-1" })
                    </td>
                </tr>
                }
            </tbody>

        </table>
        <div class="form-group">
            <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
        </div>
    }

</div>


