@model QLDL.EF.PhatSinh
@using QLDL.EF
@{
    ViewBag.Title = "KeHoach";
    Layout = "~/Views/Shared/_Layout.cshtml";

    QLDLDBContext db = new QLDLDBContext();
    var data = db.CTBills.Where(x => x.Bill == Model.DMBill.Id && x.Cont == Model.SoCont).FirstOrDefault(); 
}
<div style="width:8.27in;height:8.69in;border:solid 1px;padding-left:-20px" class="container">
    <br />
    <br />
    <table style="width:100%">
        <tr>
            <td style="width:10%"><img src="~/Images/logo.png" /></td>
            <td style="width:60%"><h4 style="text-align:left">Công ty TNHH Phan Long</h4></td>
            <td style="width:30%">
                <h4 style="text-align:right">
                    Ngày: <b>@Model.Ngay.ToShortDateString()</b>
                </h4>
            </td>
        </tr>
        <tr>
            <td colspan="3"><h1><b>Kế hoạch giao/nhận</b></h1></td>
        </tr>
        <tr>
            <td colspan="3"><h3>Tài xế: <b>@Model.DMNhanVien.TenNV</b>&emsp;|&emsp; Số xe: <b>@Model.DMXe.BienSo</b></h3></td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div style="border-bottom:solid 1px" class="col-md-12">
            <div style="padding-top:5px" class="col-md-3">
                <h4>TT xuất HD: </h4>
            </div>
            <div class="col-md-9">

                <h5>
                    <b>
                        <select class="form-control js-example-tags">
                            @foreach (var item in db.DMKhachHangs)
                            {
                                <option>@item.MST - @item.TenCongTy</option>
                            }

                        </select>
                    </b>
                </h5>
            </div>
        </div>
        <div style="margin-top:10px" class="col-md-12">
            <div class="col-md-6">
                <h4>Bill/Booking: <b>@(data != null ? data.DMBill.MaBill : null)</b></h4>
            </div>
            <div class="col-md-6">
                <h4>Ngày tàu đến: <b>@Model.DMBill.NgayTauDen</b></h4>
            </div>
        </div>
        <div style="margin-top:10px;margin-bottom:10px" class="col-md-12">
            <div class="col-md-6">

                <h4>Hạn lưu bãi: <b>@(data != null ? data.HanLuuBai.Value.ToShortDateString() : null)</b></h4>
            </div>
            <div class="col-md-6">
                <h4>Hạn lưu rỗng: <b>@(data != null ? data.HanLuuRong.Value.ToShortDateString() : null)</b></h4>
            </div>
        </div>
        <div style="border-top:solid 1px;border-bottom:dotted 1px" class="col-md-12">
            <div style="border-right:solid 1px;text-align:center" class="col-md-4">
                <h4>Số cont</h4>
            </div>
            <div style="border-right:solid 1px;text-align:center" class="col-md-4">
                <h4>Số DK</h4>
            </div>
            <div style="border-right:solid 1px;text-align:center" class="col-md-2">
                <h4>Kích cỡ</h4>
            </div>
            <div style="text-align:center" class="col-md-2">
                <h4>Loại hàng</h4>
            </div>
        </div>
        <div style="margin-bottom:10px;border-bottom:solid 1px" class="col-md-12">
            <div style="border-right:solid 1px;text-align:center" class="col-md-4">
                @if (@Model.SoCont != null)
                {
                    <h4><b>@Model.SoCont</b></h4>
                }

            </div>
            <div style="border-right:solid 1px;text-align:center" class="col-md-4">
                <h4><b>@(@data != null ? data.SoDK : null)</b></h4>
            </div>
            <div style="border-right:solid 1px;text-align:center" class="col-md-2">
                <h4><b>@Model.DMLoai.MaLoai</b></h4>
            </div>
            <div style="text-align:center" class="col-md-2">
                <h4><b>@Model.DMLoai.MaLoai</b></h4>
            </div>
        </div>
        <div style="margin-bottom:10px" class="col-md-12">
            <div style="text-align:center" class="col-md-6">
                <h4>Cảng nâng: <b>@Model.DMCang.TenCang</b></h4>
            </div>
            <div style="text-align:center" class="col-md-6">
                <h4>Cảng hạ: <b>@Model.DMCang1.TenCang</b></h4>
            </div>
        </div>
        <div style="margin-bottom:10px" class="col-md-12">
            <div style="text-align:left" class="col-md-12">
                <h4>Nơi giao/nhận: <b>@Model.DMKho.DiaChi</b></h4>
            </div>
        </div>
        <div style="margin-bottom:10px" class="col-md-12">
            <div style="text-align:right" class="col-md-6">
                <h4>Người liên hệ: <b>@Model.DMKho.NguoiLienHe</b></h4>
            </div>
            <div style="text-align:left" class="col-md-6">
                <h4>Số DT: <b>@Model.DMKho.SoDienThoai</b></h4>
            </div>
        </div>
        <div style="margin-bottom:10px" class="col-md-12">
            <div style="text-align:left" class="col-md-12">
                <h4>Ghi chú: <b>@Model.GhiChu</b></h4>
            </div>
        </div>
    </div>

    @*<div style="width:100%;text-align:right">
            <button class="btn btn-primary hidden-print" onclick="window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
        </div>*@
</div>


