@model QLDL.EF.PhatSinh
@using QLDL.EF
@{
    ViewBag.Title = "KeHoach";
    Layout = "~/Views/Shared/_Layout.cshtml";

    QLDLDBContext db = new QLDLDBContext();
    var data = db.CTBills.Where(x => x.Bill == Model.DMBill.Id && x.Cont == Model.SoCont).FirstOrDefault();
}
    <div style="width:8in;height:5.5in" class="container">
        <br />
        <br />
        <table style="width:100%">
            <tr>
                <td style="width:10%"><img style="width:50px;height:50px" src="~/Images/logo.png" /></td>
                <td style="width:60%"><h5 style="text-align:left">Công ty TNHH Phan Long</h5></td>
                <td style="width:30%">
                    <h5 style="text-align:right">
                        Ngày: <b>@Model.Ngay</b>
                    </h5>
                </td>
            </tr>
            <tr>
                <td colspan="3"><h4><b>Kế hoạch giao/nhận</b></h4></td>
            </tr>
            <tr>
                <td colspan="3"><h5>Tài xế: <b>@Model.DMNhanVien.TenNV</b>&emsp;|&emsp; Số xe: <b>@Model.DMXe.BienSo</b></h5></td>
            </tr>
        </table>
        <br />
        <table width="100%">
            <tr>
                <td width="15%"><h5>TT xuất HD: </h5></td>
                <td width="85%">
                    <h5>
                        <b>
                            <select class="form-control js-example-tags">
                                @foreach (var item in db.DMKhachHangs)
                                {
                                    <option>@item.MST - @item.TenCongTy</option>
                                }
                            </select>
                        </b>
                    </h5>
                </td>
            </tr>
        </table>
        <div style="border: solid 1px;height:139px">
            <table class="dataTable" width="100%">
                <tr>
                    <td width="20%">
                        <h5>Bill/Booking:</h5>
                    </td>
                    <td width="30%">
                        <h5><b>@(data != null ? data.DMBill.MaBill : null)</b></h5>
                    </td>
                    <td width="20%">
                        <h5>Ngày tàu đến:</h5>
                    </td>
                    <td width="30%">
                        <h5><b>@Model.DMBill.NgayTauDen</b></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>Hạn lưu bãi:</h5>
                    </td>
                    <td>
                        <b>@(data != null ? data.HanLuuBai.Value.ToShortDateString() : null)</b>
                    </td>
                    <td>
                        <h5>Hạn lưu rỗng:</h5>
                    </td>
                    <td>
                        <b>@(data != null ? data.HanLuuRong.Value.ToShortDateString() : null)</b>
                    </td>
                </tr>
            </table>
            <table class="dataTable table-bordered" width="100%">
                <thead>
                    <tr>
                        <td>
                            <h5><b>Số cont</b></h5>
                        </td>
                        <td>
                            <h5><b>Số DK</b></h5>
                        </td>
                        <td>
                            <h5><b>Kích cỡ</b></h5>
                        </td>
                        <td>
                            <h5><b>Loại hàng</b></h5>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <h5>@(Model.SoCont != null ? Model.SoCont : null)</h5></td>
                        <td>     <h5>@(data != null ? data.SoDK : null)</h5></td>
                        <td>      <h5>@Model.DMLoai.MoTa</h5></td>
                        <td> <h5>@Model.DMLoai.MoTa1</h5></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table width="100%">
            <tr>
                <td width="50%"><h5>Cảng nâng: <b>@Model.DMCang.TenCang</b></h5></td>
                <td width="50%"><h5>Cảng hạ: <b>@Model.DMCang1.TenCang</b></h5></td>
            </tr>
            <tr>
                <td width="100%" colspan="2" style="text-align:left"><h5>Địa chỉ giao/nhận: <b>@Model.DMKho.DiaChi</b></h5></td>
            </tr>
            <tr>
                <td width="100%" colspan="2"><h5>Người liên hệ: <b>@Model.DMKho.NguoiLienHe</b> - Số DT: <b>@Model.DMKho.SoDienThoai</b></h5></td>
            </tr>
            <tr>
                <td width="100%" colspan="2" style="text-align:left"><h5>Ghi chú: <b>@Model.GhiChu</b></h5></td>
            </tr>
        </table>
        
        <div style="width:100%;text-align:right">
            <button class="btn btn-primary hidden-print" onclick="window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
        </div>
    </div>


