@model IEnumerable<QLDL.EF.PhatSinh>

<h4><b>Phát Sinh</b></h4>
<div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
            <thead>
                <tr>
                    <th width="1%"><input type='checkbox' id='check' value='' /></th>
                    <th></th>
                    <th>Ngày giao</th>
                    <th>Loại</th>
                    <th>KH</th>
                    <th>Kho</th>
                    <th>Số Bill</th>
                    <th>Số Cont</th>
                    <th>C.Nhận</th>
                    <th>C.Trả</th>
                    <th>Cước</th>
                    <th>Cước TX</th>
                    <th>Tài xế</th>
                    <th>Xe</th>
                    <th>HDN</th>
                    <th>Tiền Nâng</th>
                    <th>HD Hạ</th>
                    <th>Tiền Hạ</th>
                    <th>Phí KH</th>
                    <th>Tiền phí KH</th>
                    <th>Phí Công Ty</th>
                    <th>Tiền phí Công Ty</th>
                    <th>Thời gian</th>
                    <th>Ghi Chú</th>
                    <td>#</td>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model.Take(30))
                {
                <tr id="row_@item.Id">

                    <td class="sorting_asc_disabled, sorting_desc_disabled"><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                    <td>
                        @Html.ActionLink("Kế hoạch", "KeHoach", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                    <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>

                    <td>@(item.Loai != null ? item.DMLoai.MaLoai : null)</td>



                    <td>@(item.KhachHang != null ? item.DMKhachHang.MaKH: null )</td>


                    <td>@(item.Kho != null ? item.DMKho.MaKho : null)</td>

                    <td>@(item.SoBill != null ? item.DMBill.MaBill: null)</td>

                    <td>@(item.SoCont != null ? item.SoCont : null)</td>
                    <td>@(item.CangNhan != null ? item.DMCang.MaCang: null)</td>
                    <td>@(item.CangTra != null ?item.DMCang1.MaCang : null)</td>
                    <td style="text-align:right">@(item.CuocKH != null ? String.Format("{0:0,0}", (item.CuocKH)) : null)</td>
                    <td style="text-align:right">@(item.CuocTX != null ? String.Format("{0:0,0}", (item.CuocTX)) : null)</td>
                    <td>@(item.DMNhanVien != null ? item.DMNhanVien.MaNV : null)</td>
                    <td>@(item.Xe != null ? item.DMXe.MaXe : null)</td>
                    <td>@(item.HDNang != null ? item.HDNang : null)</td>
                    <td style="text-align:right">@(item.TienNang != null ? String.Format("{0:0,0}", (item.TienNang)) : null)</td>
                    <td>@(item.HDHa != null ? item.HDHa : null)</td>
                    <td style="text-align:right">@(item.TienHa != null ? String.Format("{0:0,0}", (item.TienHa)) : null )</td>
                    <td>@(item.PhiKH != null ? item.DMPhi1.MaPhi : null)</td>
                    <td style="text-align:right">@(item.TienPhiKH != null ? String.Format("{0:0,0}", (item.TienPhiKH)) : null)</td>
                    <td>@(item.PhiCT != null ? item.DMPhi.MaPhi : null)</td>
                    <td style="text-align:right">@(item.TienPhiCT!= null ? String.Format("{0:0,0}", (item.TienPhiCT)): null )</td>
                    <td>@(item.Thoigian != null ? item.DMThoiGian.ThoiGian : null)</td>
                    <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })

                    </td>
                </tr>
                }
            </tbody>

        </table>
        <div class="form-group">
            <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" /> 

        </div>
    

</div>


