@model IEnumerable<PhanLong.EF.HoaDon>
<div class="card-header">
    <h3 class="card-title">
        Phát sinh hoá đơn @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary mb-1" })
    </h3>
</div>
<div class="card-body">
    @using (Html.BeginForm("Index", "HoaDon", FormMethod.Post))
    {
        <table class="table table-hover table-bordered  table-striped table-sm" id="dataTable" style="max-width:100%;">
            <thead>
                <tr>
                    <th width="1%"><input type='checkbox' id='check' value='' /></th>
                    <th title="ngày lập">Ngày</th>
                    <th title="Số hoá đơn">Số HĐ</th>
                    <th title="Mã khách hàng">Mã KH</th>
                    <th title="Khách hàng">Khách hàng</th>
                    <th data-field="Nội dung">Nội dung</th>
                    <th title="Số Bill">Số Bill</th>
                    <th title="Số Cont">Số Cont</th>
                    <th title="Số lượng cont">Số lượng cont</th>
                    <th title="Tiền cước trên HĐ">Tiền cước</th>
                    <th title="Thuế VAT">VAT</th>
                    <th title="Tiền thuế">Tiền thuế</th>
                    <th title="Thành tiền">Thành tiền</th>
                    <th title="Tổng chi hộ">Tổng chi hộ</th>
                    <th title="Tổng nợ">Tổng nợ</th>
                    <th title="Ngày TT">Ngày TT</th>
                    <th title="Số tiền">Số tiền </th>
                    <th title="Cân đối">Cân đối </th>
                    <th title="Ghi chú">Ghi Chú</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    Decimal tienthue = 0;
                    Decimal thanhtien = 0;
                    Decimal tongno = 0;
                    Decimal candoi = 0;
                    <tr id="row_@item.Id">
                        <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                        <td>@(item.NgayHD != null ? item.NgayHD.Value.ToShortDateString() : null)</td>
                        <td>@(item.SoHD != null ? item.SoHD : null )</td>
                        <td>@(item.KH != null ? item.DMKhachHang.MaKH: null )</td>
                        <td>@(item.KH != null ? item.DMKhachHang.TenCongTy: null )</td>
                        <td>@(item.NoiDung != null ? item.NoiDung : null)</td>
                        <td>@(item.SoBill != null ? item.DMBill.MaBill: null)</td>
                        <td>@(item.SoCont != null ? item.SoCont : null)</td>
                        <td>@(item.SoLuong != null ?item.SoLuong : null)</td>
                        <td style="text-align:right">@(item.TienCuoc != null ? String.Format("{0:0,0}", (item.TienCuoc)) : null)</td>
                        <td style="text-align:right">@(item.VAT != 0 ? (item.VAT * 100)+" %" : 0 + " %")</td>
                        @{ tienthue = Convert.ToDecimal(item.TienCuoc) * Convert.ToDecimal(item.VAT);
                            thanhtien = Convert.ToDecimal(item.TienCuoc) + tienthue;
                            tongno = Convert.ToDecimal(item.ChiHo) + thanhtien;
                            candoi = tongno - Convert.ToDecimal(item.TienThanhToan);
                        }
                        <td style="text-align:right">@(tienthue != null ? String.Format("{0:0,0}", (tienthue))  : null)</td>
                        <td style="text-align:right">@(thanhtien != null ? String.Format("{0:0,0}", (thanhtien)) : null )</td>
                        <td style="text-align:right">@(item.ChiHo != null ? String.Format("{0:0,0}", (item.ChiHo)) : null)</td>
                        <td style="text-align:right">@(tongno != null ? String.Format("{0:0,0}", (tongno)): null )</td>

                        <td>@(item.NgayThanhToan != null ? item.NgayThanhToan.Value.ToShortDateString() : null)</td>
                        <td style="text-align:right">@(item.TienThanhToan != null ? String.Format("{0:0,0}", (item.TienThanhToan)): null )</td>
                        <td style="text-align:right">@(candoi != null ? String.Format("{0:0,0}", (candoi)): null )</td>
                        <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                    </tr>

                }
            </tbody>

        </table>
        <div class="margin">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                    Hành động
                    <span class="sr-only">Hành động</span>
                </button>
                <div class="dropdown-menu" role="menu">
                    <input type="submit" value="Xóa" name="delete" id="delete" class="dropdown-item" />
                    <input type="submit" value="Chỉnh sửa" name="update" id="update" class="dropdown-item" />
                </div>
            </div>
        </div>
    }
</div>