@model IEnumerable<PhanLong.EF.CTBill>
@{
    ViewBag.Title = "Phát Sinh Bill:  " + ViewBag.MaBill;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/ThongKe/Bill/";
    ViewBag.Back = "Trở lại";
    var stt = 0;
}

@using (Html.BeginForm("Create", "PhatSinhBill", FormMethod.Post))
{
    <input type="hidden" name="Bill" value="@ViewBag.IdBill" />

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Số Bill: @ViewBag.MaBill
            </h3>

        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                <thead>
                    <tr>
                        <th width="1%"><input type='checkbox' id='check' value='' /></th>
                        <th width="1%" style="text-align:center;vertical-align:middle">STT</th>
                        <th>Số Cont</th>
                        <th>Độ dày</th>
                        <th>Quy cách</th>
                        <th>Hạn lưu bãi</th>
                        <th>Hạn lưu cont </th>
                        <th>Hạn lưu rỗng</th>
                        <th>Ngày gửi</th>
                        <th>Bãi Gửi</th>
                        <th>Xe Gửi</th>
                        <th>Ngày giao</th>
                        <th>Ghi chú</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        stt += 1;
                        <tr id="row_@item.Id">
                            <td width="1%"><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                            <td style="text-align:center;vertical-align:middle">@stt</td>
                            <td>@item.Cont</td>
                            <td>@(item.DoDay != null ? item.DoDay : null)</td>

                            <td>@(item.QuyCach != null ? item.QuyCach : null)</td>
                            @if (item.NgayGui == null && item.NgayGiao == null)
                            {
                                if (item.HanLuuBai != null)
                                {
                                    var ngayluubai = (item.HanLuuBai.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluubai == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {

                                        if (ngayluubai > 3)
                                        {
                                            <td> @("Còn ( " + ngayluubai + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td style="color:red"> @(ngayluubai > 0 ? "Còn( " + ngayluubai + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluubai) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="color:red">Chưa nhập hạn lưu Bãi</td>
                                }
                                if (item.HanLuuCont != null)
                                {
                                    var ngayluucont = (item.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluucont == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluucont > 3)
                                        {
                                            <td> @("Còn ( " + ngayluucont + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td style="color:red"> @(ngayluucont > 0 ? "Còn( " + ngayluucont + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluucont) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="color:red"> Chưa nhập hạn lưu cont</td>
                                }
                                if (item.HanLuuRong != null)
                                {
                                    var ngayluurong = (item.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluurong == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluurong > 3)
                                        {
                                            <td> @("Còn ( " + ngayluurong + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td style="color:red"> @(ngayluurong > 0 ? "Còn( " + ngayluurong + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluurong) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="color:red"> Chưa nhập hạn lưu rỗng</td>
                                }
                            }
                            else if (item.NgayGiao != null)
                            {
                                <td>@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : "Chưa nhập hạn lưu bãi")</td>
                                <td>@(item.HanLuuCont != null ? item.HanLuuCont.Value.ToShortDateString() : "Chưa nhập hạn lưu cont")</td>
                                <td>@(item.HanLuuRong != null ? item.HanLuuRong.Value.ToShortDateString() : "Chưa nhập hạn lưu rỗng ")</td>
                            }
                            else if (item.NgayGui != null)
                            {
                                <td>@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : "Chưa nhập hạn lưu bãi")</td>


                                if (item.HanLuuCont != null)
                                {
                                    var ngayluucont = (item.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluucont == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluucont > 3)
                                        {
                                            <td> @("Còn ( " + ngayluucont + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td style="color:red"> @(ngayluucont > 0 ? "Còn( " + ngayluucont + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluucont) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td> Chưa nhập hạn lưu cont</td>
                                }
                                if (item.HanLuuRong != null)
                                {
                                    var ngayluurong = (item.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluurong == 0)
                                    {
                                        <td> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluurong > 3)
                                        {
                                            <td> @("Còn ( " + ngayluurong + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td> @(ngayluurong > 0 ? "Còn( " + ngayluurong + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluurong) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td> Chưa nhập hạn lưu rỗng</td>
                                }
                            }

                            <td style=@(item.NgayGui != null ? null : "color:red")>@(item.NgayGui != null ? item.NgayGui.Value.ToShortDateString() : "Chưa gửi bãi")</td>
                            <td>@(item.BaiGui != null ? item.DMCang.TenCang : null)</td>
                            <td>@(item.SoXe != null ? item.DMXe.MaXe : null)</td>
                            <td style=@(item.NgayGiao != null ? null : "color:red")>@(item.NgayGiao != null ? item.NgayGiao.Value.ToShortDateString() : "Chưa giao")</td>
                            <td>@item.GhiChu</td>
                        </tr>
                    }
                </tbody>

            </table>
            <div class="margin">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                        Hành động
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu" style="">
                        <input type="submit" value="Gia hạn lưu bãi" name="giahanluubai" id="giahanluubai" class="dropdown-item" />
                        <input type="submit" value="Gia hạn lưu cont" name="giahanluucont" id="giahanluucont" class="dropdown-item" />
                        <input type="submit" value="Gia hạn lưu rỗng" name="giahanluurong" id="giahanluurong" class="dropdown-item" />
                        <input type="submit" value="Thêm ngày gửi bãi" name="themngayguibai" id="themngayguibai" class="dropdown-item" />
                        <input type="submit" value="Thêm ngày giao" name="themngaygiao" id="themngaygiao" class="dropdown-item" />
                        <input type="submit" value="Chỉnh sửa" name="update" id="update" class="dropdown-item" />
                        <input type="submit" value="Xoá" name="delete" id="delete" class="dropdown-item" />

                    </div>
                </div>
            </div>

        </div>
    </div>
}





