@using PhanLong.EF
@{
    PhanLongDBContext db = new PhanLongDBContext();
}
<div class="card h-100">
    <div class="card-body no-gutters">
        <h4><b>Bộ lọc</b></h4>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <label>Từ Ngày</label>
                    <input class="form-control" type="date" name="ToDate" value="" />
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>Đến ngày</label>
                    <input class="form-control" type="date" name="FromDate" value="" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label col-md-12"> Khách hàng</label>
                    <div class="col-md-12">
                        <select style="width:100%" class="js-example-tags" name="KhachHang">
                            <option value="">-- Khách hàng --</option>
                            @foreach (var item in db.DMKhachHangs)
                            {
                                <option value="@item.Id">@item.MaKH - @item.TenCongTy</option>
                            }
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="control-label col-md-12">Số Bill</label>
                    <div class="col-md-12">
                        <select style="width:100%" class="form-control  js-example-tags" name="Bill">
                            <option value="">-- Số Bill --</option>
                            @foreach (var item in db.DMBills)
                            {
                                <option value="@item.Id">@item.MaBill - @item.CTBills.Count </option>
                            }
                        </select>

                    </div>
                </div>
            </div>
            
        </div>
        <div class="form-group">
            <input type="submit" name="filter" value="Lọc" class="btn btn-success" />

        </div>
    </div>
</div>