@model IEnumerable<QLDL.EF.DMKhachHang>
@{
    ViewBag.Title = "Danh mục Khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <div class="container">
        <div class="card h-100">
            <div class="card-body no-gutters">
                <h4>
                    <b>Danh mục Khách Hàng</b>
                    @Html.ActionLink("Thêm Khách hàng", "Create", null, new { @class = "btn btn-primary mb-1" })
                </h4>
                <div class="table-responsive">
                    @using (Html.BeginForm("Index", "DMKhachHang", FormMethod.Post))
                    {
                        <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                            <thead>
                                <tr>

                                    <th width="1%"><input type='checkbox' id='check' value='' /></th>
                                    <th>Mã khách hàng</th>
                                    <th>Tên công ty</th>
                                    <th>MST</th>
                                    <th>Địa chỉ</th>
                                    <th>Người liên hệ</th>
                                    <th>Số điện thoại</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Id">

                                        <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                        <td>@item.MaKH</td>
                                        <td>@item.TenCongTy</td>
                                        <td>@item.MST</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.NguoiLienHe</td>
                                        <td>@item.SoDienThoai</td>
                                        <td>
                                            @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                        <div class="form-group">
                            <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
                        </div>
                    }
                    <div style="text-align:right">
                        @using (Html.BeginForm("ImportExcel", "DMKhachHang", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name="Sheet" value="DMKhachHang$" />
                            <input type="submit" id="Submit" name="Submit" value="Import Excel" class="btn btn-success" />
                            <label>

                                <input type="file" id="FileUpload" name="FileUpload" aria-label="EXCEL" />

                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>



