@model IEnumerable<QLDL.EF.DMKhachHang>

<h4>
    <b> Danh mục </b>
</h4>
<hr />
<div class="table-responsive">
        <table class="table table-bordered table-striped" id="dataTable" width="100%">
            <thead>
                <tr>
                    <th width="1%"><input type='checkbox' id='check' value='' /></th>
                    <th>Mã khách hàng</th>
                    <th>Tên công ty</th>
                    <th>MST</th>
                    <th>Địa chỉ</th>
                    <th>Người liên hệ</th>
                    <th>Số điện thoại</th>
                    <td>#</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr id="row_@item.Id">

                        <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                        <td>@item.MaKH</td>
                        <td>@item.TenCongTy</td>
                        <td>@item.MST</td>
                        <td>@item.DiaChi</td>
                        <td>@item.NguoiLienHe</td>
                        <td>@item.SoDienThoai</td>
                        <td>
                            @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    <div class="form-group"> <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
        </div>
</div>

