@model IEnumerable<QLDL.EF.DMKhachHang>
@{
    ViewBag.Title = "Danh mục Khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int a = 0;
}

<h4>Danh mục Khách Hàng</h4>
@Html.ActionLink("Thêm Khách hàng", "Create", null, new { @class = "btn btn-primary mb-1" })
<hr />
<div class="table-responsive">@using (Html.BeginForm("Index", "PhatSinh", FormMethod.Post)){
    <table class="table table-bordered table-striped" id="dataTable" width="100%">
        <thead>
            <tr>

                <th width="1%"><input type='checkbox' id='check' value='' /></th>
                <th>Mã khách hàng</th>
                <th>Tên công ty</th>
                <th>MST</th>
                <th>Địa chỉ</th>
                <th>Người liên hệ</th>
                <th>Số điện thoại</th>
                <td>#</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr id="row_@item.Id">

                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                    <td>@item.MaKH</td>
                    <td>@item.TenCongTy</td>
                    <td>@item.MST</td>
                    <td>@item.DiaChi</td>
                    <td>@item.NguoiLienHe</td>
                    <td>@item.SoDienThoai</td>
                    <td>
                        <a href="/DMKhachHang/Update/@item.Id">Sửa</a>&ensp;|&ensp;
                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                   {
                       Confirm = "Bạn có chắc là muốn xóa khách hàng" + item.MaKH + " không??",
                       OnComplete = "$('#row_" + @item.Id + "').remove()",
                       HttpMethod = "Delete"
                   })
                    </td>
                </tr>
            }
        </tbody>

    </table><div class="form-group"> <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" /></div>}
</div>

