@model IEnumerable<PhanLong.EF.PhatSinhChiThu>
@using PhanLong.EF;
@using PhanLong.DAO;
@using System.Globalization;

@{
    ViewBag.Title = "Thống kê";
    ViewBag.Style = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    PhanLongDBContext db = new PhanLongDBContext();

    string ngaybd = "";
    string ngaykt = "";
    if (ViewBag.NgayBD != "" && ViewBag.NgayBD != null)
    {
        ngaybd = Convert.ToDateTime(ViewBag.NgayBD).ToShortDateString();

    }
    else
    {
        ngaybd = "01/01/2020";
    }

    if (ViewBag.NgayKT != "" && ViewBag.NgayKT != null)
    {
        ngaykt = Convert.ToDateTime(ViewBag.NgayKT).ToShortDateString();
    }
    else
    {
        ngaykt = DateTime.Now.ToShortDateString();
    }

    Decimal tongchi = 0;
    Decimal tongthu = 0;


}
@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
}

@using (Html.BeginForm("Index", "ChiThu", FormMethod.Get))
{
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Bộ lọc
            </h3>
        </div>
        <div class="card-body">
            <div class="row" style="height: 30px;">

                <div class="col-sm-2">
                    <div class="form-group row">
                        <label style="text-align:right" class="col-form-label col-sm-4" for="NgayBD">Từ ngày:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayBD" class="form-control form-control-sm" value="@ViewBag.NgayBD" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label style="text-align:right" class="col-form-label col-sm-4" for="NgayKT">Đến ngày:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayKT" class="form-control form-control-sm" value="@ViewBag.NgayKT" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label style="text-align:right" class="col-form-label col-sm-4" for="ChiThu">Loại phí:</label>
                        <div class="col-sm-8">
                            <select name="ChiThu" class="form-control form-control-sm select2" data-placeholder="Chọn loại phí">
                                @if (ViewBag.IdChiThu != null)
                                {
                                    <option value="@ViewBag.IdChiThu">@ViewBag.ChiThu</option>
                                }
                                else
                                {
                                    <option value=""></option>
                                }
                                @foreach (var item in db.LoaiPhis)
                                {
                                    <option value="@item.Id">@item.Loai</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="height: 30px;">
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label style="text-align:right" class="col-form-label col-sm-2" for="KhachHang">Khách hàng</label>
                        <div class="col-sm-10">
                            <select name="KhachHang" class="form-control form-control-sm select2" data-placeholder="Chọn khách hàng">
                                @if (ViewBag.IDKhachHang != null)
                                {
                                    <option value="@ViewBag.IDKhachHang">@ViewBag.KhachHang</option>
                                }
                                else
                                {
                                    <option value=""></option>
                                }
                                @foreach (var item in db.DMKhachHangs)
                                {
                                    <option value="@item.Id">@item.MaKH - @item.TenCongTy</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label style="text-align:right" class="col-form-label col-sm-4" for="Phi">Phí:</label>
                        <div class="col-sm-8">
                            <select name="Phi" class="form-control form-control-sm select2" data-placeholder="Chọn phí">
                                @if (ViewBag.IdTenPhi != null)
                                {
                                    <option value="@ViewBag.IdTenPhi">@ViewBag.TenPhi</option>
                                }
                                else
                                {
                                    <option value=""></option>
                                }
                                @foreach (var item in db.DMPhis)
                                {
                                    <option value="@item.Id">@item.TenPhi</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label style="text-align:right" class="col-form-label col-sm-3" for="Bill">Số Bill:</label>
                        <div class="col-sm-8">
                            <select name="Bill" class="form-control form-control-sm select2" data-placeholder="Chọn bill">
                                @if (ViewBag.IdBill != null)
                                {
                                    <option value="@ViewBag.IdBill">@ViewBag.Bill</option>
                                }
                                else
                                {
                                    <option value=""></option>
                                }

                                @foreach (var item in db.DMBills)
                                {
                                    <option value="@item.Id">@item.MaBill</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <input type="submit" name="Search" value="Tìm" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

@foreach (var item in Model.OrderBy(x => x.Ngay))
{
    Decimal tt = 0;
    Decimal tc = 0;
    var maphi = item.CTChiThus.Where(x => x.PhatSinhChiThu == item.Id).FirstOrDefault();
    var phi = 0;
    if (ViewBag.IdChiThu != null)
    {
        if (ViewBag.IdChiThu == maphi.DMPhi.LoaiPhi)
        {
            if (ViewBag.IdTenPhi != null)
            {
                phi = item.CTChiThus.Where(x => x.Phi == ViewBag.IdTenPhi).Count();
                if (phi > 0)
                {

                    var model = new CTChiDao().ListAll(item.Id);

                    if (maphi.DMPhi.LoaiPhi == 1)
                    {
                        tc = 0;
                        var tienchi = 0;
                        foreach (var tien in item.CTChiThus)
                        {
                            tienchi = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                            tc += tienchi;
                        }
                    }
                    if (maphi.DMPhi.LoaiPhi == 2)
                    {
                        tt = 0;
                        var tienthu = 0;
                        foreach (var tien in item.CTChiThus)
                        {
                            tienthu = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                            tt += tienthu;
                        }
                    }
                }
            }
            else
            {

                var model = new CTChiDao().ListAll(item.Id);

                if (maphi.DMPhi.LoaiPhi == 1)
                {

                    tc = 0;
                    var tienchi = 0;
                    foreach (var tien in item.CTChiThus)
                    {
                        tienchi = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                        tc += tienchi;
                    }
                }
                if (maphi.DMPhi.LoaiPhi == 2)
                {
                    tt = 0;
                    var tienthu = 0;
                    foreach (var tien in item.CTChiThus)
                    {
                        tienthu = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                        tt += tienthu;
                    }
                }
            }
        }
    }
    else if (ViewBag.IdTenPhi != null)
    {
        phi = item.CTChiThus.Where(x => x.Phi == ViewBag.IdTenPhi).Count();
        if (phi > 0)
        {

            var model = new CTChiDao().ListAll(item.Id);

            if (maphi.DMPhi.LoaiPhi == 1)
            {
                tc = 0;
                var tienchi = 0;
                foreach (var tien in item.CTChiThus)
                {
                    tienchi = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                    tc += tienchi;
                }

            }
            else
            {
                <td></td>
            }
            if (maphi.DMPhi.LoaiPhi == 2)
            {
                tt = 0;
                var tienthu = 0;
                foreach (var tien in item.CTChiThus)
                {
                    tienthu = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                    tt += tienthu;
                }

            }
        }
    }
    else
    {

        var model = new CTChiDao().ListAll(item.Id);

        if (maphi.DMPhi.LoaiPhi == 1)
        {
            tc = 0;
            var tienchi = 0;
            foreach (var tien in item.CTChiThus)
            {
                tienchi = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                tc += tienchi;
            }

        }

        if (maphi.DMPhi.LoaiPhi == 2)
        {

            tt = 0;
            var tienthu = 0;
            foreach (var tien in item.CTChiThus)
            {
                tienthu = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                tt += tienthu;

            }

        }
    }
    tongchi += tc;
    tongthu += tt;
}
<div class="card">
    <div class="card-header" style="text-align:center">
        <h3 class="card-title" style="float:none;">
            Thống Kê Chi Thu
        </h3>
        <div class="row" style="height: 30px; padding-top:5px">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">
                <div class="form-group row">
                    <label style="text-align:right" class="col-form-label col-sm-4" for="NgayBD">Từ ngày:</label>
                    <div class="col-sm-8">
                        <div class="input-group">

                            <input type="text" class="form-control form-control-sm" value="@ngaybd" readonly data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group row">
                    <label style="text-align:right" class="col-form-label col-sm-4" for="NgayKT">Đến ngày:</label>
                    <div class="col-sm-8">
                        <div class="input-group">

                            <input type="text" class="form-control form-control-sm" readonly value="@ngaykt" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row" style="height: 30px; padding-top:5px">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">
                <div class="form-group row">
                    <label style="text-align:right" class="col-form-label col-sm-4" for="tongchi">Tiền Chi:</label>
                    <div class="col-sm-8">
                        <div class="input-group">

                            <input type="text" class="form-control form-control-sm" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tongchi))" readonly style="text-align:right">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group row">
                    <label style="text-align:right" class="col-form-label col-sm-4" for="tongthu">Tiền Thu:</label>
                    <div class="col-sm-8">
                        <div class="input-group">

                            <input type="text" class="form-control form-control-sm" readonly value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tongthu))" style="text-align:right">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Index", "ChiThu", FormMethod.Post))
    {
        <div class="card-body">
            <table class="table table-hover table-bordered  table-striped table-sm" id="dataTable" style="max-width:100%">
                <thead style="background-color:#d1cbc3">
                    <tr>
                        <th width="1%"><input type='checkbox' id='check' value='' /></th>
                        <th>STT</th>
                        <th title="Ngày chi/thu">Ngày</th>
                        <th title="Người chi/thu">Người chi/thu</th>
                        <th title="Người nhận">Người nhận</th>
                        <th title="Hình thức thanh toán">HTTT</th>
                        <th title="Khách hàng">Khách hàng</th>
                        <th>Nội dung</th>
                        <th title="Số Xe">Xe</th>
                        <th title="Số Mooc">Mooc</th>
                        <th title="Tên Phí">Phí</th>
                        <th title="Thu">Thu</th>
                        <th title="Số Bill">Số Bill</th>
                        <th title="Số hoá đơn">Số HĐ</th>
                        <th title="Tiền chi">Tiền chi</th>
                        <th title="Tiền thu">Tiền thu</th>
                        <th title="Ghi chú">Ghi Chú</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(x => x.Ngay))
                    {
                        var tt = 0;
                        var tc = 0;
                        var maphi = item.CTChiThus.Where(x => x.PhatSinhChiThu == item.Id).FirstOrDefault();
                        var phi = 0;
                        if (ViewBag.IdChiThu != null)
                        {
                            if (ViewBag.IdChiThu == maphi.DMPhi.LoaiPhi)
                            {
                                if (ViewBag.IdTenPhi != null)
                                {
                                    phi = item.CTChiThus.Where(x => x.Phi == ViewBag.IdTenPhi).Count();
                                    if (phi > 0)
                                    {

                                        var model = new CTChiDao().ListAll(item.Id);
                                        <tr>
                                            <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                            <td>@item.Id</td>
                                            <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                                            <td>@(item.NguoiChiThu != null ? item.DMNhanVien.MaNV : null)</td>
                                            <td>@(item.NguoiNhan != null ? item.DMKhachHang1.MaKH : null )</td>
                                            <td>@(item.HTTT != null ? item.HinhThucTT.MoTa : null)</td>
                                            <td>@(item.KhachHang != null ? item.DMKhachHang.MaKH : null)</td>
                                            <td style="text-align:left">@(item.CTChiThus != null ? item.CTChiThus.FirstOrDefault().NoiDung : null)</td>
                                            <td>@(item.Xe != null ? item.DMXe.MaXe : null)</td>
                                            <td>@(item.Mooc != null ? item.DMMooc.MaMooc : null)</td>
                                            <td> @(maphi.DMPhi.LoaiPhi == 1 ? maphi.DMPhi.MaPhi : null)</td>
                                            <td> @(maphi.DMPhi.LoaiPhi == 2 ? maphi.DMPhi.MaPhi : null)</td>
                                            <td>@(item.Bill != null ? item.DMBill.MaBill : null)</td>
                                            <td>@(item.SoHD != null ? item.SoHD : null)</td>
                                            @if (maphi.DMPhi.LoaiPhi == 1)
                                            {
                                                <td style="text-align: right">
                                                    @{ tc = 0;
                                                        var tienchi = 0;
                                                        foreach (var tien in item.CTChiThus)
                                                        {
                                                            tienchi = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                            tc += tienchi;
                                                        }
                                                    }@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tc))
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (maphi.DMPhi.LoaiPhi == 2)
                                            {
                                                <td style="text-align: right">
                                                    @{ tt = 0;
                                                        var tienthu = 0;
                                                        foreach (var tien in item.CTChiThus)
                                                        {
                                                            tienthu = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                            tt += tienthu;
                                                        }
                                                    }@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tt))
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                                        </tr>
                                    }
                                }
                                else
                                {

                                    var model = new CTChiDao().ListAll(item.Id);
                                    <tr>
                                        <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                        <td>@item.Id</td>
                                        <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                                        <td>@(item.NguoiChiThu != null ? item.DMNhanVien.MaNV : null)</td>
                                        <td>@(item.NguoiNhan != null ? item.DMKhachHang1.MaKH : null )</td>
                                        <td>@(item.HTTT != null ? item.HinhThucTT.MoTa : null)</td>
                                        <td>@(item.KhachHang != null ? item.DMKhachHang.MaKH : null)</td>
                                        <td style="text-align:left">@(item.CTChiThus != null ? item.CTChiThus.FirstOrDefault().NoiDung : null)</td>
                                        <td>@(item.Xe != null ? item.DMXe.MaXe : null)</td>
                                        <td>@(item.Mooc != null ? item.DMMooc.MaMooc : null)</td>

                                        <td> @(maphi.DMPhi.LoaiPhi == 1 ? maphi.DMPhi.MaPhi : null)</td>
                                        <td> @(maphi.DMPhi.LoaiPhi == 2 ? maphi.DMPhi.MaPhi : null)</td>
                                        <td>@(item.Bill != null ? item.DMBill.MaBill : null)</td>
                                        <td>@(item.SoHD != null ? item.SoHD : null)</td>
                                        @if (maphi.DMPhi.LoaiPhi == 1)
                                        {
                                            <td style="text-align: right">
                                                @{ tc = 0;
                                                    var tienchi = 0;
                                                    foreach (var tien in item.CTChiThus)
                                                    {
                                                        tienchi = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                        tc += tienchi;
                                                    }
                                                }@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tc))
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        @if (maphi.DMPhi.LoaiPhi == 2)
                                        {
                                            <td style="text-align: right">
                                                @{ tt = 0;
                                                    var tienthu = 0;
                                                    foreach (var tien in item.CTChiThus)
                                                    {
                                                        tienthu = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                        tt += tienthu;
                                                    }
                                                }@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tt))
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                                    </tr>
                                }
                            }
                        }
                        else if (ViewBag.IdTenPhi != null)
                        {
                            phi = item.CTChiThus.Where(x => x.Phi == ViewBag.IdTenPhi).Count();
                            if (phi > 0)
                            {

                                var model = new CTChiDao().ListAll(item.Id);
                                <tr>
                                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                    <td>@item.Id</td>
                                    <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                                    <td>@(item.NguoiChiThu != null ? item.DMNhanVien.MaNV : null)</td>
                                    <td>@(item.NguoiNhan != null ? item.DMKhachHang1.MaKH : null )</td>
                                    <td>@(item.HTTT != null ? item.HinhThucTT.MoTa : null)</td>
                                    <td>@(item.KhachHang != null ? item.DMKhachHang.MaKH : null)</td>
                                    <td style="text-align:left">@(item.CTChiThus != null ? item.CTChiThus.FirstOrDefault().NoiDung : null)</td>
                                    <td>@(item.Xe != null ? item.DMXe.MaXe : null)</td>
                                    <td>@(item.Mooc != null ? item.DMMooc.MaMooc : null)</td>
                                    <td> @(maphi.DMPhi.LoaiPhi == 1 ? maphi.DMPhi.MaPhi : null)</td>
                                    <td> @(maphi.DMPhi.LoaiPhi == 2 ? maphi.DMPhi.MaPhi : null)</td>
                                    <td>@(item.Bill != null ? item.DMBill.MaBill : null)</td>
                                    <td>@(item.SoHD != null ? item.SoHD : null)</td>
                                    @if (maphi.DMPhi.LoaiPhi == 1)
                                    {
                                        <td style="text-align: right">
                                            @{ tc = 0;
                                                var tienchi = 0;
                                                foreach (var tien in item.CTChiThus)
                                                {
                                                    tienchi = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                    tc += tienchi;
                                                }
                                            }@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tc))
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (maphi.DMPhi.LoaiPhi == 2)
                                    {
                                        <td style="text-align: right">
                                            @{ tt = 0;
                                                var tienthu = 0;
                                                foreach (var tien in item.CTChiThus)
                                                {
                                                    tienthu = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                    tt += tienthu;
                                                }
                                            }@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tt))
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                                </tr>
                            }
                        }
                        else
                        {

                            var model = new CTChiDao().ListAll(item.Id);
                            <tr>
                                <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                <td>@item.Id</td>
                                <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                                <td>@(item.NguoiChiThu != null ? item.DMNhanVien.MaNV : null)</td>
                                <td>@(item.NguoiNhan != null ? item.DMKhachHang1.MaKH : null )</td>
                                <td>@(item.HTTT != null ? item.HinhThucTT.MoTa : null)</td>
                                <td>@(item.KhachHang != null ? item.DMKhachHang.MaKH : null)</td>
                                <td style="text-align:left">@(item.CTChiThus != null ? item.CTChiThus.FirstOrDefault().NoiDung : null)</td>
                                <td>@(item.Xe != null ? item.DMXe.MaXe : null)</td>
                                <td>@(item.Mooc != null ? item.DMMooc.MaMooc : null)</td>
                                <td> @(maphi.DMPhi.LoaiPhi == 1 ? maphi.DMPhi.MaPhi : null)</td>
                                <td> @(maphi.DMPhi.LoaiPhi == 2 ? maphi.DMPhi.MaPhi : null)</td>
                                <td>@(item.Bill != null ? item.DMBill.MaBill : null)</td>
                                <td>@(item.SoHD != null ? item.SoHD : null)</td>
                                @if (maphi.DMPhi.LoaiPhi == 1)
                                {
                                    <td style="text-align: right">
                                        @{ tc = 0;
                                            var tienchi = 0;
                                            foreach (var tien in item.CTChiThus)
                                            {
                                                tienchi = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                tc += tienchi;
                                            }
                                        }@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tc))
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (maphi.DMPhi.LoaiPhi == 2)
                                {
                                    <td style="text-align: right">
                                        @{ tt = 0;
                                            var tienthu = 0;
                                            foreach (var tien in item.CTChiThus)
                                            {
                                                tienthu = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                tt += tienthu;
                                            }
                                        }@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tt))
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                            </tr>
                        }


                    }

                </tbody>
            </table>
            <div class="margin">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                        Hành động
                        <span class="sr-only">Hành động</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <input type="submit" value="Lập phiếu" name="phieuchi" id="phieuchi" class="dropdown-item" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>


