@model List<QLDL.EF.DMBill>
@{
    ViewBag.Title = "Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card h-100">
    <div class="card-body no-gutters">
        <div class="table-responsive">
            <table class="table table-bordered table-striped" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mã Bill</th>
                        <th>Tổng Cont</th>
                        <th>Số cont Còn</th>
                        <th>Trạng thái Lưu Bãi (Ngày)</th>
                        <th>Trạng thái Lưu Cont (Ngày)</th>
                        <th>Trạng thái Lưu Rỗng (Ngày)</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.ActionLink("Chi tiết","CTBill", new { id = item.Id })</td>
                        <td>@item.MaBill</td>
                        <td>@item.CTBills.Where(x => x.Bill == item.Id).ToList().Count()</td>
                        @{ var songay = item.CTBills.Where(x => x.Bill == item.Id && ( x.HanLuuBai.Value.Date > DateTime.Now.Date || x.HanLuuCont.Value.Date > DateTime.Now.Date || x.HanLuuRong.Value.Date > DateTime.Now.Date ) && x.NgayGui == null).ToList();
                            var a = songay.Count();}
                        <td>@a </td>
                        @{ var day = item.CTBills.Where(x => x.Bill == item.Id).FirstOrDefault();
                            var ngayluubai = (day.HanLuuBai.Value.Date - DateTime.Now.Date).TotalDays;}
                        <td style=@( ngayluubai > 0 ? "color:red" : null)> @( ngayluubai > 0 ? "Còn( "+ ngayluubai + " Ngày)" : "Hết" )</td>
                        @{ var ngayluucont = (day.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;}
                        <td style=@( ngayluucont > 0 ? "color:red" : null)> @( ngayluucont > 0 ? "Còn( "+ ngayluucont + " Ngày)" : "Hết" )</td>
                        @{ var ngayluurong = (day.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;}
                        <td style=@( ngayluurong > 0 ? "color:red" : null)> @( ngayluurong > 0 ? "Còn( "+ ngayluurong + " Ngày) " : "Hết" )</td>
                    </tr>
                    }
                </tbody>

            </table>


        </div>
    </div>
</div>

