@model List<QLDL.EF.CTBill>
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stt = 0;
}
    <h4><b>@ViewBag.MaBill</b></h4>
<span><b>Khách hàng: </b> @(ViewBag.KH != null ? ViewBag.KH : "Chưa có") </span> | <span><b>Cảng nhận: </b> @(ViewBag.CN != null ? ViewBag.CN : "Chưa có") </span> | <span><b>Cảng trả: </b> @(ViewBag.CT != null ? ViewBag.CT : "Chưa có") </span> | <span><b>Ngày tàu đến: </b> @(ViewBag.TD != null ? ViewBag.TD : "Chưa có") </span>

    <input type="hidden" name="Bill" value="@ViewBag.IdBill" />
    <div class="card h-100">
        <div class="card-body no-gutters">
            <h4>
                <b>Cont đã hoàn tất</b>
            </h4>
            <hr />
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Số Cont</th>
                            <th>Độ dày</th>
                            <th>Quy cách</th>
                            <th>Ngày gửi bãi</th>
                            <th>Ngày giao</th>
                            <th>Ghi Chú</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            stt += 1;
                            if (item.NgayGiao != null)
                            {
                                <tr>
                                    <td>@stt</td>
                                    <td><a href="/NhapLieu/PhatSinhBill/Create/@item.Id">@item.Cont</a>  </td>
                                    <td>@item.DoDay</td>
                                    <td>@item.QuyCach</td>
                                    <td>@(item.NgayGui != null ? item.NgayGui.Value.ToShortDateString() : null)</td>
                                    <td>@(item.NgayGiao != null ? item.NgayGiao.Value.ToShortDateString() : null)</td>
                                    <td>@(item.GhiChu != null ? item.GhiChu : null)</td>
                                </tr>
                            }

                        }
                    </tbody>

                </table>

                <a class="btn btn-warning" href="/ThongKe/Bill">Trở lại</a>
            </div>
        </div>
    </div>

