@model  IEnumerable<QLDL.EF.DMBill>
@{
    var stt = 0;
}
<div class="card h-100">
    <div class="card-body no-gutters">
        <div class="table-responsive">
            <h4><b>Bill hoàn tất</b></h4>
            <table class="table table-bordered table-hover table-striped" id="table"
                   data-pagination="true"
                   data-toggle="table"
                   data-search="true"
                   data-method="post"
                   width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th data-field="stt" data-sortable="true">STT</th>
                        <th>Mã Bill</th>
                        <th>Tổng Cont</th>
                        <th data-sortable="true">Ngày Tàu Đến</th>
                        <th>Khách hàng</th>
                        <th>Cảng nhận</th>
                        <th>Cảng trả</th>
                        <th data-sortable="true">Ngày hoàn tất</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var songay = item.CTBills.Where(x => x.Bill == item.Id && x.NgayGui != null && x.NgayGiao != null).ToList();
                        if (songay.Count() == item.CTBills.Count() && songay.Count() > 0)
                        {
                            stt += 1;
                            <tr>
                                <td>@Html.ActionLink("Chi tiết", "CTBill", new { id = item.Id }, new { @class = "btn btn-primary" })</td>
                                <td>@stt</td>
                                <td>@item.MaBill</td>
                                <td>@item.CTBills.Count</td>
                                <td>@(item.NgayTauDen != null ? item.NgayTauDen.Value.ToShortDateString(): null )</td>
                                <td>@(item.KhachHang != null ? item.DMKhachHang.TenCongTy : null)</td>
                                <td>@(item.CangNhan != null ? item.DMCang.TenCang : null)</td>
                                <td>@(item.CangTra != null ? item.DMCang1.TenCang : null)</td>
                                @{ var ngay = item.CTBills.OrderByDescending(x => x.NgayGiao).FirstOrDefault();}
                                @if (ngay != null)
                                {
                                    <td>@(ngay.NgayGiao != null ? ngay.NgayGiao.Value.ToShortDateString() : null) </td>
                                }else
                                {
                                <td></td>
                                }

                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

