@using PhanLong.EF
@using PhanLong.Common
@using PhanLong.DAO
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PhanLongDBContext db = new PhanLongDBContext();
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    //var notification = new NotificationsDao().GetNotifications().Where(x => ((x.HanLuuBai != null && (Convert.ToDateTime(x.HanLuuBai) - DateTime.Now.Date).TotalDays <= 3) || (x.HanLuuRong != null && (Convert.ToDateTime(x.HanLuuRong) - DateTime.Now.Date).TotalDays <= 3) || (x.HanLuuCont != null && (Convert.ToDateTime(x.HanLuuCont) - DateTime.Now.Date).TotalDays <= 3)) && (x.Ngaygiao == null && x.NgayLuuBai == null)).Select(x => new { x.IdBill, x.Bill, x.HanLuuBai, x.HanLuuRong, x.HanLuuCont, x.GhiChuBill }).Distinct();
    var notification = db.Notifications.OrderBy(x => x.HanLuuBai);
}
@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">

    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/Content/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Content/plugins/daterangepicker/daterangepicker.css">
    <style>
        .table thead th {
            line-height: 20px !important;
        }
    </style>
    <script type="text/javascript">
        function codeAddress() {
            document.getElementById("buttonAlert").click(); // Click on the checkbox
        }
        window.onload = codeAddress;
    </script>
}
<!-- Content Wrapper. Contains page content -->
<!-- /.row -->
<!-- Main row -->
<a href="#" hidden data-toggle="modal" id="buttonAlert" data-target="#modal-xl">content</a>
@if (notification.Count() > 0)
{
    <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title font-weight-bold">Thông báo ngày @DateTime.Now.ToShortDateString()</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <table class="table table-hover table-bordered table-responsive-lg table-sm" id="dataTable" style="max-width:100%;">
                        <thead>
                            <tr >
                                <th width="15%" title="Bill">Bill</th>
                                <th width="10%" title="Loại">Khách hàng</th>
                                <th width="10%" title="Loại">Hãng tàu</th>
                                <th width="15%" title="Lưu cont">Lưu bãi</th>
                                <th width="15%" title="Lưu bãi">Lưu cont</th>
                                <th width="15%" title="Lưu rỗng">Lưu rỗng</th>
                                <th width="20%" title="Ghi chú">Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in notification)
                            {

                                if ((item.HanLuuBai != null & Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) < 2) || (item.HanLuuCont != null & Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) < 2) || (item.HanLuuRong != null & Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) < 2))
                                {

                                    <tr style="color:red">
                                        <td><a href="/ThongKe/Bill/CTBill/@item.Id">@item.MaBill</a></td>
                                        <td title="@db.DMBills.SingleOrDefault(x=> x.Id == item.Id).DMKhachHang.TenCongTy">@db.DMBills.SingleOrDefault(x => x.Id == item.Id).DMKhachHang.MaKH</td>
                                        <td title="@db.DMBills.SingleOrDefault(x=> x.Id == item.Id).HangTau">@db.DMBills.SingleOrDefault(x => x.Id == item.Id).HangTau</td>
                                        @if (item.HanLuuBai == null)
                                        {
                                            <td style="color:red">Chưa nhập hạn lưu bãi</td>
                                        }
                                        else
                                        {
                                            if (Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) == 0)
                                            {
                                                <td style="color:red">
                                                    Tới hạn (@item.HanLuuBai.Value.ToShortDateString())

                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) > 0 ? "Còn " : "Quá Hạn ")
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) > 0 ? Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) : Convert.ToInt64(Math.Abs((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays))) ngày (@item.HanLuuBai.Value.ToShortDateString())
                                                </td>
                                            }
                                        }

                                        @if (item.HanLuuBai == null)
                                        {
                                            <td style="color:red">Chưa nhập hạn lưu bãi</td>
                                        }
                                        else
                                        {
                                            if (Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) == 0)
                                            {
                                                <td style="color:red">
                                                    Tới hạn (@item.HanLuuCont.Value.ToShortDateString())

                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) > 0 ? "Còn " : "Quá Hạn ")
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) > 0 ?
                                    Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) :
                                    Convert.ToInt64(Math.Abs((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays))
                                    ) ngày (@item.HanLuuCont.Value.ToShortDateString())
                                </td>
                            }
                        }

                                        @if (item.HanLuuRong == null)
                                        {
                                            <td style="color:red">Chưa nhập hạn lưu rỗng</td>
                                        }
                                        else
                                        {
                                            if (Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) == 0)
                                            {
                                                <td style="color:red">
                                                    Tới hạn (@item.HanLuuRong.Value.ToShortDateString())

                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) > 0 ? "Còn " : "Quá Hạn ")
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) > 0 ? Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) :Convert.ToInt64(Math.Abs((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays))) ngày (@item.HanLuuRong.Value.ToShortDateString())
                                                </td>
                                            }
                                        }
                                        <td>@item.GhiChuBill</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td><a href="/ThongKe/Bill/CTBill/@item.Id">@item.MaBill</a></td>
                                        <td title="@db.DMBills.SingleOrDefault(x=> x.Id == item.Id).DMKhachHang.TenCongTy">@db.DMBills.SingleOrDefault(x => x.Id == item.Id).DMKhachHang.MaKH</td>
                                        <td title="@db.DMBills.SingleOrDefault(x=> x.Id == item.Id).HangTau">@db.DMBills.SingleOrDefault(x => x.Id == item.Id).HangTau</td>
                                        @if (item.HanLuuBai == null)
                                        {
                                            <td style="color:red">Chưa nhập hạn lưu bãi</td>
                                        }
                                        else
                                        {
                                            if (Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) == 0)
                                            {
                                                <td style="color:red">
                                                    Tới hạn (@item.HanLuuBai.Value.ToShortDateString())

                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) > 0 ? "Còn " : "Quá Hạn ")
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) > 0 ? Convert.ToInt64((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays) : Convert.ToInt64(Math.Abs((Convert.ToDateTime(item.HanLuuBai) - DateTime.Now.Date).TotalDays))) ngày (@item.HanLuuBai.Value.ToShortDateString())
                                                </td>
                                            }
                                        }

                                        @if (item.HanLuuBai == null)
                                        {
                                            <td style="color:red">Chưa nhập hạn lưu bãi</td>
                                        }
                                        else
                                        {
                                            if (Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) == 0)
                                            {
                                                <td style="color:red">
                                                    Tới hạn (@item.HanLuuCont.Value.ToShortDateString())

                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) > 0 ? "Còn " : "Quá Hạn ")
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) > 0 ?Convert.ToInt64((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays) :Convert.ToInt64(Math.Abs((Convert.ToDateTime(item.HanLuuCont) - DateTime.Now.Date).TotalDays))) ngày (@item.HanLuuCont.Value.ToShortDateString())
                                                </td>
                                            }
                                        }

                                        @if (item.HanLuuRong == null)
                                        {
                                            <td style="color:red">Chưa nhập hạn lưu rỗng</td>
                                        }
                                        else
                                        {
                                            if (Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) == 0)
                                            {
                                                <td style="color:red">
                                                    Tới hạn (@item.HanLuuRong.Value.ToShortDateString())

                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) > 0 ? "Còn " : "Quá Hạn ")
                                                    @(Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) > 0 ? Convert.ToInt64((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays) :Convert.ToInt64(Math.Abs((Convert.ToDateTime(item.HanLuuRong) - DateTime.Now.Date).TotalDays))) ngày (@item.HanLuuRong.Value.ToShortDateString())
                                                </td>
                                            }
                                        }
                                        <td>@item.GhiChuBill</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
@using (Html.BeginForm("AddTodoList", "Home", FormMethod.Post))
{
    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle">Thêm kế hoạch</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDiv">
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("EditTodoList", "Home", FormMethod.Post))
{
    <div class="modal fade" id="MyModalEditTodoList">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle">Chỉnh sửa</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalEditTodoList">
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <section class="col-lg-12 connectedSortable">
        <!-- /.card -->
        <!-- solid sales graph -->
        <div class="card ">
            <div class="card-header border-0">
                <h3 class="card-title">
                    <i class="fas fa-th mr-1"></i>
                    Giao - Nhận
                </h3>
            </div>
            <div class="card-body">
                <table class="table table-hover table-bordered table-striped table-responsive-lg table-sm" id="GiaoNhanTable" width="100%">
                    <thead>
                        <tr>
                            <th width="10%" title="ngày giao">Ngày giao</th>
                            <th width="10%" title="Khách hàng">Khách hàng</th>
                            <th width="5%" title="Kho">Kho</th>
                            <th width="5%" title="Loại">Loại</th>
                            <th width="10%" title="Số Cont">Số Cont</th>
                            <th width="15%" title="Số Bill">Số Bill</th>
                            <th width="5%" style="line-height: 18px;" title="Cảng Nhận">Cảng nhận</th>
                            <th width="5%" style="line-height: 18px;" title="Cảng trả">Cảng trả</th>
                            <th width="5%" title="Số Xe">Xe</th>
                            <th width="5%" style="line-height: 18px;" title="Thời gian">Thời gian</th>
                            <th width="25%" title="Ghi chú">Ghi Chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in db.PhatSinhs.OrderBy(x => x.Ngay))
                        {
                            if ((item.Ngay - DateTime.Now.Date).TotalDays + 0.7 >= 0)
                            {
                                <tr id="row_@item.Id">
                                    <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                                    <td title="@(item.KhachHang != null ? item.DMKhachHang.TenCongTy: null)">@(item.KhachHang != null ? item.DMKhachHang.MaKH : null)</td>
                                    <td title="@(item.Kho != null ? item.DMKho.DiaChiChiTiet: null )">@(item.Kho != null ? item.DMKho.MaKho : null)</td>
                                    <td>@(item.Loai != null ? item.DMLoai.MaLoai : null)</td>
                                    <td>@(item.SoCont != null ? item.SoCont : null)</td>
                                    <td>@(item.SoBill != null ? item.DMBill.MaBill: null)</td>
                                    <td title="@(item.CangNhan != null ? item.DMCang.TenCang: null )">@(item.CangNhan != null ? item.DMCang.MaCang: null)</td>
                                    <td title="@(item.CangTra != null ? item.DMCang1.TenCang: null )">@(item.CangTra != null ?item.DMCang1.MaCang : null)</td>
                                    <td title="@(item.TenTX != null ? item.DMNhanVien.TenNV : null) - @(item.Xe != null ? item.DMXe.BienSo : null)">@(item.Xe != null ? item.DMXe.MaXe : null)</td>
                                    <td>@(item.Thoigian != null ? item.DMThoiGian.ThoiGian : null)</td>
                                    <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <!-- /.card -->
    </section>
    <section class="col-lg-7 connectedSortable">
        <!-- /.card -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="ion ion-clipboard mr-1"></i>
                    Kế hoạch
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <ul class="todo-list" data-widget="todo-list">
                    @foreach (var item in db.TodoLists.OrderBy(x => x.Ngay))
                    {
                        if ((item.Ngay - DateTime.Now.Date).TotalDays >= 0)
                        {
                            <li id="row_@item.Id">
                                <!-- drag handle -->
                                <!-- checkbox -->
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox" class="todoCheck" value="" data-id="@item.Id" @(item.IsActive == false ? "checked" : null) name="todo1" onchange="todoCheck(@item.Id)" id="todoCheck-@item.Id">
                                    <label for="todoCheck-@item.Id"></label>
                                </div>
                                <span class="text">@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</span>
                                <span class="text">-</span>
                                <!-- todo text -->
                                <span class="text">@item.Mota</span>
                                <span class="text">-</span>
                                <!-- Emphasis label -->
                                <small class="badge badge-danger">
                                    <i class="far fa-clock">
                                        @if ((item.Ngay - DateTime.Now.Date).TotalDays - 0.5 < 0)
                                        {
                                            @(Convert.ToInt32((item.Ngay - DateTime.Now.Date).TotalHours));
                                            <b> Giờ</b>
                                        }
                                        else
                                        {
                                            @Convert.ToInt32((item.Ngay - DateTime.Now.Date).TotalDays);
                                            <b> Ngày</b>
                                        }
                                    </i>
                                </small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <a href="#" onclick='EditTodoList(@item.Id)'><i class="fas fa-edit"></i></a>
                                    @Ajax.ActionLink(" ", "Delete", new { @id = item.Id },
                                   new AjaxOptions
                                   {
                                       Confirm = "Bạn có chắc muốn xoá không ??",
                                       OnComplete = "$('#row_" + item.Id + "').remove()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "fas fa-trash" })
                                </div>
                            </li>
                        }
                        else if (item.IsActive == true)
                        {
                            <li id="row_@item.Id">
                                <!-- drag handle -->
                                <!-- checkbox -->
                                <div class="icheck-primary d-inline ml-2">
                                    <input type="checkbox" class="todoCheck" value="" data-id="@item.Id" @(item.IsActive == false ? "checked" : null) name="todo1" onchange="todoCheck(@item.Id)" id="todoCheck-@item.Id">
                                    <label for="todoCheck-@item.Id"></label>
                                </div>
                                <span class="text">@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</span>
                                <span class="text">-</span>
                                <!-- todo text -->
                                <span class="text">@item.Mota</span>
                                <span class="text">-</span>
                                <!-- Emphasis label -->
                                <small class="badge badge-danger">
                                    <i class="far fa-clock">
                                        @if ((item.Ngay - DateTime.Now.Date).TotalDays - 0.5 < 0)
                                        {
                                            @(Convert.ToInt32((item.Ngay - DateTime.Now.Date).TotalHours));
                                            <b> Giờ</b>
                                        }
                                        else
                                        {
                                            @Convert.ToInt32((item.Ngay - DateTime.Now.Date).TotalDays);
                                            <b> Ngày</b>
                                        }
                                    </i>
                                </small>
                                <!-- General tools such as edit or delete-->
                                <div class="tools">
                                    <a href="#" onclick='EditTodoList(@item.Id)'><i class="fas fa-edit"></i></a>
                                    @Ajax.ActionLink(" ", "Delete", new { @id = item.Id },
                                   new AjaxOptions
                                   {
                                       Confirm = "Bạn có chắc muốn xoá không ??",
                                       OnComplete = "$('#row_" + item.Id + "').remove()",
                                       HttpMethod = "Delete"
                                   }, new { @class = "fas fa-trash" })
                                </div>
                            </li>
                        }

                    }
                </ul>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
                <a href="#" class="btn btn-info float-right" onclick='AddTodoList()'><i class="fas fa-plus"></i> Add item</a>
            </div>
        </div>
        <!-- /.card -->
    </section>
    
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <!--<section class="col-lg-5 connectedSortable">-->
    <!-- /.card -->
    <!-- solid sales graph -->
    <!--<div class="card bg-gradient-info">
        <div class="card-header border-0">
            <h3 class="card-title">
                <i class="fas fa-th mr-1"></i>
                Thống kê lương
            </h3>-->
    <!-- <div class="card-tools">
        <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
            <i class="fas fa-times"></i>
        </button>
    </div>-->
    <!--</div>
    <div class="card-body">
        <canvas class="chart" id="line-chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
    </div>-->
    <!-- /.card-body -->
    <!--<div class="card-footer bg-transparent">
        <div class="row">
            <div class="col-4 text-center">
                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60"
                       data-fgColor="#39CCCC">
                <div class="text-white">Mail-Orders</div>
            </div>-->
    <!-- ./col -->
    <!--<div class="col-4 text-center">
        <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60"
               data-fgColor="#39CCCC">

        <div class="text-white">Online</div>
    </div>-->
    <!-- ./col -->
    <!--<div class="col-4 text-center">
        <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60"
               data-fgColor="#39CCCC">

        <div class="text-white">In-Store</div>
    </div>-->
    <!-- ./col -->
    <!--</div>-->
    <!-- /.row -->
    <!--</div>-->
    <!-- /.card-footer -->
    <!--</div>-->
    <!-- /.card -->
    <!--</section>-->
    <!-- right col -->
</div>
<!-- /.row (main row) -->
<!-- /.content-wrapper -->
<!-- ./wrapper -->
<!-- jQuery -->


@section js{
    <!-- ChartJS -->
    <script src="/Content/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/Content/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/Content/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/Content/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/Content/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- Summernote -->
    <script src="/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $('#GiaoNhanTable').DataTable({
            "ordering": false
        });

        // Make the dashboard widgets sortable Using jquery UI
        $('.connectedSortable').sortable({
            placeholder: 'sort-highlight',
            connectWith: '.connectedSortable',
            handle: '.card-header, .nav-tabs',
            forcePlaceholderSize: true,
            zIndex: 999999
        })
        $('.connectedSortable .card-header').css('cursor', 'move')
        $('.knob').knob()
        // Sales graph chart
        var salesGraphChartCanvas = $('#line-chart').get(0).getContext('2d')
        // $('#revenue-chart').get(0).getContext('2d');

        var salesGraphChartData = {
            labels: [],
            datasets: [

            ]
        }

        var salesGraphChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: '#efefef'
                    },
                    gridLines: {
                        display: false,
                        color: '#efefef',
                        drawBorder: false
                    }
                }],
                yAxes: [{
                    ticks: {
                        stepSize: 5000,
                        fontColor: '#efefef'
                    },
                    gridLines: {
                        display: true,
                        color: '#efefef',
                        drawBorder: false
                    }
                }]
            }
        }

        // This will get the first returned node in the jQuery collection.
        // eslint-disable-next-line no-unused-vars
        var salesGraphChart = new Chart(salesGraphChartCanvas, {
            type: 'line',
            data: salesGraphChartData,
            options: salesGraphChartOptions
        })

        function todoCheck(id) {
            if (document.getElementById("todoCheck-" + id).checked) {
                $.ajax({
                    url: "/Home/ChangeStatus",
                    data: { id: id },
                    dataType: "json",
                    type: "POST",

                });
            } else {
                $.ajax({
                    url: "/Home/ChangeStatus",
                    data: { id: id },
                    dataType: "json",
                    type: "POST",

                });
            }

        }

    </script>
}