@model IEnumerable<QLDL.EF.DMCang>
@{
    ViewBag.Title = "Danh mục Cảng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card h-100">
    <div class="card-body no-gutters">
        <h4>
            <b>Danh Mục Cảng</b>
            @Html.ActionLink("Thêm Cảng", "Create", null, new { @class = "btn btn-primary mb-1" })
        </h4>
        <br />
        <div class="table-responsive">
            @using (Html.BeginForm("Index", "DMCang", FormMethod.Post))
            {
                <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                    <thead>
                        <tr>

                            <th width="1%"><input type='checkbox' id='check' value='' /></th>
                            <th>Mã Cảng</th>
                            <th>Tên Cảng</th>
                            <td>#</td>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">

                                <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                <td>@item.MaCang</td>
                                <td>@item.TenCang</td>
                                <td>
                                    @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })
                                    &ensp;| &ensp;
                                    @Html.ActionLink("Copy", "Create", new { id = item.Id, Copy = "Copy" }, new { @class = "btn btn-primary mb-1" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <div class="form-group">
                    <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
                </div>
            }
            <div style="text-align:right">
                @using (Html.BeginForm("ImportExcel", "DMCang", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="Sheet" value="DMCang$" />
                    <input type="submit" id="Submit" name="Submit" value="Import Excel" class="btn btn-success" />
                    <label>

                        <input type="file" id="FileUpload" name="FileUpload" aria-label="EXCEL" />

                    </label>
                }
            </div>
        </div>
    </div>
</div>





