@model IEnumerable<QLDL.EF.PhatSinh>



<hr />
<h4><b>Phát Sinh</b></h4>
<div class="table-responsive">
    @using (Html.BeginForm("Create", "PhatSinh", FormMethod.Post))
    {

        <table class="table table-bordered table-striped" id="dataTable" width="100%">
            <thead>
                <tr>
                    <th width="1%"><input type='checkbox' id='check' value='' /></th>
                    <th>Ngày</th>
                    <th>Loại</th>
                    <th>KH</th>
                    <th>Kho</th>
                    <th>Số Cont</th>
                    <th>Số Bill</th>
                    <th>Tài xế</th>
                    <th>Số Xe</th>
                    <td>#</td>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr id="row_@item.Id">

                        <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                        <td>@item.Ngay.Value.ToShortDateString()</td>
                        <td>@item.DMLoai.MaLoai</td>
                        <td>@item.DMKhachHang.MaKH</td>
                        <td>@item.DMKho.MaKho</td>
                        <td>@item.SoCont</td>
                        <td>@item.DMBill.MaBill</td>
                        <td>@item.DMNhanVien.MaNV</td>
                        <td>@item.DMXe.MaXe</td>

                        <td>
                            <a href="/PhatSinh/Update/@item.Id">Sửa</a>&ensp;|&ensp;
                            <a href="/PhatSinh/Create/@item.Id?Copy=Copy">Copy</a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
        <div class="form-group">
            <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" /> / 

        </div>
    }

</div>


