@model List<PhanLong.EF.CTBill>
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/ThongKe/Bill/";
    ViewBag.Back = "Trở lại";
    var stt = 0;
}

@using (Html.BeginForm("Create", "PhatSinhBill", new { area = "NhapLieu" }, FormMethod.Post))
{
    <h4><b>@ViewBag.MaBill</b></h4>
    <span><b>Khách hàng: </b> @(ViewBag.KH != null ? ViewBag.KH : "Chưa có") </span> <span>|</span> <span><b>Cảng nhận: </b> @(ViewBag.CN != null ? ViewBag.CN : "Chưa có") </span><span>|</span> <span><b>Ngày tàu đến: </b> @(ViewBag.TD != null ? ViewBag.TD : "Chưa có") </span>
    <div class="card">
        <div class="card-header">
            <h5>
                <b>Danh sách Cont</b>
            </h5>
        </div>
        <div class="card-body">
            <input type="hidden" name="Bill" value="@ViewBag.IdBill" />
            <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                <thead>
                    <tr>
                        <th width="1%"><input type='checkbox' id='check' value='' /></th>
                        <th>STT</th>
                        <th>Số Cont</th>
                        <th>Số đăng ký</th>
                        <th>loại cont</th>
                        <th>Hạ rỗng</th>
                        <th>Hạn lưu bãi</th>
                        <th>Hạn lưu cont</th>
                        <th>Hạn lưu rỗng</th>
                        <th>Vị trí</th>
                        <th>Độ dày</th>
                        <th>Quy cách</th>
                        <th>Ngày giao</th>
                        <th>Kho giao</th>
                        <th>Ngày gửi</th>
                        <th>Xe gửi</th>
                        <th>Bãi gửi</th>
                        <th>Ghi Chú</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        stt += 1;
                        <tr>
                            <td width="1%"><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                            <td>@stt</td>
                            <td>@item.Cont</td>
                            <td>@item.SoDK</td>
                            <td title="@(item.Loai != null ? item.DMLoai.MoTa + " " + item.DMLoai.MoTa1 : null)">@(item.Loai != null ? item.DMLoai.MaLoai : null)</td>
                            <td title="@(item.HaRong != null ? item.DMCang1.TenCang : null)">@(item.HaRong != null ? item.DMCang1.MaCang : null)</td>
                            @if (item.NgayGui == null && item.NgayGiao == null)
                            {
                                if (item.HanLuuBai != null)
                                {
                                    var ngayluubai = (item.HanLuuBai.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluubai == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluubai > 3)
                                        {
                                            <td> @("Còn ( " + ngayluubai + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td style="color:red"> @(ngayluubai > 0 ? "Còn( " + ngayluubai + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluubai) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="color:red">Chưa nhập hạn lưu Bãi</td>
                                }
                                if (item.HanLuuCont != null)
                                {
                                    var ngayluucont = (item.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluucont == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluucont > 3)
                                        {
                                            <td> @("Còn ( " + ngayluucont + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td style="color:red"> @(ngayluucont > 0 ? "Còn( " + ngayluucont + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluucont) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="color:red"> Chưa nhập hạn lưu cont</td>
                                }
                                if (item.HanLuuRong != null)
                                {
                                    var ngayluurong = (item.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluurong == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluurong > 3)
                                        {
                                            <td> @("Còn ( " + ngayluurong + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td style="color:red"> @(ngayluurong > 0 ? "Còn( " + ngayluurong + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluurong) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td style="color:red"> Chưa nhập hạn lưu rỗng</td>
                                }
                            }
                            else if (item.NgayGiao != null)
                            {
                                <td>@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : "Chưa nhập hạn lưu bãi")</td>
                                <td>@(item.HanLuuCont != null ? item.HanLuuCont.Value.ToShortDateString() : "Chưa nhập hạn lưu cont")</td>
                                <td>@(item.HanLuuRong != null ? item.HanLuuRong.Value.ToShortDateString() : "Chưa nhập hạn lưu rỗng ")</td>
                            }
                            else if (item.NgayGui != null)
                            {
                                <td>@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : "Chưa nhập hạn lưu bãi")</td>


                                if (item.HanLuuCont != null)
                                {
                                    var ngayluucont = (item.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluucont == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluucont > 3)
                                        {
                                            <td> @("Còn ( " + ngayluucont + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td style="color:red"> @(ngayluucont > 0 ? "Còn( " + ngayluucont + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluucont) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td> Chưa nhập hạn lưu cont</td>
                                }
                                if (item.HanLuuRong != null)
                                {
                                    var ngayluurong = (item.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluurong == 0)
                                    {
                                        <td> Tới hạn </td>

                                    }
                                    else
                                    {
                                        if (ngayluurong > 3)
                                        {
                                            <td> @("Còn ( " + ngayluurong + " Ngày)") </td>
                                        }
                                        else
                                        {
                                            <td> @(ngayluurong > 0 ? "Còn( " + ngayluurong + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluurong) + " Ngày)") </td>
                                        }
                                    }
                                }
                                else
                                {
                                    <td> Chưa nhập hạn lưu rỗng</td>
                                }
                            }
                            <td>@item.ViTri</td>
                            <td>@item.DoDay</td>
                            <td>@item.QuyCach</td>
                            <td style="color:@(item.NgayGiao != null ? "black" : "red")">@(item.NgayGiao != null ? item.NgayGiao.Value.ToShortDateString() : "Chưa giao")</td>
                            <td title="@(item.Kho != null ? item.DMKho.DiaChiChiTiet + " " + item.DMKho.NguoiLienHe : null)">@(item.Kho != null ? item.DMKho.MaKho : null)</td>
                            <td style="color:@(item.NgayGui != null ? "black" : "red")">@(item.NgayGui != null ? item.NgayGui.Value.ToShortDateString() : "Chưa gửi bãi")</td>
                            <td title="@(item.SoXe != null ? item.DMXe.BienSo : null)">@(item.SoXe != null ? item.DMXe.MaXe : null)</td>
                            <td title="@(item.BaiGui != null ? item.DMCang.TenCang : null)">@(item.BaiGui != null ? item.DMCang.MaCang : null)</td>
                            <td>@(item.GhiChu != null ? item.GhiChu : null)</td>
                        </tr>
                    }
                </tbody>

            </table>
            <div class="margin">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                        Hành động
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" role="menu" style="">
                        <input type="submit" value="Gia hạn lưu rỗng" name="giahanluurong" id="giahanluurong" class="dropdown-item" />
                        <input type="submit" value="Gia hạn lưu cont" name="giahanluucont" id="giahanluucont" class="dropdown-item" />
                        <input type="submit" value="Gia hạn lưu bãi" name="giahanluubai" id="giahanluubai" class="dropdown-item" />
                        <input type="submit" value="Thêm ngày gửi bãi" name="themngayguibai" id="themngayguibai" class="dropdown-item" />
                        <input type="submit" value="Thêm ngày giao" name="themngaygiao" id="themngaygiao" class="dropdown-item" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}