@model IEnumerable<QLDL.EF.DMXe>
@{
    ViewBag.Title = "Danh mục Xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int a = 0;
}

<h4>Danh mục Xe</h4>
@Html.ActionLink("Thêm Xe", "Create", null, new { @class = "btn btn-primary mb-1" })
<hr />
<div class="table-responsive">@using (Html.BeginForm("Index", "PhatSinh", FormMethod.Post)){
    <table class="table table-bordered table-striped" id="dataTable" width="100%">
        <thead>
            <tr>

                <th width="1%"><input type='checkbox' id='check' value='' /></th>
                <th>Mã Xe</th>
                <th>Biển số</th>
                <td>#</td>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr id="row_@item.Id">

                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                    <td>@item.MaXe</td>
                    <td>@item.BienSo</td>
                    <td>
                        <a href="/DMXe/Update/@item.Id">Sửa</a>&ensp;|&ensp;
                        @Ajax.ActionLink("Xóa", "Delete", new { @id = item.Id }, new AjaxOptions
                   {
                       Confirm = "Bạn có chắc là muốn xóa xe " + item.MaXe + " không??",
                       OnComplete = "$('#row_" + @item.Id + "').remove()",
                       HttpMethod = "Delete"
                   })
                    </td>
                </tr>
            }
        </tbody>

    </table><div class="form-group"> <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" /></div>}
</div>



