@model PhanLong.EF.DMBill
@using PhanLong.EF

@{
    ViewBag.Title = "Danh mục bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "Index";
    ViewBag.Back = "Trở lại";
    PhanLongDBContext db = new PhanLongDBContext();
}

@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Content/plugins/daterangepicker/daterangepicker.css">
}

@section js{
    <!-- Select2 -->
    <script src="/Content/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
}
<div class="card">
    @using (Html.BeginForm("Create", "DMBill", FormMethod.Post))
    {
        <div class="card-header">
            <h4 class="card-title">
                <b>Thêm bill</b>
            </h4>
        </div>
        <div class="card-body">

            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.SoToKhai, htmlAttributes: new { @class = "col-form-label col-md-4  col-lg-5" })
                            <div class="col-md-8  col-lg-7">
                                @Html.EditorFor(model => model.SoToKhai, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                @Html.ValidationMessageFor(model => model.SoToKhai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.MaBill, htmlAttributes: new { @class = "col-form-label col-md-3  col-lg-4" })
                            <div class="col-md-9  col-lg-8">
                                @Html.EditorFor(model => model.MaBill, new { htmlAttributes = new { @class = "form-control form-control-sm", @required = true } })
                                @Html.ValidationMessageFor(model => model.MaBill, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.NgayTauDen, htmlAttributes: new { @class = "col-form-label col-md-4  col-lg-4" })
                            <div class="col-md-8  col-lg-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" name="NgayTauDen" class="form-control form-control-sm" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                </div>
                                @Html.ValidationMessageFor(model => model.NgayTauDen, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Lo, htmlAttributes: new { @class = "col-form-label col-md-4  col-lg-4" })
                            <div class="col-md-8  col-lg-8">
                                @Html.EditorFor(model => model.Lo, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                @Html.ValidationMessageFor(model => model.Lo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.NgayDK, htmlAttributes: new { @class = "col-form-label col-md-4  col-lg-4" })
                            <div class="col-md-8 col-lg-8">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" name="NgayDK" class="form-control form-control-sm" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                </div>
                                @Html.ValidationMessageFor(model => model.NgayDK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.NguoiGui, htmlAttributes: new { @class = "col-form-label col-md-4 col-lg-5" })
                            <div class="col-md-8 col-lg-7">
                                @Html.EditorFor(model => model.NguoiGui, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                @Html.ValidationMessageFor(model => model.NguoiGui, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.KhachHang, htmlAttributes: new { @class = "col-form-label col-md-2 col-lg-3" })
                            <div class="col-md-10 col-lg-9">
                                <select name="KhachHang" class="form-control form-control-sm select2" data-placeholder="Chọn khách hàng" required>
                                    <option value=""></option>
                                    @foreach (var item in db.DMKhachHangs)
                                    {
                                        <option value="@item.Id">@item.MaKH - @item.TenCongTy</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.KhachHang, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.CangNhan, htmlAttributes: new { @class = "col-form-label col-md-4 col-lg-5" })
                            <div class="col-md-8 col-lg-7">
                                <select name="CangNhan" class="form-control form-control-sm select2" data-placeholder="Chọn cảng nhận">
                                    <option value=""></option>
                                    @foreach (var item in db.DMCangs)
                                    {
                                        <option value="@item.Id">@item.MaCang - @item.TenCang</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.KhachHang, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.HangTau, htmlAttributes: new { @class = "col-form-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.HangTau, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                @Html.ValidationMessageFor(model => model.HangTau, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2" for="GhiChu">Ghi chú:</label>
                            <div class="col-md-10">
                                <textarea type="text" name="GhiChuBill" class="form-control form-control-sm" rows="1" placeholder="Ghi chú ...."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <h4 class="card-title">
                <b>Thêm cont</b>
            </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-lg-3" for="Cont">Cont:</label>
                        <div class="col-md-9 col-lg-9">
                            <input type="text" name="Cont" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4 col-lg-5" for="SoDK">Số đăng ký:</label>
                        <div class="col-md-8 col-lg-7">
                            <input type="text" name="SoDK" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4" for="Loai">Loại:</label>
                        <div class="col-md-8">
                            <select name="Loai" class="form-control form-control-sm select2" data-placeholder="Chọn loại">
                                <option value=""></option>
                                @foreach (var item in db.DMLoais)
                                {
                                    <option value="@item.Id">@item.MaLoai</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4" for="HaRong">Hạ rỗng:</label>
                        <div class="col-md-8">
                            <select name="HaRong" class="form-control form-control-sm select2" data-placeholder="Chọn cảng hạ rỗng">
                                <option value=""></option>
                                @foreach (var item in db.DMCangs)
                                {
                                    <option value="@item.Id">@item.MaCang -@item.TenCang</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-5" for="HanLuuBai">Hạn Lưu Bãi:</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="HanLuuBai" class="form-control form-control-sm" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-5" for="HanLuuCont">Hạn lưu cont:</label>
                        <div class="col-md-7">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="HanLuuCont" class="form-control form-control-sm" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="min-height:30px">
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-5 col-lg-5" for="HanLuuRong">H.Lưu Rỗng:</label>
                        <div class="col-md-7 col-lg-7">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="HanLuuRong" class="form-control form-control-sm" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3" for="Kho">Kho:</label>
                        <div class="col-md-9">
                            <select name="Kho" class="form-control form-control-sm select2" data-placeholder="Chọn kho">
                                <option value=""></option>
                                @foreach (var item in db.DMKhoes)
                                {
                                    <option value="@item.Id">@item.MaKho - @item.DiaChi</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4" for="ViTri">Vị trí:</label>
                        <div class="col-md-8">
                            <input type="text" name="ViTri" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4" for="DoDay">Độ dày:</label>
                        <div class="col-md-8">
                            <input type="text" name="DoDay" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-4" for="QuyCach">Quy cách:</label>
                        <div class="col-md-8">
                            <input type="text" name="QuyCach" class="form-control form-control-sm" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3 col-lg-4" for="GhiChu">Ghi chú:</label>
                        <div class="col-md-8">
                            <textarea type="text" name="GhiChu" class="form-control form-control-sm" rows="1" placeholder="Ghi chú ...."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Lưu và thêm cont" name="luuthem" class="btn btn-primary" />
                <input type="submit" value="Lưu và thoát" name="lutthoat" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

<div class="card">
    @using (Html.BeginForm("Index", "DMBill", FormMethod.Post))
    {
        Html.RenderAction("ViewDMBill", "DMBill");
    }
</div>

