@model IEnumerable<PhanLong.EF.DMBill>
@{
    ViewBag.Title = "Danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="card">
    <div class="card-header">
        <h5>
            <b>Danh Mục Bill</b>
            @Html.ActionLink("Thêm Bill", "Create", null, new { @class = "btn btn-primary mb-1" })
        </h5>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "DMBill", FormMethod.Post))
        {
            <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                <thead>
                    <tr>
                        <th width="1%"><input type='checkbox' id='check' value='' /></th>
                        <th>Số tờ khai</th>
                        <th>Mã Bill</th>
                        <th>Số lượng cont</th>
                        <th>Tàu đến</th>
                        <th>Người gửi</th>
                        <th>Khách Hàng</th>
                        <th>Cảng Nhận</th>
                        <th>Cảng Trả</th>
                        <th>Hạn Lưu Bãi</th>
                        <th>Hạn Lưu Cont</th>
                        <th>Hạn Lưu Rỗng</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        if (Model.Count() > 0)
                        {
                    <tr>
                        <td width="1%"><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                        <td>@(item.SoToKhai != null ? Html.ActionLink(item.SoToKhai, "CTBill", new { id = item.Id }) : null)</td>
                        <td>@(item.MaBill != null ? Html.ActionLink(item.MaBill, "CTBill", new { id = item.Id }) : null)</td>
                        @{ var cont = item.CTBills.Where(x => x.Bill == item.Id).ToList();}
                        <td>@cont.Count()</td>
                        <td>@(item.NgayTauDen != null ? item.NgayTauDen.Value.ToShortDateString() : null)</td>
                        <td>@(item.NguoiGui != null ? item.NguoiGui : null)</td>
                        <td>@(item.KhachHang != null ? item.DMKhachHang.TenCongTy : null)</td>
                        <td>@(item.CangNhan != null ? item.DMCang.TenCang : null)</td>
                        <td>@(item.CangTra != null ? item.DMCang1.TenCang : null)</td>
                        @{ var ngaygiao = item.CTBills.Where(x => x.Bill == item.Id && x.NgayGiao == null).FirstOrDefault();}
                        @{ var ngaygui = item.CTBills.Where(x => x.Bill == item.Id && x.NgayGui == null).FirstOrDefault();}
                        @if (item.CTBills.Count > 0)
                        {
                            if (ngaygiao == null && ngaygui == null)
                            {
                                <td>Đã hoàn tất</td>
                                <td>Đã hoàn tất</td>
                                <td>Đã hoàn tất</td>
                            }
                            else if (ngaygiao == null)
                            {
                                <td>Đã hoàn tất</td>
                                <td>Đã hoàn tất</td>
                                <td>Đã hoàn tất</td>
                            }
                            else if (ngaygiao != null && ngaygui != null)
                            {

                                if (ngaygui.HanLuuBai != null)
                                {
                                    var ngayluubai = (ngaygui.HanLuuBai.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluubai == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        <td style="color:red"> @(ngayluubai > 0 ? "Còn( " + ngayluubai + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluubai) + " Ngày)") </td>

                                    }
                                }
                                else
                                {
                                    <td>Chưa có hạn lưu Bãi</td>
                                }
                                if (ngaygui.HanLuuCont != null)
                                {
                                    var ngayluucont = (ngaygui.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluucont == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        <td style="color:red"> @(ngayluucont > 0 ? "Còn( " + ngayluucont + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluucont) + " Ngày)") </td>

                                    }
                                }
                                else
                                {
                                    <td> Chưa có hạn lưu cont</td>
                                }
                                if (ngaygui.HanLuuRong != null)
                                {
                                    var ngayluurong = (ngaygui.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluurong == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        <td style="color:red"> @(ngayluurong > 0 ? "Còn( " + ngayluurong + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluurong) + " Ngày)") </td>

                                    }
                                }
                                else
                                {
                                    <td> Chưa có hạn lưu rỗng</td>
                                }
                            }
                            else if (ngaygiao != null && ngaygui == null)
                            {

                                <td>Đã gửi bãi (Chưa giao)</td>
                                if (ngaygiao.HanLuuCont != null)
                                {
                                    var ngayluucont = (ngaygiao.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluucont == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        <td style="color:red"> @(ngayluucont > 0 ? "Còn( " + ngayluucont + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluucont) + " Ngày)") </td>

                                    }
                                }
                                else
                                {
                                    <td> Chưa có hạn lưu cont</td>
                                }
                                if (ngaygiao.HanLuuRong != null)
                                {
                                    var ngayluurong = (ngaygiao.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;
                                    if (ngayluurong == 0)
                                    {
                                        <td style="color:red"> Tới hạn </td>

                                    }
                                    else
                                    {
                                        <td style="color:red"> @(ngayluurong > 0 ? "Còn( " + ngayluurong + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluurong) + " Ngày)") </td>

                                    }
                                }
                                else
                                {
                                    <td> Chưa có hạn lưu rỗng</td>
                                }
                            }
                        }
                        else
                        {
                            <td>Chưa có cont</td>
                            <td>Chưa có cont</td>
                            <td>Chưa có cont</td>
                        }
                    </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="margin">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                        Hành động
                        <span class="sr-only">Hành động</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        <input type="submit" value="Chi tiết" name="chitiet" id="chitiet" class="dropdown-item" />
                        <input type="submit" value="Chỉnh sửa" name="update" id="update" class="dropdown-item" />
                        <input type="submit" value="Xóa" name="delete" id="delete" class="dropdown-item" />
                    </div>
                </div>
            </div>
        }
        <div class="col-md-2 float-sm-right">
            @using (Html.BeginForm("ImportExcel", "DMBill", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="hidden" name="Sheet" value="DMBill$" />
                <div class="form-group">
                    <label for="FileUpload">Thêm dữ liệu bằng file excel</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="FileUpload" id="FileUpload">
                            <label class="custom-file-label" for="FileUpload">Chọn file</label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" id="Submit" name="Submit" value="Import Excel" class="btn btn-success btn-flat" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section js{

}


