@model PhanLong.EF.CTBill

@using PhanLong.EF
@{
    ViewBag.Title = "Bill: " + ViewBag.Bill + " | " + "Số tờ khai: " + ViewBag.STK;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/DanhMuc/DMBill/CTBill/" + ViewBag.IdBill;
    ViewBag.Back = "Trở lại";
    PhanLongDBContext db = new PhanLongDBContext();
}


@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Content/plugins/daterangepicker/daterangepicker.css">
}
@section js{
    <!-- Select2 -->
    <script src="/Content/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            <b>Chỉnh sửa thông tin cont: @Model.Cont</b>
        </h4>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("UpdateCTBill", "DMBill", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" class="form-control" readonly name="Bill" value="@ViewBag.IdBill" />
                <input type="hidden" class="form-control" readonly name="Id" value="@ViewBag.CTBill" />
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3" style="text-align:right" for="Cont">Cont:</label>
                            <div class="col-md-9">
                                <input type="text" title="Để chỉnh sửa, vui lòng liên hệ quản trị viên!" name="Cont" class="form-control form-control-sm" value="@Model.Cont" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-5" style="text-align:right" for="SoDK">Số đăng ký:</label>
                            <div class="col-md-7">
                                <input type="text" name="SoDK" class="form-control form-control-sm" value="@Model.SoDK" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4" style="text-align:right" for="Loai">Loại cont:</label>
                            <div class="col-md-8">
                                <select name="Loai" class="form-control form-control-sm select2" data-placeholder="Chọn loại">
                                    @if (Model.Loai != null)
                                    {
                                        <option value="@Model.Loai">@Model.DMLoai.MaLoai</option>
                                    }
                                    else
                                    {
                                        <option value=""></option>
                                    }
                                    @foreach (var item in db.DMLoais)
                                    {
                                        <option value="@item.Id">@item.MaLoai</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4" style="text-align:right" for="HaRong">Hạ rỗng:</label>
                            <div class="col-md-8">
                                <select name="HaRong" class="form-control form-control-sm select2" data-placeholder="Chọn cảng hạ rỗng">
                                    @if (Model.HaRong != null)
                                    {
                                        <option value="@Model.HaRong">@Model.DMCang1.MaCang - @Model.DMCang1.TenCang</option>
                                    }
                                    else
                                    {
                                        <option value=""></option>
                                    }
                                    @foreach (var item in db.DMCangs)
                                    {
                                        <option value="@item.Id">@item.MaCang -@item.TenCang</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4 col-lg-5" style="text-align:right" for="HanLuuBai">Hạn Lưu Bãi:</label>
                            <div class="col-md-8 col-lg-7">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" name="HanLuuBai" class="form-control form-control-sm" value="@Model.HanLuuBai" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-5" style="text-align:right" for="HanLuuCont">Hạn lưu cont:</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" name="HanLuuCont" class="form-control form-control-sm" value="@Model.HanLuuCont" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-5  col-lg-5" style="text-align:right" for="HanLuuRong">H.Lưu Rỗng:</label>
                            <div class="col-md-7  col-lg-7">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" name="HanLuuRong" class="form-control form-control-sm" value="@Model.HanLuuRong" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3" style="text-align:right" for="ViTri">Vị trí:</label>
                            <div class="col-md-9">
                                <input type="text" name="ViTri" class="form-control form-control-sm" value="@Model.ViTri" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3  col-lg-4" style="text-align:right" for="DoDay">Độ dày:</label>
                            <div class="col-md-9  col-lg-8">
                                <input type="text" name="DoDay" class="form-control form-control-sm" value="@Model.DoDay" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-4" style="text-align:right" for="QuyCach">Quy cách:</label>
                            <div class="col-md-8">
                                <input type="text" name="QuyCach" class="form-control form-control-sm" value="@Model.QuyCach" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-5" style="text-align:right" for="NgayGiao">Ngày giao:</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" name="NgayGiao" class="form-control form-control-sm" value="@Model.NgayGiao" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2" style="text-align:right" for="SoXe">Xe:</label>
                            <div class="col-md-10">
                                <select name="SoXe" class="form-control form-control-sm select2" data-placeholder="Chọn kho">
                                    @if (Model.SoXe != null)
                                    {
                                        <option value="@Model.SoXe">@Model.DMXe.MaXe</option>
                                    }
                                    else
                                    {
                                        <option value=""></option>
                                    }
                                    @foreach (var item in db.DMXes)
                                    {
                                        <option value="@item.Id">@item.MaXe</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 30px;">
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-2  col-lg-3" style="text-align:right" for="Kho">Kho:</label>
                            <div class="col-md-10  col-lg-9">
                                <select name="Kho" class="form-control form-control-sm select2" data-placeholder="Chọn kho">
                                    @if (Model.Kho != null)
                                    {
                                        <option value="@Model.Kho">@Model.DMKho.MaKho - @Model.DMKho.DiaChi</option>
                                    }
                                    else
                                    {
                                        <option value=""></option>
                                    }
                                    @foreach (var item in db.DMKhoes)
                                    {
                                        <option value="@item.Id">@item.MaKho -  @item.DiaChi</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-5" style="text-align:right" for="NgayGui">Ngày gửi:</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" name="NgayGui" class="form-control form-control-sm" value="@Model.NgayGui" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group row">
                            <label class="col-form-label col-md-3  col-lg-4" style="text-align:right" for="BaiGui">Bãi gửi:</label>
                            <div class="col-md-9  col-lg-8">
                                <select name="Kho" class="form-control form-control-sm select2" data-placeholder="Chọn kho">
                                    @if (Model.BaiGui != null)
                                    {
                                        <option value="@Model.Kho">@Model.DMCang.MaCang - @Model.DMCang.TenCang</option>
                                    }
                                    else
                                    {
                                        <option value=""></option>
                                    }
                                    @foreach (var item in db.DMCangs)
                                    {
                                        <option value="@item.Id">@item.MaCang -  @item.TenCang</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </div>
        }
    </div>
</div>

