@model IEnumerable<PhanLong.EF.CTBill>

<!-- body -->
<input type="hidden" readonly name="Bill" value="@ViewBag.IdBill" />
<div class="card-header">
    <h3 class="card-title">
        <b>Danh sách cont</b>
    </h3>
</div>
<div class="card-body">
    <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
        <thead>
            <tr>
                <th width="1%"><input type='checkbox' id='check' value='' /></th>
                <th>Số Cont</th>
                <th>Loại</th>
                <th>Mã kho</th>
                <th>Số DK</th>
                <th>Seal</th>
                <th>Độ dày</th>
                <th>Quy Cách</th>
                <th>Hạn Lưu Bãi</th>
                <th>Hạn lưu Cont</th>
                <th>Hạn Lưu rỗng</th>
                <th>Ngày gữi bãi</th>
                <th>Ngày giao</th>
                <th>Xe</th>
                <th>Bãi gửi</th>
                <th>Ghi Chú</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr id="row_@item.Id">
                <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                <td>@item.Cont</td>
                <td>@(item.Loai != null ? item.DMLoai.MaLoai: null)</td>
                <td title="@(item.Kho != null ? item.DMKho.DiaChi : null )">@(item.Kho != null ? item.DMKho.MaKho : null )</td>
                <td>@item.SoDK</td>
                <td>@item.Seal</td>
                <td>@item.DoDay</td>
                <td>@item.QuyCach</td>
                @if (item.NgayGui == null && item.NgayGiao == null)
                {
                    if (item.HanLuuBai != null)
                    {
                        var ngayluubai = (item.HanLuuBai.Value.Date - DateTime.Now.Date).TotalDays;
                        if (ngayluubai == 0)
                        {
                            <td style="color:red"> Tới hạn </td>

                        }
                        else
                        {
                            <td style="color:red"> @(ngayluubai > 0 ? item.HanLuuBai.Value.ToShortDateString() + "(Còn" + ngayluubai + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluubai) + " Ngày)") </td>

                        }
                    }
                    else
                    {
                        <td>Chưa có hạn lưu Bãi</td>
                    }
                    if (item.HanLuuCont != null)
                    {
                        var ngayluucont = (item.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;
                        if (ngayluucont == 0)
                        {
                            <td style="color:red"> Tới hạn </td>

                        }
                        else
                        {
                            <td style="color:red"> @(ngayluucont > 0 ? item.HanLuuCont.Value.ToShortDateString() + "(Còn" + ngayluucont + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluucont) + " Ngày)") </td>

                        }
                    }
                    else
                    {
                        <td> Chưa có hạn lưu cont</td>
                    }
                    if (item.HanLuuRong != null)
                    {
                        var ngayluurong = (item.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;
                        if (ngayluurong == 0)
                        {
                            <td style="color:red"> Tới hạn </td>

                        }
                        else
                        {
                            <td style="color:red"> @(ngayluurong > 0 ? item.HanLuuRong.Value.ToShortDateString() + "(Còn" + ngayluurong + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluurong) + " Ngày)") </td>

                        }
                    }
                    else
                    {
                        <td> Chưa có hạn lưu rỗng</td>
                    }
                }
                else if (item.NgayGiao != null)
                {
                    <td style="color:@(item.HanLuuBai != null ? "black" : "red")">@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : "Chưa nhập hạn lưu bãi")</td>
                    <td style="color:@(item.HanLuuCont != null ? "black" : "red")">@(item.HanLuuCont != null ? item.HanLuuCont.Value.ToShortDateString() : "Chưa nhập hạn lưu cont")</td>
                    <td style="color:@(item.HanLuuRong != null ? "black" : "red")">@(item.HanLuuRong != null ? item.HanLuuRong.Value.ToShortDateString() : "Chưa nhập hạn lưu rỗng ")</td>
                }
                else if (item.NgayGui != null)
                {
                    <td style="color:@(item.HanLuuBai != null ? "black" : "red")">@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : "Chưa nhập hạn lưu bãi")</td>


                    if (item.HanLuuCont != null)
                    {
                        var ngayluucont = (item.HanLuuCont.Value.Date - DateTime.Now.Date).TotalDays;
                        if (ngayluucont == 0)
                        {
                            <td style="color:red"> Tới hạn </td>

                        }
                        else
                        {
                            <td style="color:red"> @(ngayluucont > 0 ? item.HanLuuCont.Value.ToShortDateString() + "(Còn " + ngayluucont + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluucont) + " Ngày)") </td>

                        }
                    }
                    else
                    {
                        <td> Chưa có hạn lưu cont</td>
                    }
                    if (item.HanLuuRong != null)
                    {
                        var ngayluurong = (item.HanLuuRong.Value.Date - DateTime.Now.Date).TotalDays;
                        if (ngayluurong == 0)
                        {
                            <td style="color:red"> Tới hạn </td>

                        }
                        else
                        {
                            <td style="color:red"> @(ngayluurong > 0 ? item.HanLuuRong.Value.ToShortDateString() + "(Còn" + ngayluurong + " Ngày)" : "Quá hạn ( " + Math.Abs(ngayluurong) + " Ngày)") </td>

                        }
                    }
                    else
                    {
                        <td> Chưa có hạn lưu rỗng</td>
                    }
                }
                <td style="color:@(item.NgayGui != null ? "Blue" : "Red")">@(item.NgayGui != null ? item.NgayGui.Value.ToShortDateString() : "Chưa gửi bãi")</td>
                <td style="color:@(item.NgayGiao != null ? "Blue" : "Red")">@(item.NgayGiao != null ? item.NgayGiao.Value.ToShortDateString() : "Chưa giao")</td>
                <td>@(item.SoXe != null ? item.DMXe.BienSo : null)</td>
                <td>@(item.BaiGui != null ? item.DMCang.TenCang : null)</td>

                <td class="cell expand-maximum-on-hover">@item.GhiChu</td>
            </tr>
            }
        </tbody>

    </table>
    <div class="margin">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                Hành động
                <span class="sr-only">Hành động</span>
            </button>
            <div class="dropdown-menu" role="menu">
                <input type="submit" value="Chỉnh sửa" name="update" id="update" class="dropdown-item" />
                <input type="submit" value="Xóa" name="delete" id="delete" class="dropdown-item" />
            </div>
        </div>
    </div>
</div>



