@model IEnumerable<PhanLong.EF.PhatSinh>
@using PhanLong.EF
@using PhanLong.Common
@using System.Globalization;

@{
    ViewBag.Title = "Nhập liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PhanLongDBContext db = new PhanLongDBContext();
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    var role = db.Credentials.Where(x => x.UserId == session.UserID);
}

@section css{
    <style>
        .table thead th {
            line-height: 23px !important;
        }
    </style>
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <b>Phát sinh</b>
            @if (role.Where(x => x.RoleId == "ADD_PHATSINH").Count() > 0 || session.GroupID == "ADMIN" || session.GroupID == "BOSS")
            {
                @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary mb-1" })
            }
        </h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Index", "PhatSinh", FormMethod.Post))
        {
            <table class="table table-hover table-bordered  table-striped table-sm" id="example1" style="width:100%;">
                <thead>
                    <tr>
                        <th width="1%"><input type='checkbox' id='check' value='' /></th>
                        <th title="ngày giao">Ngày giao</th>
                        <th title="Khách hàng">Khách hàng</th>
                        <th title="Kho">Kho</th>
                        <th title="Loại">Loại</th>
                        <th title="Số Cont">Số Cont</th>
                        <th title="Số Bill">Số Bill</th>
                        <th title="Cảng Nhận">Cảng nhận</th>
                        <th title="Cảng trả">Cảng trả</th>
                        <th title="Cước">Cước</th>
                        <th title="Cước Tài Xế">Cước tài xế</th>
                        <th title="Tên tài xế">Tài xế</th>
                        <th title="Số Xe">Xe</th>
                        <th title="Hoá đơn nâng">Hoá đơn nâng</th>
                        <th title="Tiền nâng">Tiền nâng</th>
                        <th title="Hoá đơn Hạ">Hoá đơn hạ</th>
                        <th title="Tiền hạ">Tiền hạ</th>
                        <th title="Phí Khách hàng">Phí khách hàng</th>
                        <th title="Tiền Phí khách hàng">Tiền phí KH</th>
                        <th title="Phí công ty">Phí Công Ty</th>
                        <th title="Tiền phí công ty">Tiền Phí CT</th>
                        <th title="Thời gian">Thời gian</th>
                        <th title="Ghi chú">Ghi Chú</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if ((DateTime.Now - item.Ngay).TotalDays < 32)
                        {
                            <tr id="row_@item.Id">
                                <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                                <td title="@(item.KhachHang != null ? item.DMKhachHang.TenCongTy: null )">@(item.KhachHang != null ? item.DMKhachHang.MaKH: null )</td>
                                <td title="@(item.Kho != null ? item.DMKho.DiaChi: null )">@(item.Kho != null ? item.DMKho.MaKho : null)</td>
                                <td>@(item.Loai != null ? item.DMLoai.MaLoai : null)</td>
                                <td>@(item.SoCont != null ? item.SoCont : null)</td>
                                <td>@(item.SoBill != null ? item.DMBill.MaBill: null)</td>
                                <td title="@(item.CangNhan != null ? item.DMCang.TenCang: null )">@(item.CangNhan != null ? item.DMCang.MaCang: null)</td>
                                <td title="@(item.CangTra != null ? item.DMCang1.TenCang: null )">@(item.CangTra != null ?item.DMCang1.MaCang : null)</td>
                                <td style="text-align:right">@(item.CuocKH != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.CuocKH)) : null)</td>
                                <td style="text-align:right">@(item.CuocTX != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.CuocTX)) : null)</td>
                                <td title="@(item.DMNhanVien != null ? item.DMNhanVien.TenNV : null)">@(item.DMNhanVien != null ? item.DMNhanVien.MaNV : null)</td>
                                <td title="@(item.Xe != null ? item.DMXe.BienSo : null)">@(item.Xe != null ? item.DMXe.MaXe : null)</td>
                                <td>@(item.HDNang != null ? item.HDNang : null)</td>
                                <td style="text-align:right">@(item.TienNang != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienNang))  : null)</td>
                                <td>@(item.HDHa != null ? item.HDHa : null)</td>
                                <td style="text-align:right">@(item.TienHa != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienHa)) : null )</td>
                                <td>@(item.PhiKH != null ? item.PhiKH : null)</td>
                                <td style="text-align:right">@(item.TienPhiKH != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienPhiKH)) : null)</td>
                                <td>@(item.PhiCT != null ? item.DMPhi.TenPhi : null)</td>
                                <td style="text-align:right">@(item.TienPhiCT!= null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienPhiCT)): null )</td>
                                <td>@(item.Thoigian != null ? item.DMThoiGian.ThoiGian : null)</td>
                                <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="margin">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                        Hành động
                        <span class="sr-only">Hành động</span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        @if (role.Where(x => x.RoleId == "DELETE_PHATSINH").Count() > 0 || session.GroupID == "ADMIN" || session.GroupID == "BOSS")
                        {
                            <input type="submit" value="Xóa" name="delete" id="delete" class="dropdown-item" />
                        }
                        @if (role.Where(x => x.RoleId == "EDIT_PHATSINH").Count() > 0 || session.GroupID == "ADMIN" || session.GroupID == "BOSS")
                        {
                            <input type="submit" value="Chỉnh sửa" name="update" id="update" class="dropdown-item" />
                        }
                        <input type="submit" value="Copy" name="Copy" id="Copy" class="dropdown-item" />
                        <input type="submit" value="Kế hoạch" name="kehoach" id="kehoach" class="dropdown-item" />
                    </div>
                </div>
            </div>

            @*<div class="form-group">
                    <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
                    <input type="submit" value="Chỉnh sửa" name="update" id="update" class="btn btn-primary" />
                    <input type="submit" value="Kế hoạch" name="kehoach" id="kehoach" class="btn btn-success" />
                </div>*@

        }
        @*<div style="text-align:right">
                @using (Html.BeginForm("ImportExcel", "PhatSinh", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="Sheet" value="PhatSinh$" />
                    <input type="submit" id="Submit" name="Submit" value="Import Excel" class="btn btn-success" />
                    <label>
                        <input type="file" id="FileUpload" name="FileUpload" aria-label="EXCEL" />
                    </label>
                }
            </div>*@
    </div>
</div>


@section js{
    <script src="/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/Content/plugins/jszip/jszip.min.js"></script>
    <script src="/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/Content/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $("#example1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false, "ordering": false,
            "buttons": ["excel"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    </script>
}
