@model PhanLong.EF.PhatSinh
@using PhanLong.EF
@{
    ViewBag.Title = "Kế hoạch phát sinh";
    ViewBag.Style = "/Content/table/Table-kehoach.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/NhapLieu/PhatSinh/";
    ViewBag.Back = "Trở lại";
    PhanLongDBContext db = new PhanLongDBContext();
    var data = db.CTBills.Where(x => x.Cont == Model.SoCont && x.Bill == Model.SoBill).SingleOrDefault();
}


@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <link href="~/Content/dist/css/Print.css" rel="stylesheet" />
}
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 11px;
            overflow: hidden;
            padding: 2px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 11px;
            font-weight: normal;
            overflow: hidden;
            padding: 2px 5px;
            word-break: normal;
        }

        .tg .tg-pmdb {
            border-color: #ffffff;
            font-size: 11px;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-cd1c {
            border-color: #ffffff;
            font-family: Arial, Helvetica, sans-serif !important;
            ;
            font-size: 12px;
            text-align: right;
            vertical-align: middle
        }

        .tg .tg-eewm {
            border: hidden;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 11px;
            text-align: left;
            vertical-align: middle
        }

        .tg .tg-eewm1 {
            border: hidden;
            border-bottom: #000000;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 11px;
            text-align: left;
            vertical-align: middle
        }

        .tg .tg-463q {
            border-color: #ffffff;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 13px;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-0lm0 {
            border-top: #ffffff;
            border-left: #ffffff;
            border-right: #ffffff;
            border-bottom: hidden;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 11px;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-1s7z {
            border-color: #000000;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 11px;
            font-weight: bold;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-s7q6 {
            border-color: #000000;
            font-family: Arial, Helvetica, sans-serif !important;
            font-size: 11px;
            text-align: center;
            vertical-align: middle
        }

    .form-control-sm {
        font-size: 11px;
    }
</style>
@*<div class="container card" style="width:550px">
        <table class="tg">

            <thead>
                <tr>
                    <th class="tg-8n49" colspan="2"><img style="width:30px;height:30px" src="~/Images/logo.png" /><b>Công ty TNHH Phan Long</b></th>
                    <th class="tg-clnv" colspan="3">@Model.Ngay.ToShortDateString()</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tg-7eit" colspan="5" style="padding:2px 5px"><h5><b>Kế hoạch giao/nhận</b></h5></td>
                </tr>
                <tr>
                    <td class="tg-7eit" colspan="5" style="padding:2px 5px">Tài xế: <b>@(Model.TenTX != null ? Model.DMNhanVien.TenNV : null)</b>&emsp;|&emsp;Số xe: <b>@(Model.Xe != null ? Model.DMXe.BienSo: null) </b></td>
                </tr>
                <tr>
                    <td class="tg-8n48"><b>TT xuất HD: </b></td>
                    <td class="tg-7eiz" colspan="4">
                        <b>
                            <select class="form-control form-control-sm select2" data-placeholder="">
                                <option value=""></option>
                                @foreach (var item in db.DMKhachHangs)
                                {
                                    <option>@(item.MST != null ? item.MST +' '+'-' +' ' : null) @item.TenCongTy</option>
                                }
                            </select>
                        </b>
                    </td>
                </tr>

                <tr>
                    <td class="tg-8n49" colspan="2">Cảng nâng: <b>@(Model.CangNhan != null ? Model.DMCang.TenCang : null) </b></td>
                    <td class="tg-8n49" colspan="3">Cảng hạ: <b>@(Model.CangTra != null ? Model.DMCang1.TenCang : null) </b></td>
                </tr>
                <tr>
                    <td class="tg-8n49" colspan="5">Địa chỉ kho: <b>@(Model.Kho != null  ? Model.DMKho.DiaChiChiTiet : null)  </b> </td>
                </tr>
                <tr>
                    <td class="tg-8n49" colspan="2">Người liên hệ :<b> @(Model.Kho != null ? Model.DMKho.NguoiLienHe : null)</b></td>
                    <td class="tg-8n49" colspan="3">Số điện thoại: <b>@(Model.Kho != null ? Model.DMKho.SoDienThoai : null) </b></td>
                </tr>
                <tr>
                   <td class="tg-8n49" colspan="2">Thời gian có mặt: <b>@(Model.Thoigian != null ? @Model.DMThoiGian.ThoiGian : null)</b></td>
                    <td class="tg-8n49" colspan="3">Ghi chú: <b>@Model.GhiChu</b></td>
                </tr>
                <tr>
                    <td class="tg-9wq7" colspan="2"><b>Bill/Booking: </b> @(Model.DMBill != null ? Model.DMBill.MaBill : null)</td>
                    <td class="tg-9wq6" colspan="3"><b>Ngày tàu đến: </b> @(Model.DMBill != null ? Model.DMBill.NgayTauDen.Value.ToShortDateString() : null)</td>
                </tr>
                <tr>
                    @if (data != null && data.HanLuuBai != null)
                    {
                        <td class="tg-81u1" colspan="2">
                            <b>Hạn lưu bãi: </b>@data.HanLuuBai.Value.ToShortDateString()
                        </td>
                    }
                    else
                    {
                        <td class="tg-81u1" colspan="2">
                            <b>Hạn lưu bãi: </b>
                        </td>
                    }
                    @if (data != null && data.HanLuuRong != null)
                    {
                        <td class="tg-81u0" colspan="3">
                            <b>Hạn lưu rỗng: </b>@data.HanLuuRong.Value.ToShortDateString()
                        </td>
                    }
                    else
                    {
                        <td class="tg-81u0" colspan="3">
                            <b>Hạn lưu rỗng: </b>
                        </td>
                    }
                </tr>
                <tr>
                    <td width="20%" class="tg-vhtn"><b>Số Cont</b></td>
                    <td width="20%" class="tg-vhtn"><b>Số đăng ký</b></td>
                    <td width="20%" class="tg-vhtn"><b>Vị trí</b></td>
                    <td width="20%" class="tg-vhtn"><b>Kích cỡ</b></td>
                    <td width="20%" class="tg-vhtn"><b>loại hàng</b></td>
                </tr>
                <tr>
                    <td class="tg-vhtn">@(Model.SoCont != null ? Model.SoCont : null)</td>
                    <td class="tg-vhtn">@(data != null ? data.SoDK : null)</td>
                    <td class="tg-vhtn">@(data != null ? data.ViTri : null)</td>
                    <td class="tg-vhtn">@(Model.Loai != null ? Model.DMLoai.MoTa : null)</td>
                    <td class="tg-vhtn">@(Model.Loai != null ? Model.DMLoai.MoTa1 : null)</td>
                </tr>
            </tbody>
        </table>
    </div>*@


<div class="container card" style="width:415px">
    <table class="tg" style="undefined;table-layout: fixed; width: 400px">
        <colgroup>
            <col style="width: 100px">
            <col style="width: 100px">
            <col style="width: 100px">
            <col style="width: 100px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-cd1c" colspan="2"><img style="width:30px;height:30px" src="~/Images/logo.png" /><span style="font-weight:bold">Công ty TNHH Phan Long</span></th>
                <th class="tg-eewm"></th>
                <th class="tg-eewm"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-eewm"></td>
                <td class="tg-463q" colspan="2"><span style="font-weight:bold">Kế hoạch giao/nhận</span></td>
                <td class="tg-eewm"></td>
            </tr>
            <tr>
                <td class="tg-eewm"></td>
                <td class="tg-0lm0" colspan="2">Ngày <input type="text" readonly class="form-control form-control-sm" style="width:80px; display:inherit;" value="@(Model.Ngay!=null ? Model.Ngay.ToShortDateString(): null)" /></td>
                <td class="tg-eewm"></td>
            </tr>
            <tr style="border: 1px solid #000000">
                <td class="tg-0lm0"  colspan="4">Thời gian có mặt <input type="text" readonly class="form-control form-control-sm" style="width:45px; display:inherit;" value="@(Model.Thoigian != null ? Model.DMThoiGian.ThoiGian : null)" />  </td>
            </tr>
            <tr>
                <td class="tg-eewm" style="border: 1px solid #000000"></td>
                <td class="tg-0lm0" colspan="2">Số xe  <input type="text" readonly class="form-control form-control-sm" style="width:80px; display:inherit;" value="@(Model.Xe != null ? Model.DMXe.BienSo : null)" /></td>
                <td class="tg-eewm"></td>
            </tr>
            <tr>
                <td class="tg-eewm"></td>
                <td class="tg-0lm0" colspan="2">Tài xế <input type="text" readonly class="form-control form-control-sm" style="width:150px; display:inherit;" value="@(Model.TenTX != null ? Model.DMNhanVien.TenNV : null)" /></td>
                <td class="tg-eewm"></td>
            </tr>
            <tr>
                <td class="tg-eewm"></td>
                <td class="tg-0lm0" colspan="2">Kích cỡ <input type="text" readonly class="form-control form-control-sm" style="width:45px; display:inherit;" value="@(Model.Loai != null ? Model.DMLoai.MoTa : null)" /></td>
                <td class="tg-eewm"></td>
            </tr>
            <tr>
                <td class="tg-eewm" colspan="4">Địa chỉ kho <input type="text" readonly class="form-control form-control-sm" style="width:330px; display:inherit;" value="@(Model.Kho != null ? Model.DMKho.DiaChi : null)" /></td>
            </tr>
            <tr>
                <td class="tg-eewm" colspan="2">Người liên hệ <input type="text" readonly class="form-control form-control-sm" style="width:120px; display:inherit;" value="@(Model.Kho != null ? Model.DMKho.NguoiLienHe : null)" /></td>
                <td class="tg-eewm" colspan="2">Số điện thoại <input type="text" readonly class="form-control form-control-sm" style="width:120px; display:inherit;" value="@(Model.Kho != null ? Model.DMKho.SoDienThoai : null)" /></td>
            </tr>
            <tr>
                <td class="tg-eewm" colspan="2">Cảng nâng <input type="text" readonly class="form-control form-control-sm" style="width:132px; display:inherit;" value="@(Model.CangNhan != null ? Model.DMCang.TenCang : null)" /></td>
                <td class="tg-eewm" colspan="2">Cảng hạ <input type="text" readonly class="form-control form-control-sm" style="width:143px; display:inherit;" value="@(Model.CangTra != null ? Model.DMCang1.TenCang : null)" /></td>
            </tr>
            <tr>
                <td class="tg-eewm" colspan="4">Ghi chú <input type="text" readonly class="form-control form-control-sm" style="width:347px; display:inherit;" value="@(Model.GhiChu != null ? Model.GhiChu : null)" /></td>
            </tr>
            <tr>
                <td class="tg-eewm" colspan="4">Số Bill <input type="text" readonly class="form-control form-control-sm" style="width:353px; display:inherit;" value="@(Model.SoBill != null ? Model.DMBill.MaBill : null)" /></td>
                <td class="tg-eewm"></td>
            </tr>
            <tr>
                @if (data != null && data.HanLuuBai != null)
                {
                    <td class="tg-eewm1" colspan="2">Hạn lưu bãi: <input type="text" readonly class="form-control form-control-sm" style="width:120px; display:inherit;" value="@data.HanLuuBai.Value.ToShortDateString()" /></td>
                }
                else
                {
                    <td class="tg-eewm1" colspan="2">
                        Hạn lưu bãi:
                    </td>
                }
                @if (data != null && data.HanLuuRong != null)
                {
                    <td class="tg-eewm1" colspan="2">Hạn lưu rỗng: <input type="text" readonly class="form-control form-control-sm" style="width:115px; display:inherit;" value="@data.HanLuuRong.Value.ToShortDateString()" /></td>

                }
                else
                {
                    <td class="tg-eewm1" colspan="2">
                        Hạn lưu rỗng:
                    </td>
                }
            </tr>
            <tr>
                <td class="tg-1s7z">Số Cont</td>
                <td class="tg-1s7z">Mã nhận cont</td>
                <td class="tg-1s7z">Vị trí</td>
                <td class="tg-1s7z">Loại hàng</td>
            </tr>
            <tr>
                <td class="tg-s7q6">@(Model.SoCont != null ? Model.SoCont : null)</td>
                <td class="tg-s7q6">@(data != null ? data.SoDK : null)</td>
                <td class="tg-s7q6">@(data != null ? data.ViTri : null)</td>
                <td class="tg-s7q6">@(Model.Loai != null ? Model.DMLoai.MoTa1 : null)</td>
            </tr>
            <tr>
                <td class="tg-pmdb"></td>
                <td class="tg-pmdb"></td>
                <td class="tg-pmdb"></td>
                <td class="tg-pmdb"></td>
            </tr>
            <tr>
                <td class="tg-pmdb" colspan="4"><span style="font-style:italic">Ghi chú: Cần kiểm tra thông tin xuất hóa đơn</span></td>
            </tr>
            <tr>
                <td class="tg-pmdb" colspan="4">Mã số thuế:</td>
            </tr>
            <tr>
                <td class="tg-pmdb" colspan="4">Tên công ty:</td>
            </tr>
            <tr>
                <td class="tg-pmdb" colspan="4">Địa chỉ: </td>
            </tr>
        </tbody>
    </table>
</div>
