@model PhanLong.EF.PhatSinh
@using PhanLong.EF
@{
    ViewBag.Title = "Kế hoạch phát sinh";
    ViewBag.Style = "/Content/table/Table-kehoach.css";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/NhapLieu/PhatSinh/";
    ViewBag.Back = "Trở lại";
    PhanLongDBContext db = new PhanLongDBContext();
    var data = db.CTBills.Where(x => x.Loai == Model.Loai && x.Cont == Model.SoCont).FirstOrDefault();
}


@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
}

<div style="width:8in;height:5in" class="container">
    <table class="tg" style="table-layout: fixed; width:8in;height:5in">
        <colgroup>
            <col style="width: 106px">
            <col style="width: 197px">
            <col style="width: 140px">
            <col style="width: 141px">
            <col style="width: 128px">
        </colgroup>
        <thead>
            <tr>
                <th class="tg-8n49" colspan="2"><img style="width:50px;height:50px" src="~/Images/logo.png" /><b>Công ty TNHH Phan Long</b></th>
                <th class="tg-clnv" colspan="3"><b>@Model.Ngay.ToShortDateString()</b> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tg-7eit" colspan="5"><h5><b>Kế hoạch giao/nhận</b></h5></td>
            </tr>
            <tr>
                <td class="tg-7eit" colspan="5"><h6>Tài xế:<b>@(Model.TenTX != null ? Model.DMNhanVien.TenNV : null)</b>&emsp;|&emsp;Số xe:<b>@(Model.Xe != null ? Model.DMXe.BienSo: null) </b> </h6></td>
            </tr>
            <tr>
                <td class="tg-8n48"><b>TT xuất HD: </b></td>
                <td class="tg-7eiz" colspan="4">
                    <b>
                        <select class="form-control form-control-sm select2">
                            @foreach (var item in db.DMKhachHangs)
                            {
                                <option>@item.MST - @item.TenCongTy</option>
                            }
                        </select>
                    </b>
                </td>
            </tr>

            <tr>
                <td class="tg-8n49" colspan="2">Cảng nâng: <b>@(Model.CangNhan != null ? Model.DMCang.TenCang : null) </b></td>
                <td class="tg-8n49" colspan="3">Cảng hạ:<b> @(Model.CangTra != null ? Model.DMCang1.TenCang : null) </b></td>
            </tr>
            <tr>
                <td class="tg-8n49" colspan="5">Địa chỉ giao/nhận:<b>@(Model.Kho != null  ? Model.DMKho.DiaChi : null)  </b> </td>
            </tr>
            <tr>
                <td class="tg-8n49" colspan="2">Người liên hệ:<b> @(Model.Kho != null ? Model.DMKho.NguoiLienHe : null)</b></td>
                <td class="tg-8n49" colspan="3">Số điện thoại:<b>@(Model.Kho != null ? Model.DMKho.SoDienThoai : null) </b></td>
            </tr>
            <tr>
                <td class="tg-8n49" colspan="5">Ghi chú:  <b>@Model.GhiChu</b></td>
            </tr>
            <tr>
                <td class="tg-9wq7" colspan="2"><b>Bill/Booking:</b> @(Model.DMBill != null ? Model.DMBill.MaBill : null)</td>
                <td class="tg-9wq6" colspan="3"><b>Ngày tàu đến:</b> @(Model.DMBill != null ? Model.DMBill.NgayTauDen : null)</td>
            </tr>
            <tr>
                <td class="tg-81u1" colspan="2"><b>Hạn lưu bãi: </b> @(data != null ? data.HanLuuBai.Value.ToShortDateString() : null)</td>
                <td class="tg-81u0" colspan="3"><b>Hạn lưu rỗng: </b> @(data != null ? data.HanLuuRong.Value.ToShortDateString() : null)</td>
            </tr>
            <tr>
                <td class="tg-vhtn" colspan="2"><b>Số Cont</b></td>
                <td class="tg-vhtn"><b>Số đăng ký</b></td>
                <td class="tg-vhtn"><b>Kích cỡ</b></td>
                <td class="tg-vhtn"><b>loại hàng</b></td>
            </tr>
            <tr>
                <td class="tg-vhtn" colspan="2">@(Model.SoCont != null ? Model.SoCont : null)</td>
                <td class="tg-vhtn">@(data != null ? data.SoDK : null)</td>
                <td class="tg-vhtn">@(Model.Loai != null ? Model.DMLoai.MoTa : null)</td>
                <td class="tg-vhtn">@(Model.Loai != null ? Model.DMLoai.MoTa1 : null)</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary hidden-print" onclick="window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>

</div>

