@model IEnumerable<PhanLong.EF.DMXe>
@using PhanLong.EF
@using PhanLong.Common
@{
    ViewBag.Title = "Danh mục Xe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PhanLongDBContext db = new PhanLongDBContext();
    var session = (UserLogin)Session[CommonConstants.USER_SESSION];
    var role = db.Credentials.Where(x => x.UserId == session.UserID);
}

<div class="card">
    <div class="container">
        <div class="card-header">
            <h3>
                <b>Danh mục Xe</b>
                @if (role.Where(x => x.RoleId == "ADD_XE").Count() > 0 || session.GroupID == "ADMIN" || session.GroupID == "BOSS")
                {
                @Html.ActionLink("Thêm Xe", "Create", null, new { @class = "btn btn-primary mb-1" })
                }
            </h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Index", "DMXe", FormMethod.Post))
            {
                <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                    <thead>
                        <tr>

                            <th width="5px"><input type='checkbox' id='check' value='' /></th>
                            <th>Mã Xe</th>
                            <th>Biển số</th>
                            <th>Ngày đăng kiểm</th>
                            @if (role.Where(x => x.RoleId == "ADD_XE").Count() > 0 || session.GroupID == "ADMIN" || session.GroupID == "BOSS")
                            {
                                <th>#</th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">

                                <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                <td>@item.MaXe</td>
                                <td>@item.BienSo</td>
                                <td>@(item.NgayDangKiem != null ? item.NgayDangKiem.Value.ToShortDateString() : null)</td>
                                @if (role.Where(x => x.RoleId == "EDIT_XE").Count() > 0 || session.GroupID == "ADMIN" || session.GroupID == "BOSS")
                                {
                                    <td>
                                        @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })

                                    </td>
                                }
                            </tr>
                        }
                    </tbody>

                </table>
                if (role.Where(x => x.RoleId == "DELETE_XE").Count() > 0 || session.GroupID == "ADMIN" || session.GroupID == "BOSS")
                {
                    <div class="form-group">
                        <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
                    </div>
                    }
                }
            </div>
    </div>
</div>





