@model PhanLong.EF.CTChiThu
@using PhanLong.EF
@{
    ViewBag.Title = "Phát Sinh Thu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/NhapLieu/PhatSinhThu/CTThu/" + ViewBag.IdThu;
    ViewBag.Back = "Trở lại";
    PhanLongDBContext db = new PhanLongDBContext();

}

@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Content/plugins/daterangepicker/daterangepicker.css">
}
@section js{
    <!-- Select2 -->
    <script src="/Content/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">
            <b>Chỉnh sửa thông tin phát sinh thu @(ViewBag.HoaDon != "" ? "- Hoá đơn số:"+ ViewBag.HoaDon : null) </b>
        </h4>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("UpdateCTThu", "PhatSinhThu", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" readonly name="PhatSinhThu" value="@ViewBag.IdThu" />

                <div class="row" style="height: 30px;">
                    <div class="col-sm-2">
                        <div class="form-group row">
                            <label style="text-align:right" class="col-form-label col-sm-4" for="Cont">Số cont:</label>
                            <div class="col-sm-8">

                                @Html.EditorFor(model => model.Cont, new { htmlAttributes = new { @class = "form-control form-control-sm" } })

                                @Html.ValidationMessageFor(model => model.Cont, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group row">
                            <label style="text-align:right" class="col-form-label col-sm-4" for="Phi">Phí:</label>
                            <div class="col-sm-8">
                                <select name="Phi" class="form-control form-control-sm select2" data-placeholder="Chọn Phí">
                                    @if (Model.Phi != null)
                                    {
                                        <option value="@Model.Phi">@Model.DMPhi.TenPhi</option>
                                    }
                                    else
                                    {
                                        <option value=""></option>
                                    }
                                    @foreach (var item in db.DMPhis)
                                    {
                                        if (item.LoaiPhi == 1)
                                        {
                                            <option value="@item.Id">@item.TenPhi</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group row">
                            <label style="text-align:right" class="col-form-label col-sm-4" for="NoiDung">Nội dung:</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="NoiDung" value="@Model.NoiDung" class="form-control form-control-sm" placeholder="Nhập nội dung chi">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group row">
                            <label style="text-align:right" class="col-form-label col-sm-4" for="DonGia">Đơn giá:</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="DonGia" value="@Model.DonGia " class="form-control form-control-sm" style="text-align:right" placeholder="Nhập tiền phí">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group row">
                            <label style="text-align:right" class="col-form-label col-sm-4" for="SoLuong">Số lượng:</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="number" name="SoLuong" value="@Model.SoLuong" class="form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group row">
                            <label style="text-align:right" class="col-form-label col-sm-4" for="Garage">Garage:</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="Garage" value="@Model.Garage" class="form-control form-control-sm" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-sm-10">
                        <input type="submit" value="Ghi (Lưu)" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
