@model QLDL.EF.CTChi
@using QLDL.EF
@{
    ViewBag.Title = "Tạo chi tiết chi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    QLDLDBContext db = new QLDLDBContext();
}
<h4><b>Chi tiết chi</b></h4>
<div class="card h-100">
    <div class="card-body no-gutters">
        <h4><b>Hoá đơn: @ViewBag.HoaDon</b></h4>
        @using (Html.BeginForm("CreateCTChi", "PhatSinhChi", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" readonly name="PhatSinhChi" value="@ViewBag.IdChi" />

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Xe, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="Xe" class="form-control js-example-tags">
                            <option value="">--- Chọn xe ---</option>
                            @foreach (var item in db.DMXes)
                            {
                                <option value="@item.Id">@item.BienSo</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Mooc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="Mooc" class="form-control js-example-tags">
                            <option value="">--- Chọn Mooc ---</option>
                            @foreach (var item in db.DMMoocs)
                            {
                                <option value="@item.Id">@item.BienSo</option>
                            }
                        </select>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Cont, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @(ViewBag.Cont != null ?
                                    @Html.DropDownListFor(model => model.Cont, null, htmlAttributes: new { @class = "form-control js-example-tags" }) :
                                    @Html.EditorFor(model => model.Cont, new { htmlAttributes = new { @class = "form-control" } })
                                    )
                        @Html.ValidationMessageFor(model => model.Cont, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Phi, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <select name="Phi" class="form-control js-example-tags">
                            <option value="">--- Chọn Phí ---</option>
                            @foreach (var item in db.DMPhis)
                            {
                                <option value="@item.Id">@item.TenPhi</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DonGia, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.SoLuong, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Garage, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Garage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Garage, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class=" col-md-10">
                <input type="submit" value="Ghi (Lưu)" class="btn btn-primary" />
            </div>
        </div>
    </div>
        }
    </div>
</div>

<hr />
<hr />
<div class="card h-100">
    <div class="card-body no-gutters">
        @using (Html.BeginForm("CTChi", "PhatSinhChi", FormMethod.Post))
        {
            Html.RenderAction("ViewCTChi", "PhatSinhChi");
        }
    </div>
</div>


