@model QLDL.EF.PhatSinhChiThu
@using QLDL.EF
@{
    ViewBag.Title = "Tạo mới";
    Layout = "~/Views/Shared/_Layout.cshtml";

    QLDLDBContext db = new QLDLDBContext();

}
<h4><b>Phát sinh chi</b></h4>

<div class="card h-90">
    <div class="card-body no-gutters">
        <h4>Thêm mới</h4>
        @using (Html.BeginForm("Create", "PhatSinhChi", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Ngay, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <input type="date" class="form-control" name="Ngay" value="" required />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NguoiChiThu, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <select title="Chọn người chi" name="NguoiChiThu" class="form-control js-example-tags" required>
                                    <option value="">--- Chọn Người Chi ---</option>
                                    @foreach (var item in db.DMNhanViens)
                                    {
                                        <option value="@item.Id">@item.TenNV</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            @Html.LabelFor(model => model.KhachHang, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <select title="Chọn khách hàng" name="KhachHang" class="form-control js-example-tags">
                                    <option value="">--- Chọn Khách Hàng ---</option>
                                    @foreach (var item in db.DMKhachHangs)
                                    {
                                        <option value="@item.Id">@item.TenCongTy</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"> Xe </label>
                            <div class="col-md-9">
                                <select title="Chọn Xe" name="Xe" class="form-control js-example-tags">
                                    <option value="">--- Chọn xe ---</option>
                                    @foreach (var item in db.DMXes)
                                    {
                                        <option value="@item.Id">@item.BienSo</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-3"> Phí </label>
                            <div class="col-md-9">
                                <select title="Chọn phí" name="Phi" class="form-control js-example-tags">
                                    <option value="">--- Chọn Phí ---</option>
                                    @foreach (var item in db.DMPhis)
                                    {
                                        if (item.LoaiPhi == 1)
                                        {
                                            <option value="@item.Id">@item.TenPhi</option>

                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Bill, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <select title="Chọn Bill" name="Bill" class="form-control js-example-tags">
                                    <option value="">--- Chọn số Bill ---</option>
                                    @foreach (var item in db.DMBills)
                                    {
                                        <option value="@item.Id">@item.MaBill</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-3">Đơn giá</label>
                            <div class="col-md-9">
                                <input title="Nhập tiền phí" type="text" class="form-control" name="DonGia" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Số lượng</label>
                            <div class="col-md-9">
                                <input type="number" title="Nhập số lượng" class="form-control" name="SoLuong" value="" />
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NguoiNhan, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <select title="Chọn người nhận" name="NguoiNhan" class="form-control js-example-tags" required>
                                    <option value="">--- Chọn Người Nhận ---</option>
                                    @foreach (var item in db.DMNhanViens)
                                    {
                                        <option value="@item.Id">@item.TenNV</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.HTTT, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <select title="Chọn hình thức thanh toán" name="HTTT" class="form-control js-example-tags" required>
                                    <option value="">--- Chọn hình thức thanh toán ---</option>
                                    @foreach (var item in db.HinhThucTTs)
                                    {
                                        <option value="@item.Id">@item.MoTa</option>
                                    }
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-3">Mooc</label>
                            <div class="col-md-9">
                                <select title="Chọn mooc" name="Mooc" class="form-control js-example-tags">
                                    <option value="">--- Chọn Mooc ---</option>
                                    @foreach (var item in db.DMMoocs)
                                    {
                                        <option value="@item.Id">@item.BienSo</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Nội dung</label>
                            <div class="col-md-9">
                                <input title="Viết nội dung chi" type="text" class="form-control" name="NoiDung" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-3">Số Cont</label>
                            <div class="col-md-9">
                                <input title="Nhập số cont" type="text" class="form-control" name="Cont" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SoHD, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.SoHD, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SoHD, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="col-md-3">

                        <div class="form-group">
                            <label class="control-label col-md-3">Garage</label>
                            <div class="col-md-9">
                                <input title="Nhập Garage" type="text" class="form-control" name="Garage" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-9">
                        <input type="submit" value="Ghi ( Lưu )" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<hr />
<hr />
<div class="card h-90">
    <div class="card-body no-gutters">
        @using (Html.BeginForm("Create", "PhatSinhChi", FormMethod.Post))
        {
            Html.RenderAction("ViewPhatSinhChi", "PhatSinhChi");
        }
    </div>
</div>




