@model IEnumerable<QLDL.EF.PhatSinhChiThu>
@using QLDL.DAO
@using QLDL.EF
@{
    ViewBag.Title = "Phát Sinh Chi";
    Layout = "~/Views/Shared/_Layout.cshtml";

    QLDLDBContext db = new QLDLDBContext();

}

<div class="card h-100">
    <div class="card-body no-gutters">
        <h4>
            Phát Sinh Chi @Html.ActionLink("Tạo Mới", "Create", null, new { @class = "btn btn-primary mb-1" })
        </h4>
        <div class="table-responsive">
            @using (Html.BeginForm("Index", "PhatSinhChi", FormMethod.Post))
            {
                <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th width="1%"><input type='checkbox' id='check' value='' /></th>
                            <th width="1%"></th>
                            <th>Ngày chi</th>
                            <th>Người chi</th>
                            <th>Người nhận</th>
                            <th>HTTT</th>
                            <th>Khách Hàng</th>
                            <th>Xe</th>
                            <th>Mooc</th>
                            <th>Tên phí</th>
                            <th>Số Bill</th>
                            <th>Số hoá đơn</th>
                            <th>Tiền Chi (VNĐ)</th>
                            <th>Ghi Chú</th>
                            <th>#</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var ct = db.CTChiThus.Where(x => x.DMPhi.LoaiPhi == 1 && x.PhatSinhChiThu == item.Id).FirstOrDefault();
                            if ((ct != null ? item.Id == ct.PhatSinhChiThu : false))
                            {
                                var model = new CTChiDao().ListAll(item.Id);
                                <tr id="row_@item.Id">

                                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                    <td>
                                        @Html.ActionLink("Chi tiết", "CTChi", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })
                                    </td>
                                    <td>@(item.Ngay != null? item.Ngay.ToShortDateString(): null)</td>
                                    <td>@(item.NguoiChiThu != null ? item.DMNhanVien1.MaNV : null)</td>
                                    <td>@(item.NguoiNhan != null ? item.DMNhanVien.MaNV : null)</td>
                                    <td>@(item.HTTT != null ? item.HinhThucTT.MaHT : null)</td>
                                    <td>@(item.KhachHang != null ? item.DMKhachHang.MaKH : null)</td>

                                    @if (model.Where(x => x.Xe != null).ToList().Count > 0)
                                    {
                                        <td>
                                            @Html.ActionLink("Chi tiết", "CTChi", new { id = item.Id })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Null
                                        </td>
                                    }

                                    @if (model.Where(x => x.Mooc != null).ToList().Count > 0)
                                    {
                                        <td>
                                            @Html.ActionLink("Chi tiết", "CTChi", new { id = item.Id })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Null
                                        </td>
                                    }
                                    @{var maphi = item.CTChiThus.Where(x => x.PhatSinhChiThu == item.Id).FirstOrDefault();}
                                    <td> @(maphi != null ? maphi.DMPhi.MaPhi : null)</td>
                                    @if (item.Bill != null)
                                    {
                                        <td>
                                            @Html.ActionLink(item.DMBill.MaBill, "CTChi", new { id = item.Id })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Null
                                        </td>

                                    }
                                    <td>@item.SoHD</td>
                                    <td style="text-align: right">
                                        @{ var a = 0;
                                            var tongtien = 0;
                                            foreach (var tien in item.CTChiThus)
                                            {
                                                tongtien = Convert.ToInt32(tien.DonGia) * tien.SoLuong;
                                                a += tongtien;
                                            }
                                        }@String.Format("{0:0,0}", (a))
                                    </td>

                                    <td>@item.GhiChu</td>

                                    <td>
                                        @Html.ActionLink("Chỉnh sửa", "Update", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })
                                    </td>

                                </tr>



                            }

                        }

                    </tbody>

                </table>
                <div class="form-group">
                    <input type="submit" value="Xóa" name="delete" id="delete" class="btn btn-warning" />
                </div>
            }
            <div style="text-align:right">
                @using (Html.BeginForm("ImportExcel", "PhatSinhChi", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="Sheet" value="PhatSinhChiThu$" />
                    <input type="submit" id="Submit" name="Submit" value="Import Excel" class="btn btn-success" />
                    <label>

                        <input type="file" id="FileUpload" name="FileUpload" aria-label="EXCEL" />

                    </label>

                }
            </div>
        </div>
    </div>
</div>



