@using QLDL.EF
@{
    ViewBag.Title = "Thêm ngày";
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDLDBContext db = new QLDLDBContext();
    var i = 0;
}
<div class="container">
    <div class="card h-100">
        <div class="card-body no-gutters">
            <h4><b>Thêm ngày gửi bãi vào Cont</b></h4>
            @using (Html.BeginForm("AddDay", "PhatSinhBill", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-12" style="text-align:center">Số Cont</label>
                            <select class="form-control  js-example-tags" name="Cont">
                                <option value=null>Chọn cont</option>
                                @foreach (var item in db.CTBills.Where(x => x.NgayGui == null))
                                {
                                    <option value="@item.Cont">@item.Cont</option>
                                }

                            </select>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-12" style="text-align:center">Số Cont</label>
                            <input type="date" class="form-control" name="NgayGui" value="" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-12" style="text-align:center">Bãi Gửi</label>
                            <select class="form-control  js-example-tags" name="BaiGui">
                                <option>Chọn Bãi</option>
                                @foreach (var item in db.DMCangs.ToList())
                                {
                                    <option value="@item.Id">@item.TenCang</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-12" style="text-align:center">Xe Gửi</label>
                            <select class="form-control  js-example-tags" name="SoXe">
                                <option>Chọn Xe</option>
                                @foreach (var item in db.DMXes.ToList())
                                {
                                    <option value="@item.Id">@item.MaXe</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary" value="Lưu" />
                </div>
            }
        </div>
    </div>
    <hr />
    <div class="card h-100">
        <div class="card-body no-gutters">
            <h4><b>Danh sách <b>cont</b> chưa gửi bãi</b></h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Cont</th>
                            <th>Hạn lưu bãi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in db.CTBills.Where(x => x.NgayGui == null))
                        {
                            { i += 1; }
                            <tr>
                                <td>@i</td>
                                <td>@item.Cont</td>
                                <td>@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : null)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


