@model List<QLDL.EF.CTBill>
@using QLDL.EF
@{
    ViewBag.Title = @ViewBag.Ngay;
    Layout = "~/Views/Shared/_Layout.cshtml";
    QLDLDBContext db = new QLDLDBContext();
    var i = 0;
}
    <h4><b>Phát sinh Bill</b></h4>
@using (Html.BeginForm("Create", "PhatSinhBill", FormMethod.Post))
{
    <input type="hidden" name="Bill" value="@ViewBag.Bill" />
    <div class="container">
        <div class="card h-100">
            <div class="card-body no-gutters">
                <h4><b>Thêm ngày gửi bãi</b></h4>
                <div class="row">
                    @if (ViewBag.Ngay == "Thêm ngày giao")
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align:center">Ngày giao</label>
                                <input type="date" class="form-control" name="NgayGiao" value="" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align:center">Ngày gửi bãi</label>
                                <input type="date" class="form-control" name="NgayGui" value="" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align:center">Bãi Gửi</label>
                                <select class="form-control  js-example-tags" name="BaiGui">
                                    <option value="">Chọn Bãi</option>
                                    @foreach (var item in db.DMCangs.ToList())
                                    {
                                        <option value="@item.Id">@item.TenCang</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label col-md-12" style="text-align:center">Xe Gửi</label>
                                <select class="form-control  js-example-tags" name="SoXe">
                                    <option value="">Chọn Xe</option>
                                    @foreach (var item in db.DMXes.ToList())
                                    {
                                        <option value="@item.Id">@item.MaXe</option>
                                    }

                                </select>
                            </div>
                        </div>
                    }

                </div>
                <div class="col-md-4">
                    @if (ViewBag.Ngay == "Thêm ngày giao")
                    {
                        <input type="submit" class="btn btn-primary" name="giao" value="giao" />
                    }
                    else
                    {
                        <input type="submit" class="btn btn-primary" name="gui" value="gửi" />
                    }
                </div>
            </div>
        </div>
        <hr />
        <div class="card h-100">
            <div class="card-body no-gutters">
                <h4><b>Cont được chọn</b></h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Cont</th>
                                <th>Độ Dày</th>
                                <th>Quy cách</th>
                                <th>Hạn lưu bãi</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                { i += 1; }
                                <tr>
                                    <td>@i <input type="hidden" checked name="chkId[]" value="@item.Id" /></td>
                                    <td>@item.Cont</td>
                                    <td>@item.DoDay</td>
                                    <td>@item.QuyCach</td>
                                    <td>@(item.HanLuuBai != null ? item.HanLuuBai.Value.ToShortDateString() : null)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.ActionLink("Trở lại", "CTBill", new { id = ViewBag.Bill })
                </div>
            </div>
        </div>
    </div>
}

