@model IEnumerable<QLDL.EF.CTBill>
@{
    ViewBag.Title = "Phát sinh Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var stt = 0;
}

@using (Html.BeginForm("Themngayguibai", "PhatSinhBill", FormMethod.Post))
{
    <h4><b>Phát Sinh Bill</b></h4>
    <div class="card h-100">
        <div class="card-body no-gutters">
            <h4>
                <b>Số Bill: @ViewBag.MaBill</b>
                <input type="submit" value="Thêm ngày gửi bãi" name="themngayguibai" id="themngayguibai" class="btn btn-primary" />
                <input type="submit" value="Thêm ngày giao" name="themngaygiao" id="themngaygiao" class="btn btn-primary" />

            </h4>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                    <thead>
                        <tr>
                            <th width="1%"><input type='checkbox' id='check' value='' /></th>
                            <th>STT</th>
                            <th>Số Cont</th>
                            <th>Độ dày</th>
                            <th>Quy cách</th>
                            <th>Ngày gửi</th>
                            <th>Bãi Gửi</th>
                            <th>Xe Gửi</th>
                            <th>Ngày giao</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            stt += 1;
                            <tr id="row_@item.Id">
                                <td width="1%"><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                                <td>@stt</td>
                                <td>@item.Cont</td>
                                <td>@(item.DoDay != null ? item.DoDay : null)</td>
                                <td>@(item.QuyCach != null ? item.QuyCach : null)</td>
                                <td style=@(item.NgayGui != null ? null : "color:red")>@(item.NgayGui != null ? item.NgayGui.Value.ToShortDateString() : "Chưa gửi bãi")</td>
                                <td>@(item.BaiGui != null ? item.DMCang.TenCang : null)</td>
                                <td>@(item.SoXe != null ? item.DMXe.MaXe : null)</td>
                                <td style=@(item.NgayGiao != null ? null : "color:red")>@(item.NgayGiao != null ? item.NgayGiao.Value.ToShortDateString() : "Chưa giao")</td>
                            </tr>
                        }
                    </tbody>

                </table>
                @Html.ActionLink("Trở lại", "Index")
            </div>
        </div>
    </div>
}





