@model IEnumerable<QLDL.EF.DMBill>
@using QLDL.EF
@{
    ViewBag.Title = "Phát sinh Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";

    QLDLDBContext db = new QLDLDBContext();
    var stt = 0;
}
<div id="Show" class="collapse">
    @using (Html.BeginForm("Index", "PhatSinhBill", FormMethod.Post))
    {
        Html.RenderAction("Filter", "PhatSinhBill");
    }
</div>

<div class="card h-100">
    <div class="card-body no-gutters">
        <h4>
            <b>Phát Sinh Bill <input type="button" class="btn btn-success" data-toggle="collapse" data-target="#Show" value="Lọc" />
        </h4>
        <div class="table-responsive">

            <table class="table table-bordered table-hover table-striped" id="dataTable" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>STT</th>
                        <th>Mã Bill</th>
                        <th>Ngày tàu đến</th>
                        <th>Khách hàng</th>
                        <th>Cảng nhận</th>
                        <th>Cảng trả</th>
                        <th>Tổng số cont</th>
                        <th>Số Cont đã gửi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        stt += 1;
                        <tr>
                            <td width="1%">@Html.ActionLink("Chi tiết", "CTBill", new { id = item.Id }, new { @class = "btn btn-primary mb-1" })</td>
                            <td>@stt</td>
                            <td>@item.MaBill</td>
                            <td>@(item.NgayTauDen != null ? item.NgayTauDen.Value.ToShortDateString() : null)</td>
                            <td>@(item.KhachHang != null ? item.DMKhachHang.TenCongTy : null)</td>
                            <td>@(item.CangNhan != null ? item.DMCang.TenCang : null)</td>
                            <td>@(item.CangTra != null ? item.DMCang1.TenCang : null)</td>
                            <td>@item.CTBills.Count()</td>
                            @{var songay = item.CTBills.Where(x => x.Bill == item.Id && x.NgayGui != null).ToList();}
                            <td>@songay.Count</td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>
    </div>
</div>





