@model IEnumerable<PhanLong.EF.CTChiThu>


<div class="card-header">
    <h3 class="card-title">
        Chi tiết phát sinh chi
    </h3>
</div>
<div class="card-body">
    <table class="table table-bordered table-hover table-striped table-sm" width="100%">
        <thead>
            <tr>
                <th width="1%"><input type='checkbox' id='check' value='' /></th>

                <th>
                    Xe

                </th>

                <th>
                    Mooc

                </th>

                <th>
                    Số Cont

                </th>

                <th>
                    Nội Dung

                </th>
                <th>
                    Phí
                </th>
                <th>
                    Đơn giá (VNĐ)
                </th>
                <th>
                    Số lượng
                </th>
                <th>
                    Tiền Chi (VNĐ)
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr id="row_@item.Id">

                    <td><input type='checkbox' name='chkId[]' id='checkbox' value="@item.Id" /></td>
                    <td>@(item.Xe != null ? item.DMXe.BienSo: "NULL")</td>
                    <td>@(item.Mooc != null ? item.DMMooc.BienSo : "NULL")</td>
                    <td>@(item.Cont != null ? item.Cont : "NULL")</td>
                    <td>@item.NoiDung</td>
                    <td>@(item.Phi != null ? item.DMPhi.TenPhi : "NULL")</td>
                    <td>@String.Format("{0:0,0}", (item.DonGia))</td>
                    <td>@item.SoLuong</td>
                    <td> @{ var tien = Convert.ToInt64(item.DonGia) * item.SoLuong;} @String.Format("{0:0,0}", (tien))</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="margin" style="padding-top:5px">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-icon" data-toggle="dropdown">
                Hành động
                <span class="sr-only">Hành động</span>
            </button>
            <div class="dropdown-menu" role="menu">
                <input type="submit" value="Xóa" name="delete" id="delete" class="dropdown-item" />
                <input type="submit" value="Chỉnh sửa" name="update" id="update" class="dropdown-item" />
            </div>
        </div>
    </div>
</div>


