
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    @RenderSection("css", required: false)
    <!-- DataTables -->
    <link rel="stylesheet" href="/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- toastr -->
    <link rel="stylesheet" href="/Content/plugins/toastr/toastr.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/dist/css/adminlte.css">
    <link href="@ViewBag.Style" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @RenderPage("_Navigation.cshtml")
        <div class="content-wrapper">
            <!-- /.content-header -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">

                        <div class="col-sm-6">

                            <a href="@ViewBag.url">@ViewBag.Back</a>

                            @if (TempData["AlertMessage"] != null)
                            {
                                <div id="toast-container" class="toast-top-right hide">
                                    <div class="toast toast-@TempData["AlertType"]" aria-live="polite" style="">
                                        <div class="toast-message">@TempData["AlertMessage"]</div>
                                    </div>
                                </div>
                            }
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">@Html.MvcSiteMap().SiteMapPath()</li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>

    <!-- jQuery library -->
    <!-- jQuery -->
    <script src="/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <!-- DataTables -->
    <script src="/Content/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>


    <!-- Select2 -->
    <script src="/Content/plugins/select2/js/select2.full.min.js"></script>

    <!-- daterangepicker -->
    <script src="/Content/plugins/moment/moment.min.js"></script>
    <script src="/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- overlayScrollbars -->
    <script src="/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="/Content/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Content/dist/js/demo.js"></script>
    <!-- InputMask -->
    <script src="/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>

    <!-- page script -->
    @RenderSection("js", required: false)

</body>


</html>