@model List<PhanLong.EF.PhatSinh>
@using PhanLong.EF
@using System.Globalization;
@{
    ViewBag.Title = "Thanh toán lương";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/ThongKe/Luong/Index";
    ViewBag.Back = "Trở lại";

    PhanLongDBContext db = new PhanLongDBContext();

    DateTime ngaybd = Convert.ToDateTime(ViewBag.NgayBD);
    DateTime ngaykt = Convert.ToDateTime(ViewBag.NgayKT);
    var phichi = ViewBag.ChiLuong;
    int sttc = 0;
    int sttt = 0;
    Decimal tiencuoc = 0;
    Decimal tientru = 0;
    foreach (var item in Model)
    {
        tiencuoc += Convert.ToDecimal(item.CuocTX);
    }

    foreach (var item in ViewBag.ChiLuong)
    {
        tientru += Convert.ToDecimal(item.TienTru);
    }
}

@section css{
    <link href="~/Content/dist/css/Print.css" media="print" rel="stylesheet" />
    <style>
    </style>
}

@using (Html.BeginForm("EditGhiChuChiPhi", "Luong", FormMethod.Post))
{
    <input type="hidden" readonly class="form-control form-control-sm" name="NguoiNhan" value="@ViewBag.idtx" />
    <input type="hidden" readonly class="form-control form-control-sm" name="NgayBD" value="@ngaybd" />
    <input type="hidden" readonly class="form-control form-control-sm" name="NgayKT" value="@ngaykt" />

    <div class="modal fade" id="MyModalPhi">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle">Update</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDivPhi">
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("EditGhiChu", "Luong", FormMethod.Post))
{
    <input type="hidden" readonly class="form-control form-control-sm" name="Xe" value="@ViewBag.id" />
    <input type="hidden" readonly class="form-control form-control-sm" name="NgayBD" value="@ngaybd" />
    <input type="hidden" readonly class="form-control form-control-sm" name="NgayKT" value="@ngaykt" />

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle">Update</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDiv">
                </div>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("CTTTLuong", "Luong", FormMethod.Get))
{
    <div class="card no-print">
        <div class="card-header">
            <h3 class="card-title">
                Bộ Lọc
            </h3>
        </div>
        <div class="card-body">

            <input type="hidden" readonly class="form-control form-control-sm" name="id" value="@ViewBag.id" />

            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-3" for="NgayBD">Từ ngày:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayBD" class="form-control form-control-sm" value="@ngaybd.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-4" for="NgayKT">Đến ngày:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayKT" class="form-control form-control-sm" value="@ngaykt.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <input type="submit" name="Search" value="Tìm" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div class="card invoice">
    <div class="card-header">
        <table style="width:100%">
            <tr>
                <td style="width:10%"><img style="width:50px;height:50px" src="~/Images/logo.png" /> <b>Công ty TNHH Phan Long</b> </td>
            </tr>
            <tr>
                <td><p style="text-align:right">Ngày lập:<b> @DateTime.Now.ToShortDateString()</b></p></td>
            </tr>
        </table>
        <h3 class="card-title" style="float:none;text-align:center;margin-bottom: 0.5rem !important">
            <b>THANH TOÁN LƯƠNG TÀI XẾ</b>
            <button class="btn btn-primary " onclick="window.print()">
                <span class="glyphicon glyphicon-print d-print-none" aria-hidden="true"></span> Print
            </button>
        </h3>
        <h6 style="text-align:center">Tài xế: <b>@ViewBag.tx</b></h6>
        <h6 style="text-align:center">Số xe: <b>@ViewBag.Xe</b></h6>
        <h6 style="text-align:center">Từ ngày: <b>@ngaybd.Date.ToShortDateString()</b> - Đến ngày: <b>@ngaykt.Date.ToShortDateString()</b></h6>
        <div class="row" style="float:none;text-align:center">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-lg-3">
                    </div>
                    <div class="col-1 col-lg-1">
                        <!-- text input -->
                        <div class="form-group">
                            <label style="text-align:center">20N</label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" placeholder="Enter ..." value="@ViewBag.N20">
                        </div>
                    </div>
                    <div class="col-1 col-lg-1">
                        <!-- text input -->
                        <div class="form-group">
                            <label style="text-align:center">20X</label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" placeholder="Enter ..." value="@ViewBag.X20">
                        </div>
                    </div>
                    <div class="col-1 col-lg-1">
                        <!-- text input -->
                        <div class="form-group">
                            <label style="text-align:center">40N</label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" placeholder="Enter ..." value="@ViewBag.N40">
                        </div>
                    </div>
                    <div class="col-1 col-lg-1">
                        <!-- text input -->
                        <div class="form-group">
                            <label style="text-align:center">40X</label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" placeholder="Enter ..." value="@ViewBag.X40">
                        </div>
                    </div>
                    <div class="col-2 col-lg-2">
                        <div class="form-group">
                            <label style="text-align:center">Tiền lương</label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" placeholder="Enter ..." value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tiencuoc * 60 / 100 - tientru))">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered table-striped table-sm" width="100%">
            <tbody>
                <tr class="header" style="background-color:grey; height:30px">
                    <th>STT</th>
                    <th>Ngày giao</th>
                    <th>Loại</th>
                    <th>Khách hàng</th>
                    <th>Kho</th>
                    <th>Số Cont</th>
                    <th>Cảng nhận</th>
                    <th>Cảng trả</th>
                    <th>Tiền cước (VNĐ) </th>
                    <th>Ghi chú</th>
                    <th class="no-print">#</th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var item in Model)
                {
                    sttc += 1;
                    <tr>
                        <td>@sttc</td>
                        <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                        <td>@(item.Loai != null ? item.DMLoai.MaLoai : null)</td>
                        <td title="@(item.KhachHang != null ? item.DMKhachHang.TenCongTy : null)">@(item.KhachHang != null ? item.DMKhachHang.MaKH : null)</td>
                        <td title="@(item.Kho != null ? item.DMKho.DiaChiChiTiet : null)">@(item.Kho != null ? item.DMKho.DiaChi : null)</td>
                        <td style="text-align:left">@(item.SoCont != null ? item.SoCont : null)</td>
                        <td title="@(item.CangNhan != null ? item.DMCang.TenCang : null)">@(item.CangNhan != null ? item.DMCang.TenCang : null)</td>
                        <td title="@(item.CangTra != null ? item.DMCang1.TenCang : null)">@(item.CangTra != null ? item.DMCang1.TenCang : null)</td>
                        <td class="tg-t1ow" style="text-align:right">@(item.CuocTX != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.CuocTX)) : null)</td>
                        <td style="text-align:left">@(item.GhiChuLuong != null ? item.GhiChuLuong : null)</td>
                        <td class="no-print"><a href="#" class="btn btn-warning" onclick='EditGhiChu(@item.Id)'>Thêm ghi chú</a></td>
                    </tr>

                }
            </tbody>
            @if (phichi.Count > 0)
            {
                <tbody>
                    <tr class="header" style="background-color:grey; height:30px">
                        <th>STT</th>
                        <th>Ngày chi</th>
                        <th colspan="4">Nội dung</th>
                        <th colspan="2">Hình thức thanh toán</th>
                        <th>Tiền trừ (VNĐ)</th>
                        <th>Ghi chú</th>
                        <th class="no-print">#</th>
                    </tr>
                </tbody>
                <tbody>
                    @foreach (var item in ViewBag.ChiLuong)
                    {
                        sttt += 1;
                        <tr>
                            <td>@sttt</td>
                            <td>@(item.NgayChi != null ? item.NgayChi.ToShortDateString() : null)</td>
                            <td colspan="4" style="text-align:left">@(item.NoiDung != null ? item.NoiDung : null)</td>
                            <td colspan="2">@(item.HinhThucTT != null ? item.HinhThucTT : null )</td>
                            <td style="text-align:right">@(item.TienTru != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienTru)) : null )</td>
                            <td style="text-align:left">@(item.ghichu != null ? item.ghichu : null )</td>
                            <td class="no-print"><a href="#" class="btn btn-warning" onclick='EditGhiChuChiPhi(@item.Id)'>Thêm ghi chú</a></td>

                        </tr>
                    }
                </tbody>
            }
            <tbody>
                <tr>
                    <td class="hidden-border" colspan="8" style="text-align:right;border-color:white">Tổng tiền cước (60%):</td>
                    <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tiencuoc * 60 / 100))</td>

                </tr>
                @if (tientru > 0)
                {
                    <tr>
                        <td class="hidden-border" colspan="8" style="text-align:right;border-color:white">Tổng tiền trừ:</td>
                        <td class="hidden-border" style="text-align:right;color:red;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tientru))</td>
                    </tr>
                    <tr>
                        <td class="hidden-border" colspan="8" style="text-align:right;border-color:white">Còn lại:</td>
                        <td class="hidden-border" style="text-align: right;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:#,#}", (tiencuoc * 60 / 100 - tientru))</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>





