@model List<PhanLong.Models.ThanhToanLuongModel>
@using PhanLong.EF
@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";

    PhanLongDBContext db = new PhanLongDBContext();

    long stt = 0;
    DateTime ngaybd = Convert.ToDateTime(ViewBag.NgayBD);
    DateTime ngaykt = Convert.ToDateTime(ViewBag.NgayKT);
    decimal? tongtien = 0;
    var tongcont = 0;
    var tongngaycong = 0;
}

@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
}

@using (Html.BeginForm("Index", "Luong", FormMethod.Get))
{
    <div class="card no-print">
        <div class="card-header">
            <h3 class="card-title">
                Bộ lọc
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-3" for="NgayBD">Từ ngày:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayBD" class="form-control form-control-sm" value="@ngaybd.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-4" for="NgayKT">Đến ngày:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayKT" class="form-control form-control-sm" value="@ngaykt" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <input type="submit" name="Search" value="Tìm" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}


<div class="card">
    <div class="container">
        <div class="card-header">
            <h3 class="card-title">
                Danh sách nhân viên nhận lương
            </h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped" width="100%">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên nhân viên</th>
                        <th>Số cont</th>
                        <th>Số ngày công</th>
                        <th>Tiền cước</th>
                        <th>Trung bình</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Select(x => new { x.Xe }).Distinct())
                    {
                        DateTime sdate = (ViewBag.NgayBD != "") ? Convert.ToDateTime(ViewBag.NgayBD).Date : new DateTime();
                        DateTime edate = (ViewBag.NgayKT != "") ? Convert.ToDateTime(ViewBag.NgayKT).Date : new DateTime();
                        var socont = db.PhatSinhs.Where(x => x.Xe == item.Xe && (x.Ngay >= sdate && x.Ngay <= edate));
                        var tiencuoc = Model.Where(x => x.Xe == item.Xe).Sum(x => x.tiencuoc);
                        var tentx = Model.Where(x => x.Xe == item.Xe).FirstOrDefault().TenTX;
                        using (Html.BeginForm("CTTTLuong", "Luong", FormMethod.Get))
                        {
                            <input type="hidden" readonly class="form-control form-control-sm" name="id" value="@item.Xe" />
                            <input type="hidden" name="NgayBD" class="form-control form-control-sm" value="@ngaybd.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            <input type="hidden" name="NgayKT" class="form-control form-control-sm" value="@ngaykt.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            stt = stt + 1;
                            <tr>
                                @{var ngay = socont.Select(x => x.Ngay).Distinct().Count();}
                                <td>@stt</td>
                                <td>@tentx</td>
                                <td>@socont.Count()</td>
                                <td>@ngay</td>
                                <td style="text-align:right">@String.Format("{0:0,0}", (tiencuoc * 60 / 100))</td>
                                <td style="text-align:right">@String.Format("{0:0,0}", (tiencuoc * 60 / 100 / ngay))</td>
                                <td><input type="submit" value="Chi tiết" class="btn btn-primary" /></td>
                            </tr>

                        }
                        tongtien += tiencuoc;
                        tongcont += socont.Count();
                        tongngaycong += socont.Select(x => x.Ngay).Distinct().Count();
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Tổng:</td>
                        <td>@tongcont</td>
                        <td>@tongngaycong</td>
                        <td style="text-align:right">@String.Format("{0:0,0}", (tongtien * 60 / 100))</td>
                        <td style="text-align:right">@String.Format("{0:0,0}", (tongtien * 60 / 100 / tongngaycong))</td>
                        <td></td>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
</div>

