@*@model List<PhanLong.Models.ThanhToanLuongModel>*@
@model List<PhanLong.Models.ThanhToanLuong>

@using PhanLong.EF
@using System.Globalization;

@{
    ViewBag.Title = "Thống kê";
    Layout = "~/Views/Shared/_Layout.cshtml";

    PhanLongDBContext db = new PhanLongDBContext();

    long stt = 0;
    DateTime ngaybd = Convert.ToDateTime(ViewBag.NgayBD);
    DateTime ngaykt = Convert.ToDateTime(ViewBag.NgayKT);
    decimal? tongtien = 0;
    var tongcont = 0;
    var tongngaycong = 0;
    decimal? tongtienchikhac = 0;
    var _20N = 0;
    var _20X = 0;
    var _40N = 0;
    var _40X = 0;
    decimal? tongtienchiho = 0;
}

@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <link href="~/Content/dist/css/Print.css" media="print" rel="stylesheet" />

}

@using (Html.BeginForm("Index", "Luong", FormMethod.Get))
{
    <div class="card no-print">
        <div class="card-header">
            <h3 class="card-title">
                Bộ lọc
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-4" for="NgayBD">Từ ngày:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayBD" class="form-control form-control-sm" value="@ngaybd.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-4" for="NgayKT">Đến ngày:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayKT" class="form-control form-control-sm" value="@ngaykt" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <input type="submit" name="Search" value="Tìm" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}


<div class="card invoice">
    <div class="container">
        <div class="card-header">
            <h3 class="card-title text-bold">
                Danh sách thanh toán lương
            </h3>
            <p style="text-align:right;" class="">Từ ngày<b> @ngaybd.ToShortDateString()</b> đến ngày<b> @ngaykt.ToShortDateString()</b></p>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped" width="100%">
                <thead>
                    <tr>
                        <th width="1%">STT</th>
                        <th width="14%">Tên nhân viên</th>
                        <th style="line-height:17px" width="3%">Ngày làm việc</th>
                        <th style="line-height:17px" width="3%">Tổng cont</th>
                        <th width="3%">20N</th>
                        <th width="3%">20X</th>
                        <th width="3%">40N</th>
                        <th width="3%">40X</th>
                        <th width="10%">Tiền cước</th>
                        <th width="10%" style="line-height:17px">Tiền lương (60%)</th>
                        <th width="10%">Tiền chi hộ</th>
                        <th width="10%">Tiền chi khác</th>
                        <th class="no-print" width="10%">#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderByDescending(x => x.cuoctx))
                    {
                        DateTime sdate = (ViewBag.NgayBD != "") ? Convert.ToDateTime(ViewBag.NgayBD).Date : new DateTime();
                        DateTime edate = (ViewBag.NgayKT != "") ? Convert.ToDateTime(ViewBag.NgayKT).Date : new DateTime();
                        var socont = db.PhatSinhs.Where(x => x.Xe == item.IdXe && (x.Ngay >= sdate && x.Ngay <= edate));
                        using (Html.BeginForm("CTTTLuong", "Luong", FormMethod.Get))
                        {
                            <input type="hidden" readonly class="form-control form-control-sm" name="id" value="@item.IdXe" />
                            <input type="hidden" name="NgayBD" class="form-control form-control-sm" value="@ngaybd.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            <input type="hidden" name="NgayKT" class="form-control form-control-sm" value="@ngaykt.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            stt = stt + 1;
                            <tr>
                                @*@{var ngay = socont.Select(x => x.Ngay).Distinct().Count();}*@
                                <td>@stt</td>
                                <td class="text-left">@db.DMNhanViens.Find(item.IdTaiXe).TenNV</td>
                                <td>@item.Ngay</td>
                                <td>@item.SoCont</td>
                                <td>@socont.Where(x => x.Loai == 3).Count()</td>
                                <td>@socont.Where(x => x.Loai == 2).Count()</td>
                                <td>@socont.Where(x => x.Loai == 4).Count()</td>
                                <td>@socont.Where(x => x.Loai == 1).Count()</td>
                                <td style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.cuoctx))</td>
                                <td style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.cuoctx * 60 / 100))</td>
                                <td style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (Convert.ToDecimal(item.tiennang) + Convert.ToDecimal(item.tienha) + Convert.ToDecimal(item.tienphikh)))</td>
                                <td style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.tienphict))</td>
                                <td class="no-print"><input type="submit" value="Lương" name="_Submit" class="btn btn-primary" /> <input type="submit" value="Chi hộ" name="_Submit" class="btn btn-primary" /> </td>
                            </tr>

                        }
                        tongtien += item.cuoctx;
                        tongcont += item.SoCont;
                        tongngaycong += item.Ngay;
                        tongtienchiho += (Convert.ToDecimal(item.tiennang) + Convert.ToDecimal(item.tienha) + Convert.ToDecimal(item.tienphikh));
                        tongtienchikhac += item.tienphict;
                        _20N += socont.Where(x => x.Loai == 3).Count();
                        _20X += socont.Where(x => x.Loai == 2).Count();
                        _40N += socont.Where(x => x.Loai == 4).Count();
                        _40X += socont.Where(x => x.Loai == 1).Count();
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-bold text-left">Tổng:</td>
                        <td>@tongngaycong</td>
                        <td>@tongcont</td>
                        <td>@_20N</td>
                        <td>@_20X</td>
                        <td>@_40N</td>
                        <td>@_40X</td>
                        <td style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tongtien))</td>
                        <td style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tongtien * 60 / 100))</td>
                        <td style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tongtienchiho))</td>
                        <td style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tongtienchikhac))</td>
                        <td class="no-print"></td>
                    </tr>

                </tfoot>
            </table>
        </div>
    </div>
</div>

