@model List<PhanLong.EF.PhatSinh>
@using PhanLong.EF
@using System.Globalization;
@{
    ViewBag.Title = "Thanh toán chi hộ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/ThongKe/Luong/Index";
    ViewBag.Back = "Trở lại";

    PhanLongDBContext db = new PhanLongDBContext();

    DateTime ngaybd = Convert.ToDateTime(ViewBag.NgayBD);
    DateTime ngaykt = Convert.ToDateTime(ViewBag.NgayKT);
    var phichi = ViewBag.ChiLuong;
    int sttc = 0;
    int sttt = 0;
    Decimal tongtienchiho = 0;
    Decimal tiennang = 0;
    Decimal TienHa = 0;
    Decimal TienPhiCT = 0;
    Decimal TienPhiKH = 0;
    foreach (var item in Model)
    {
        tiennang += Convert.ToDecimal(item.TienNang);
        TienHa += Convert.ToDecimal(item.TienHa);
        TienPhiCT += Convert.ToDecimal(item.TienPhiCT);
        TienPhiKH += Convert.ToDecimal(item.TienPhiKH);
    }
    tongtienchiho = Convert.ToDecimal(tiennang) + Convert.ToDecimal(TienHa) + Convert.ToDecimal(TienPhiKH) + Convert.ToDecimal(TienPhiCT);

}

@section css{
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
    <link href="~/Content/dist/css/Print.css" media="print" rel="stylesheet" />
    <style>
        label {
            margin-bottom: 0px !important;
        }

        h6 {
            font-size: 12px !important;
        }

        .row {
            height: 45px !important;
        }
    </style>
}
@section js{
    <!-- Select2 -->
    <script src="/Content/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="/Content/plugins/inputmask/jquery.inputmask.min.js"></script>
}
@using (Html.BeginForm("EditGhiChuChiHo", "Luong", FormMethod.Post))
{
    <input type="hidden" readonly class="form-control form-control-sm" name="Xe" value="@ViewBag.id" />
    <input type="hidden" readonly class="form-control form-control-sm" name="NgayBD" value="@ngaybd" />
    <input type="hidden" readonly class="form-control form-control-sm" name="NgayKT" value="@ngaykt" />

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle">Update</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDiv">
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Thanhtoanchiho", "Luong", FormMethod.Get))
{
    <div class="card no-print">
        <div class="card-header">
            <h3 class="card-title">
                Bộ Lọc
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-3" for="NgayBD">Từ ngày:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayBD" class="form-control form-control-sm" value="@ngaybd.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-4" for="NgayKT">Đến ngày:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="NgayKT" class="form-control form-control-sm" value="@ngaykt.ToShortDateString()" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2 col-xl-1">
                    <div class="form-group row">
                        <label class="col-form-label col-12 col-sm-6 col-md-3" for="Xe">Xe:</label>
                        <div class="col-12 col-sm-6 col-md-8">
                            <select name="id" class="form-control form-control-sm select2" data-placeholder="Chọn Xe">
                                @if (ViewBag.IdXe != null)
                                {
                                    <option value="@ViewBag.IdXe">@ViewBag.MaXe</option>
                                }
                                else
                                {
                                    <option value="">All</option>
                                }
                                @foreach (var item in db.DMXes)
                                {
                                    if (item.Id != ViewBag.IdXe)
                                    {
                                        <option value="@item.Id">@item.MaXe</option>
                                    }

                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <input type="submit" name="Search" value="Tìm" class="btn btn-primary" />
                </div>
            </div>

        </div>
    </div>
}

<div class="card invoice">
    <div class="card-header p-0">
        <h3 class="card-title"><img style="width:50px;height:50px" src="~/Images/logo.png" /> <b>Công ty TNHH Phan Long</b></h3>
        <p style="text-align:right;" class="mt-3 mb-0">Ngày lập:<b> @DateTime.Now.ToShortDateString()</b></p>
        <table style="width:100%">
        </table>

        <h3 class="card-title" style="float:none;text-align:center;margin-bottom: 0.5rem !important">
            <b>BẢNG ĐỀ NGHỊ THANH TOÁN</b>
            <button class="btn btn-primary no-print" onclick="window.print()">
                <span class="glyphicon glyphicon-print no-print" aria-hidden="true"></span> Print
            </button>
        </h3>
        <h6 style="text-align:center">Tài xế: <b>@ViewBag.tx</b></h6>
        <h6 style="text-align:center">Số xe: <b>@ViewBag.Xe</b></h6>
        <h6 style="text-align:center">Từ ngày: <b>@ngaybd.Date.ToShortDateString()</b> - Đến ngày: <b>@ngaykt.Date.ToShortDateString()</b></h6>
        <div class="container" style="float:none;text-align:center">
            <div class="row">
                <div class="col-1 col-lg-1">
                </div>
                <div class="col-4 col-lg-4">
                    <!-- text input -->
                    <div class="form-group row">
                        <div class="col-6 col-lg-6">
                            <label style="text-align:center">Tiền nâng<sup>(1)</sup></label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tiennang))">
                        </div>
                        <div class="col-6 col-lg-6">
                            <label style="text-align:center">Tiền hạ<sup>(2)</sup></label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (TienHa))">
                        </div>
                    </div>
                </div>
                <div class="col-2 col-lg-2">
                    <label style="text-align:center">Tiền khác<sup>(3)</sup></label>
                    <input style="text-align:center" type="text" class="form-control form-control-sm" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (TienPhiKH))">
                </div>
                <div class="col-4 col-lg-4">
                    <!-- text input -->
                    <div class="form-group row">
                        <div class="col-6 col-lg-6">
                            <label style="text-align:center">Tiền khác<sup>(4)</sup></label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (TienPhiCT))">
                        </div>
                        <div class="col-6 col-lg-6">
                            <label style="text-align:center">Tổng tiền <sup>(1  + 2 + 3 + 4)</sup></label>
                            <input style="text-align:center" type="text" class="form-control form-control-sm" value="@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tongtienchiho))">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered table-sm" width="100%">
            <tbody>
                <tr class="header" style="background-color:grey; height:30px">
                    <th width="1%">STT</th>
                    <th width="5%">Ngày giao</th>
                    <th width="6%">Số Cont</th>
                    <th width="12%">Kho</th>
                    <th width="7%">Tiền nâng<sup>(1)</sup></th>
                    <th width="7%">Tiền hạ<sup>(2)</sup></th>
                    <th width="8%">Nội dung</th>
                    <th width="7%">Số tiền<sup>(3)</sup></th>
                    <th width="8%">Nội dung</th>
                    <th width="7%">Số tiền<sup>(4)</sup></th>
                    <th width="8%">Tổng</th>
                    <th>Ghi chú</th>
                    <th class="no-print">#</th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var item in Model.OrderBy(x => x.Ngay))
                {
                    sttc += 1;
                    <tr>
                        <td>@sttc</td>
                        <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                        <td style="text-align:left">@(item.SoCont != null ? item.SoCont : null)</td>
                        <td style="text-align:left" title="@(item.Kho != null ? item.DMKho.DiaChiChiTiet : null)">@(item.Kho != null ? item.DMKho.DiaChi : null)</td>
                        <td class="tg-t1ow" style="text-align:right">@(item.TienNang != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienNang)) : null)</td>
                        <td class="tg-t1ow" style="text-align:right">@(item.TienHa != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienHa)) : null)</td>
                        <td style="text-align:left">@(item.PhiKH != null ? item.PhiKH : null)</td>
                        <td class="tg-t1ow" style="text-align:right">@(item.TienPhiKH != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienPhiKH)) : null)</td>
                        <td style="text-align:left">@(item.PhiCT != null ? item.DMPhi.TenPhi : null)</td>
                        <td class="tg-t1ow" style="text-align:right">@(item.TienPhiCT != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienPhiCT)) : null)</td>
                        <td class="tg-t1ow" style="text-align:right">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (Convert.ToDecimal(item.TienNang) + Convert.ToDecimal(item.TienHa) + Convert.ToDecimal(item.TienPhiKH) + Convert.ToDecimal(item.TienPhiCT)))</td>
                        <td style="text-align:left">@(item.GhiChuChiHo != null ? item.GhiChuChiHo : null)</td>
                        <td class="no-print"><a href="#" class="btn btn-warning" onclick='EditGhiChuChiHo(@item.Id)'>Thêm ghi chú</a></td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td class="hidden-border" colspan="3" style="text-align:right;border-color:white"></td>
                    <td class="hidden-border" style="text-align:right;border-color:white">Cộng:</td>
                    <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tiennang))</td>
                    <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (TienHa))</td>
                    <td class="hidden-border" style="text-align:right;border-color:white"></td>
                    <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (TienPhiKH))</td>
                    <td class="hidden-border" style="text-align:right;border-color:white"></td>
                    <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (TienPhiCT))</td>
                    <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (tongtienchiho))</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>





