@model  PhanLong.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phan Long - Đăng nhập</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- toastr -->
    <link rel="stylesheet" href="/Content/plugins/toastr/toastr.min.css">

    @RenderSection("css", required: false)
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">

                    <a href="@ViewBag.url">@ViewBag.Back</a>

                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="toast-container" class="toast-top-right hide">
                            <div class="toast toast-@TempData["AlertType"]" aria-live="polite" style="">
                                <div class="toast-message">@TempData["AlertMessage"]</div>
                            </div>
                        </div>
                    }
                </div><!-- /.col -->
                <!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    @RenderBody()
    @RenderSection("js", required: false)

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Content/dist/js/adminlte.min.js"></script>

</body>
</html>