@model List<QLDL.Models.PhatSinhLuongModel>
@{
    ViewBag.Title = "Thanh toán lương";
    ViewBag.Style = "/Content/css/table-ctttluong.css";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DateTime ngaybd = Convert.ToDateTime(ViewBag.NgayBD);
    DateTime ngaykt = Convert.ToDateTime(ViewBag.NgayKT);
    var phichi = ViewBag.ChiLuong;
    int sttc = 0;
    int sttt = 0;
    Decimal tiencuoc = 0;
    Decimal tientru = 0;
}
@using (Html.BeginForm("CTTTLuong", "Luong", FormMethod.Post))
{
    <input type="hidden" readonly class="form-control" name="TenTX" value="@ViewBag.idtx" />
    <input type="hidden" readonly class="form-control" name="NgayBD" value="@ngaybd" />
    <input type="hidden" readonly class="form-control" name="NgayKT" value="@ngaykt" />
    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle">Update</h4>
                </div>
                <div class="modal-body" id="myModalBodyDiv">

                </div>

            </div>
        </div>
    </div>
}
<div class="container">
    <div class="card h-100 hidden-print">
        <div class="card-body no-gutters">
            <h4><b>Bộ lọc</b></h4>
            <div class="row">
                <div class="col-md-6">
                    @using (Html.BeginForm("CTTTLuong", "Luong", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <input type="hidden" readonly class="form-control" name="id" value="@ViewBag.idtx" />
                        <label> Từ ngày </label>
                        <input type="date" class="form-control" name="NgayBD" value="" />
                        <label> Đến ngày </label>
                        <input type="date" class="form-control" name="NgayKT" value="" />
                        <button type="submit" class="btn btn-primary"> Lọc </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="card h-100" style=" border: 1px white solid;">
            <div class="card-body no-gutters">
                <p style="text-align:right">Ngày lập:<b> @DateTime.Now.ToShortDateString()</b></p>
                <h3 style="text-align:center"><b>THANH TOÁN LƯƠNG TÀI XẾ</b>
                    <button class="btn btn-primary hidden-print" onclick="window.print()">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
                    </button>                  
                </h3>
                <div class="form-horizontal">
                    <table class="tg" style="table-layout: fixed; width: 100%">
                        <colgroup>
                            <col style="width: 30px">
                            <col style="width: 20px">
                            <col style="width: 20px">
                            <col style="width: 20px">
                            <col style="width: 20px">
                            <col style="width: 20px">
                            <col style="width: 20px">
                            <col style="width: 30px">
                            <col style="width: 30px">
                            <col style="width: 40px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="tg-je0s" style="border-top: 0px !important;" colspan="10"> Tài xế: <h4 style="display:initial"><b>@ViewBag.tx</b></h4></th>
                            </tr>
                            <tr>
                                <th class="tg-je0s" colspan="10"> Từ ngày: <h5 style="display:initial"><b>@ngaybd.Date.ToShortDateString()</b></h5> - Đến ngày: <h5 style="display:initial"><b>@ngaykt.Date.ToShortDateString()</b></h5> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tg-t8ut"></td>
                                <td class="tg-t8ut"></td>
                                <td class="tg-t8ut"></td>

                                <td class="tg-t8ut">20N</td>
                                <td class="tg-t8ut">40N</td>
                                <td class="tg-t8ut">20X</td>
                                <td class="tg-t8ut">40X</td>
                                <td class="tg-t8ut">Tổng</td>
                                <td class="tg-vhuu" colspan="2" rowspan="2"></td>
                            </tr>
                            <tr>
                                <td class="tg-oe15">
                                </td>

                                <td class="tg-oe15">
                                </td>
                                <td class="tg-oe15">
                                </td>
                                <td class="tg-oe15">
                                    <input type="text" readonly style="text-align:center" class="form-control" value="@ViewBag.N20" />
                                </td>
                                <td class="tg-oe15">
                                    <input type="text" readonly style="text-align:center" class="form-control" value="@ViewBag.N40" />
                                </td>
                                <td class="tg-oe15">
                                    <input type="text" readonly style="text-align:center" class="form-control" value="@ViewBag.X20" />
                                </td>
                                <td class="tg-oe15">
                                    <input type="text" readonly style="text-align:center" class="form-control" value="@ViewBag.X40" />
                                </td>
                                <td class="tg-oe15">
                                    <input type="text" style="text-align:center" readonly class="form-control" value="@ViewBag.Tong" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="table-responsive">
                    <table class="tg table table-hover table-striped" width="100%">
                        <colgroup>
                            <col style="width: 1%">
                            <col style="width: 6.46%">
                            <col style="width: 3.33%">
                            <col style="width: 6.37%">
                            <col style="width: 23.89%">
                            <col style="width: 5.63%">
                            <col style="width: 15.95%">
                            <col style="width: 14.67%">
                            <col style="width: 7.41%">
                            <col style="width: 15.29%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="tg-w3ps">STT</th>
                                <th class="tg-w3ps">Ngày giao</th>
                                <th class="tg-w3ps">Loại</th>
                                <th class="tg-w3ps">Khách hàng</th>
                                <th class="tg-w3ps">Kho</th>
                                <th class="tg-w3ps">Số Cont</th>
                                <th class="tg-w3ps">Cảng nhận</th>
                                <th class="tg-w3ps">Cảng trả</th>
                                <th class="tg-w3ps">Tiền cước (VNĐ) </th>
                                <th class="tg-w3ps">Ghi chú</th>
                     
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                sttc += 1;
                                tiencuoc += Convert.ToDecimal(item.TienCuoc);
                                <tr>
                                    <td class="tg-c3ow">@sttc</td>
                                    <td class="tg-c3ow">@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                                    <td class="tg-c3ow">@(item.Loai != null ? item.Loai : null)</td>
                                    <td class="tg-c3ow">@(item.KhachHang != null ? item.KhachHang : null)</td>
                                    <td class="tg-c3ow" style="text-align:left">@(item.Kho != null ? item.Kho : null)</td>
                                    <td class="tg-c3ow" style="text-align:left">@(item.SoCont != null ? item.SoCont : null)</td>
                                    <td class="tg-c3ow">@(item.CangNhan != null ? item.CangNhan : null)</td>
                                    <td class="tg-c3ow">@(item.CangTra != null ? item.CangTra : null)</td>
                                    <td class="tg-t1ow" style="text-align:right">@(item.TienCuoc != null ? String.Format("{0:0,0}", (item.TienCuoc)) : null)</td>
                                    <td class="tg-c3ow" style="text-align:left">@(item.ghichu != null ? item.ghichu : null)</td>
                                    <td class="tg-w3pa hidden-print"><a href="#" class="btn btn-warning" onclick='EditGhiChu(@item.id)'>Thêm ghi chú</a></td>
                                </tr>

                            }
                        </tbody>

                        @if (phichi.Count > 0)
                        {
                            <thead>
                                <tr>
                                    <td class="tg-w3ps">STT</td>
                                    <td class="tg-w3ps">Ngày chi</td>
                                    <td class="tg-w3ps" colspan="4">Nội dung</td>
                                    <td class="tg-w3ps" colspan="2">Hình thức thanh toán</td>
                                    <td class="tg-w3ps">Tiền trừ (VNĐ)</td>
                                    <td class="tg-w3ps">Ghi chú</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.ChiLuong)
                                {
                                    sttt += 1;
                                    tientru += Convert.ToDecimal(item.TienTru);
                                    <tr>
                                        <td class="tg-w3pd">@sttt</td>
                                        <td class="tg-w3pd">@(item.NgayChi != null ? item.NgayChi.ToShortDateString() : null)</td>
                                        <td class="tg-w3pd" colspan="4" style="text-align:left">@(item.NoiDung != null ? item.NoiDung : null)</td>
                                        <td class="tg-w3pd" colspan="2">@(item.HinhThucTT != null ? item.HinhThucTT : null )</td>
                                        <td class="tg-w3pd" style="text-align:right">@(item.TienTru != null ? String.Format("{0:0,0}", (item.TienTru)) : null )</td>
                                        <td class="tg-w3pd" style="text-align:left">@(item.ghichu != null ? item.ghichu : null )</td>

                                    </tr>
                                }
                            </tbody>
                        }

                        <tfoot>
                            <tr>
                                <td class="tg-ofj5" colspan="8" style=" border-top-color: black;">Tổng tiền cước (60%):</td>
                                <td class="tg-zv4m" style="text-align:right;border-top-color: black;">@String.Format("{0:0,0}", (tiencuoc * 60 / 100))</td>
                            </tr>
                            @if (tientru > 0)
                            {
                                <tr>
                                    <td class="tg-ofj5" colspan="8">Tổng tiền trừ:</td>
                                    <td class="tg-zv4m" style="text-align:right">@String.Format("{0:0,0}", (tientru))</td>
                                </tr>
                                <tr>
                                    <td class="tg-ofj5" colspan="8" style=" border-top-color: black;">Còn lại:</td>
                                    <td class="tg-zv4m" style="border-top-color: black; text-align: right">@String.Format("{0:0,0}", (tiencuoc * 60 / 100 - tientru))</td>
                                </tr>
                            }

                        </tfoot>
                    </table>
                    @Html.ActionLink("Trở lại", "Index", null, new { @class = "hidden-print" })
                </div>
            </div>
        </div>
    </div>

</div>




