@model List<QLDL.Models.CTTTLuongModel>
@{
    ViewBag.Title = "CTTTLuong";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int a = 0;
    decimal tongtien = 0;
}

<div class="container">
    <div class="card h-100">
        <div class="card-body no-gutters">
            <h4><b>Filter</b></h4>
            <div class="row">
                <div class="col-md-6">
                    @using (Html.BeginForm("CTTTLuong", "Luong", FormMethod.Get, new { @class = "form-inline" }))
                    {
                        <label> Từ ngày </label>
                        <input type="date" class="form-control" name="NgayBD" value="@ViewBag.NgayBD" />
                        <label> Đến ngày </label>
                        <input type="date" class="form-control" name="NgayKT" value="@ViewBag.NgayKT" />
                        <button type="submit" class="btn btn-primary"> Search </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="card h-100">
        <div class="card-body no-gutters">
            <h4 style="text-align:center"><b>THANH TOÁN LƯƠNG TÀI XẾ</b></h4>
            <hr />
            <div class="form-horizontal">

                <div class="row">

                    <div class="col-md-3">
                        @Html.Label("Tài Xế", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control col-md-4" name="name" value="@ViewBag.tx" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Từ ngày: ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input type="date" readonly class="form-control" name="name" value="@ViewBag.NgayBD" />
                        </div>
                        @Html.Label("Đến ngày: ", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input type="date"  readonly class="form-control" name="name" value="@ViewBag.NgayKT" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.Label("Ngày làm việc", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-6">
                
                            <input type="text" style="text-align:center" readonly class="form-control" value="@Model.Count" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        @Html.Label("20N", htmlAttributes: new { @class = "control-label col-md-12" })
                        <input type="text"  style="text-align:center" readonly class="form-control" value="@ViewBag.N20" />
                    </div>
                    <div class="col-md-1">
                        @Html.Label("40N", htmlAttributes: new { @class = "control-label col-md-12" })
                        <input type="text"  style="text-align:center" readonly class="form-control" value="@ViewBag.N40" />
                    </div>
                    <div class="col-md-1">
                        @Html.Label("20X", htmlAttributes: new { @class = "control-label col-md-12" })
                        <input type="text"  style="text-align:center" readonly class="form-control" value="@ViewBag.X20" />
                    </div>
                    <div class="col-md-1">
                        @Html.Label("40X", htmlAttributes: new { @class = "control-label col-md-12" })
                        <input type="text" style="text-align:center" readonly class="form-control" value="@ViewBag.X40" />
                    </div>
                    <div class="col-md-1">
                        <label class="control-label">Tổng cộng </label>   
                            <input type="text"  style="text-align:center" readonly class="form-control" value="@ViewBag.Tong" />            
                    </div>
 
                </div>
            </div>
            <br />
            <br />
            <hr />
            <div class="table-responsive">

                <table class="table table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>Stt</th>
                            <th>Ngay</th>
                            <th>Loại</th>
                            <th>Khách Hàng</th>
                            <th>Kho</th>
                            <th>Số Cont</th>
                            <th>Cảng Nhận</th>
                            <th>Cảng Trả</th>
                            <th>Tiền Cước</th>
                            <th>Ghi Chú</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @for (int i = 1; i <= Model.Count; i++)
                                    {
                                        a += i;
                                    }@a
                                </td>
                                <td>@item.Ngay.ToShortDateString()</td>
                                <td>@item.Loai</td>
                                <td>@item.KhachHang</td>
                                <td>@item.Kho</td>
                                <td>@item.SoCont</td>
                                <td>@item.CangNhan</td>
                                <td>@item.CangTra</td>
                                <td>@item.TienCuoc</td>
                                <td>@item.ghichu</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>

                            <th colspan="8"></th>
                            @foreach (var item in Model)
                            {
                                tongtien += Convert.ToDecimal(item.TienCuoc);
                            }
                            <th>Tổng tiền: @tongtien</th>
                        </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>
</div>




