@model IEnumerable<PhanLong.EF.PhatSinh>
@using PhanLong.EF
@{
    ViewBag.Title = "Thống kê Phát Sinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Style = "";
    PhanLongDBContext db = new PhanLongDBContext();
    var stt = 0;
    decimal? chiho = 0;
    decimal? tongchi = 0;
    decimal cuoc = 0;
    decimal nang = 0;
    decimal ha = 0;
    decimal khac = 0;
    decimal chirieng = 0;
    foreach (var item in Model)
    {
        cuoc += Convert.ToDecimal(item.CuocKH);
        nang += Convert.ToDecimal(item.TienNang);
        ha += Convert.ToDecimal(item.TienHa);
        khac += Convert.ToDecimal(item.TienPhiKH);
        chirieng += Convert.ToDecimal(item.TienPhiCT);
    }
    string ngaybd = "";
    string ngaykt = "";
    if (ViewBag.sday != "" && ViewBag.sday != null)
    {
        ngaybd = Convert.ToDateTime(ViewBag.sday).ToShortDateString();

    }
    else
    {
        ngaybd = DateTime.Now.Date.AddDays(-30).ToShortDateString();
    }

    if (ViewBag.eday != "" && ViewBag.eday != null)
    {
        ngaykt = Convert.ToDateTime(ViewBag.eday).ToShortDateString();
    }
    else
    {
        ngaykt = DateTime.Now.ToShortDateString();
    }

    var total = Model.Select(x => x.Ngay).Distinct().Count();
    var cont = Model.Select(x => x.SoCont).Distinct().Count();

}
@section css{
    <!-- Select2 -->
    <link rel="stylesheet" href="/Content/plugins/select2/css/select2.css">
    <link rel="stylesheet" href="/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.css">
}
@using (Html.BeginForm("Index", "ChiTiet", FormMethod.Get))
{
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Bộ lọc
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label class=" col-form-label col-sm-3" for="NgayBD">Từ ngày:</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="sday" class="form-control form-control-sm" value="@ngaybd" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4" for="NgayKT">Đến ngày:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" name="eday" class="form-control form-control-sm" value="@ngaykt" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4" for="Loai">Loại:</label>
                        <div class="col-sm-8">
                            <select name="Loai" class="form-control form-control-sm select2" data-placeholder="Loại cont">
                                @if (ViewBag.IdLoai != null)
                                {
                                    <option value="@ViewBag.IdLoai">@ViewBag.Loai</option>
                                }
                                else
                                {
                                    <option value="">All</option>
                                }

                                @foreach (var item in db.DMLoais)
                                {
                                    <option value="@item.Id">@item.MaLoai</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-4" for="Xe">Xe:</label>
                        <div class="col-sm-8">
                            <select name="Xe" class="form-control form-control-sm select2" data-placeholder="Chọn Xe">
                                @if (ViewBag.IdXe != null)
                                {
                                    <option value="@ViewBag.IdXe">@ViewBag.MaXe</option>
                                }
                                else
                                {
                                    <option value="">All</option>
                                }
                                @foreach (var item in db.DMXes)
                                {
                                    <option value="@item.Id">@item.MaXe</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="Bill">Bill:</label>
                        <div class="col-sm-8">
                            <select name="SoBill" class="form-control form-control-sm select2" data-placeholder="Chọn Bill">
                                @if (ViewBag.IdBill != null)
                                {
                                    <option value="@ViewBag.IdBill">@ViewBag.Bill</option>
                                }
                                else
                                {
                                    <option value="">All</option>
                                }
                                @foreach (var item in db.DMBills)
                                {
                                    <option value="@item.Id">@item.MaBill</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="KhachHang">Khách hàng</label>
                        <div class="col-sm-10">
                            <select name="KhachHang" class="form-control form-control-sm select2" data-placeholder="Chọn khách hàng">
                                @if (ViewBag.IdKH != null)
                                {
                                <option value="@ViewBag.IdKH">@ViewBag.MaKh - @ViewBag.KH</option>
                                }
                                else
                                {
                                    <option value=""></option>
                                }
                                @foreach (var item in db.DMKhachHangs)
                                {
                                    <option value="@item.Id">@item.MaKH - @item.TenCongTy</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2" for="Kho">Kho:</label>
                        <div class="col-sm-10">
                            <select name="Kho" class="form-control form-control-sm select2" data-placeholder="Chọn Kho">
                                @if (ViewBag.IdKho != null)
                                {
                                    <option value="@ViewBag.IdKho">@ViewBag.MaKho - @ViewBag.Kho</option>
                                }
                                else
                                {
                                    <option value=""></option>
                                }
                                @foreach (var item in db.DMKhoes)
                                {
                                    <option value="@item.Id">@item.MaKho - @item.DiaChi</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <input type="submit" name="Search" value="Tìm" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header" style="text-align:center">
        <h3 class="card-title" style="float:none;">
            Thống kê phát sinh
        </h3>
        <div class="row" style="height: 30px; padding-top:5px">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">
                <div class="form-group row">
                    <label style="text-align:right" class="col-form-label col-sm-4" for="NgayBD">Từ ngày:</label>
                    <div class="col-sm-6">
                        <div class="input-group">

                            <input type="text" class="form-control form-control-sm" value="@ngaybd" readonly data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group row">
                    <label class="col-form-label col-sm-4" for="NgayKT">Đến ngày:</label>
                    <div class="col-sm-6">
                        <div class="input-group">

                            <input type="text" class="form-control form-control-sm" readonly value="@ngaykt" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <label class="col-form-label col-sm-12" for="Cont">Số cont</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" style="text-align:center" value="@cont cont" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-form-label col-sm-12" for="20N">20N</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" style="text-align:center" value="@ViewBag.N20" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-form-label col-sm-12" for="40N">40N</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@ViewBag.N40" style="text-align:center" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="col-form-label col-sm-12" for="20X">20X</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" style="text-align:center" value="@ViewBag.X20" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="col-form-label col-sm-12" for="40X">40X</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" style="text-align:center" value="@ViewBag.X40" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-form-label col-sm-12" for="Cuoc">Cước khách hàng</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format("{0:0,0}", (cuoc)): null)" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label col-sm-12" for="Nang">Tiền nâng</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format("{0:0,0}", (nang)): null)" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-form-label col-sm-12" for="Ha">Tiền hạ</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format("{0:0,0}", (ha)): null)" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-form-label col-sm-12" for="Cuoc">Tiền khác</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format("{0:0,0}", (khac)): null)" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="col-form-label col-sm-12" for="Chiho">Chi hộ</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format("{0:0,0}", (nang + ha + khac)): null)" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-form-label col-sm-12" for="Rieng">Chi riêng</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format("{0:0,0}", (chirieng)): null)" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-form-label col-sm-12" for="tongchi">Tổng chi</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format("{0:0,0}", (nang + ha + khac + chirieng)): null)" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
            @using (Html.BeginForm("Index", "PhatSinh", FormMethod.Post))
            {
                <table class="table table-hover table-bordered  table-striped table-sm" id="dataTable" style="width:100%">

                    <thead style="background-color:#d1cbc3">
                        <tr>
                            <th title="Số thứ tự">STT</th>
                            <th title="Ngày giao">Ngày</th>
                            <th title="Loại">Loại</th>
                            <th title="Khách hàng">Khách hàng</th>
                            <th title="Kho">Kho</th>
                            <th title="Số Cont">Số Cont</th>
                            <th title="Số Bill">Bill</th>
                            <th title="Cước">Cước (VNĐ)</th>
                            <th title="Nhân viên">Nhân viên</th>
                            <th title="Số Xe">Xe</th>
                            <th title="Hoá đơn nâng">Hoá đơn nâng</th>
                            <th title="Tiền nâng">Tiền nâng (VNĐ)</th>
                            <th title="Hoá đơn Hạ">Hoá đơn Hạ</th>
                            <th title="Tiền hạ">Tiền Hạ (VNĐ)</th>
                            <th title="Phí Khách hàng">Hoá đơn khác</th>
                            <th title="Tiền Phí khách hàng">Tiền khác (VNĐ)</th>
                            <th title="Tiền Phí khách hàng">Tổng chi hộ (VNĐ)</th>
                            <th title="Phí công ty">Chi phí riêng TX</th>
                            <th title="Tiền phí công ty">Tiền phí riêng (VNĐ)</th>
                            <th title="Thời gian">Tổng chi (VNĐ)</th>
                            <th title="Ghi chú">Ghi Chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderBy(x => x.Ngay))
                        {
                            stt += 1;
                        <tr id="row_@item.Id">
                            <td>@stt</td>
                            <td title="Ngày phát sinh">@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                            <td>@(item.Loai != null ? item.DMLoai.MaLoai : null)</td>
                            <td title="@(item.KhachHang != null ? item.DMKhachHang.TenCongTy: null )">@(item.KhachHang != null ? item.DMKhachHang.MaKH: null )</td>
                            <td title="@(item.Kho != null ? item.DMKho.DiaChi : null )">@(item.Kho != null ? item.DMKho.MaKho : null)</td>
                            <td>@(item.SoCont != null ? item.SoCont : null)</td>
                            <td>@(item.SoBill != null ? item.DMBill.MaBill : null)</td>
                            <td style="text-align:right">@(item.CuocKH != null ? String.Format("{0:0,0}", (item.CuocKH)) : null)</td>
                            <td title="@(item.TenTX != null ? item.DMNhanVien.TenNV : null )">@(item.TenTX != null ? item.DMNhanVien.MaNV : null)</td>
                            <td title="@(item.Xe != null ? item.DMXe.BienSo : null )">@(item.Xe != null ? item.DMXe.MaXe : null)</td>
                            <td>@(item.HDNang != null ? item.HDNang : null)</td>
                            <td style="text-align:right">@(item.TienNang != null ? String.Format("{0:0,0}", (item.TienNang)) : null)</td>
                            <td>@(item.HDHa != null ? item.HDHa : null)</td>
                            <td style="text-align:right">@(item.TienHa != null ? String.Format("{0:0,0}", (item.TienHa)) : null )</td>
                            <td>@(item.PhiKH != null ? item.PhiKH : null)</td>
                            <td style="text-align:right">@(item.TienPhiKH != null ? String.Format("{0:0,0}", (item.TienPhiKH)) : null)</td>
                            <td style="text-align:right">@{ chiho = Convert.ToDecimal(item.TienNang) + Convert.ToDecimal(item.TienHa) + Convert.ToDecimal(item.TienPhiKH);}@String.Format("{0:0,0}", (chiho))</td>
                            <td>@(item.PhiCT != null ? item.DMPhi.MaPhi : null)</td>
                            <td style="text-align:right">@(item.TienPhiCT != null ? String.Format("{0:0,0}", (item.TienPhiCT)): null )</td>
                            @{tongchi = Convert.ToDecimal(chiho) + Convert.ToDecimal(item.TienPhiCT);}
                            <td style="text-align:right">@(item.TienPhiCT != null ? (String.Format("{0:0,0}",(tongchi))) : String.Format("{0:0,0}", (chiho)) )</td>
                            <td class="cell expand-maximum-on-hover">@(item.GhiChu != null ? item.GhiChu : null)</td>
                        </tr>

                        }
                    </tbody>

                </table>
            }
        </div>
</div>

