@model IEnumerable<PhanLong.EF.PhatSinh>
@using PhanLong.EF
@using System.Globalization;

@{
    ViewBag.Title = "Thanh toán cước khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.url = "/ThongKe/ChiTiet/";
    ViewBag.Back = "Trở lại";
    PhanLongDBContext db = new PhanLongDBContext();
    var stt = 0;
    var stt1 = 0;
    decimal? chiho = 0;
    decimal? tongchi = 0;
    decimal cuoc = 0;
    decimal nang = 0;
    decimal ha = 0;
    decimal VAT = 0;
    decimal phikhac = 0;
    decimal chirieng = 0;
    foreach (var item in Model)
    {
        cuoc += Convert.ToDecimal(item.CuocKH);
        nang += Convert.ToDecimal(item.TienNang);
        ha += Convert.ToDecimal(item.TienHa);
        phikhac += Convert.ToDecimal(item.TienPhiKH);
        chirieng += Convert.ToDecimal(item.TienPhiCT);
    }

    long idKh = Convert.ToInt64(ViewBag.IdKH);
    long idBill = Convert.ToInt64(ViewBag.IdBill);
    string ngaybd = "";
    string ngaykt = "";
    if (ViewBag.sday != "" && ViewBag.sday != null)
    {
        ngaybd = Convert.ToDateTime(ViewBag.sday).ToShortDateString();

    }
    else
    {
        ngaybd = DateTime.Now.Date.AddDays(-30).ToShortDateString();
    }

    if (ViewBag.eday != "" && ViewBag.eday != null)
    {
        ngaykt = Convert.ToDateTime(ViewBag.eday).ToShortDateString();
    }
    else
    {
        ngaykt = DateTime.Now.ToShortDateString();
    }

    var total = Model.Select(x => x.Ngay).Distinct().Count();
    var cont = ViewBag.All;
    decimal khac = 0;
    foreach (var item in db.CTChiThus.Where(x => x.PhatSinhChiThu1.Bill == idBill))
    {
        khac += Convert.ToInt32(item.SoLuong) * Convert.ToDecimal(item.DonGia);
    }
    foreach (var item in Model.OrderBy(x => x.Ngay))
    {
        if (item.VAT == true)
        {
            VAT += Convert.ToDecimal(Convert.ToDecimal(item.CuocKH) * 10 / 100);
        }
    }

    var CountChiKhac = db.CTChiThus.Where(x => x.PhatSinhChiThu1.Bill == idBill).Count();

}
@section css{
    <link href="~/Content/dist/css/Print.css"  rel="stylesheet" />
    <style>
        .table thead th {
            line-height: 13px !important;
        }

        body {
            font-size: 11px !important;
        }

        .form-control-sm {
            font-size: 11px !important;
        }

        .card-header {
            padding: 0px !important;
        }

        .table-sm th, .table-sm td {
            padding: 0px 2px!important;
        }
    </style>
}


@using (Html.BeginForm("EditGhiChuThanhToan", "ChiTiet", FormMethod.Post))
{
    <input type="hidden" readonly class="form-control form-control-sm" name="SoBill" value="@ViewBag.IdBill" />
    <input type="hidden" readonly class="form-control form-control-sm" name="KhachHang" value="@ViewBag.IdKH" />
    <input type="hidden" readonly class="form-control form-control-sm" name="NgayBD" value="@ngaybd" />
    <input type="hidden" readonly class="form-control form-control-sm" name="NgayKT" value="@ngaykt" />

    <div class="modal fade" id="MyModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="ModalTitle">Update</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">&times;</a>
                </div>
                <div class="modal-body" id="myModalBodyDiv">
                </div>
            </div>
        </div>
    </div>
}

<div class="card invoice">
    <div class="card-header" style="text-align:center;">
        <table style="width:100%">
            <thead>
                <tr>
                    <td style="text-align:left">Từ: <b>Công Ty TNHH Phan Long</b></td>
                    <td style="text-align:right">Ngày lập: @DateTime.Now.ToShortDateString()</td>
                </tr>
                <tr>
                    <td style="text-align:left">Đến: <b>@ViewBag.KH</b></td>
                    <td style="text-align:right">Kèm theo hoá đơn số: <input type="text" style="border:hidden; width:50px" /></td>
                </tr>
            </thead>
        </table>
        <h3 class="card-title" style="float:none;padding-bottom:10px">
            <b>BẢNG KÊ THANH TOÁN CƯỚC - CHI HỘ</b>
        </h3>
        <div class="row" style="height:30px">
            @if (ViewBag.Bill != null)
            {
                <div class="col-1 col-md-1 col-lg-2">
                </div>
                <div class="col-3 col-md-3 col-lg-2">
                    <div class="form-group row">
                        <label class="col-form-label col-3 col-md-3 col-lg-5" style="text-align:right" for="Bill">Bill: </label>
                        <div class="col-9 col-md-7 col-lg-7">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@ViewBag.Bill" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-3 col-md-3 col-lg-3">
                </div>
            }

            <div class="col-3 col-md-2 col-lg-2">
                <div class="form-group row">
                    <label style="text-align:right" class="col-form-label col-5 col-md-5 col-lg-4" for="NgayBD">Từ ngày:</label>
                    <div class="col-7 col-md-7 col-lg-6">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" value="@ngaybd" readonly data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            @*<div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-2 col-lg-2">
                <div class="form-group row">
                    <label class="col-form-label col-5 col-md-5 col-lg-4" for="NgayKT">Đến ngày:</label>
                    <div class="col-7 col-md-7 col-lg-6">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" readonly value="@ngaykt" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                            @*<div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-2 col-lg-2">
                <div class="form-group row">
                    <div class="col-3 col-md-2 col-lg-1">
                    </div>
                    <div class="col-9 col-md-10 col-lg-10">
                        <div class="form-group row">
                            <label class="col-form-label col-6 col-md-7 col-lg-4" style="text-align:right" for="Cont">Tổng cont:</label>
                            <div class="col-6 col-md-5 col-lg-4">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" style="text-align:center" value="@cont" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-0 col-md-0 col-lg-2"></div>
            <div class="col-5 col-md-4 col-lg-3">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <label class="col-form-label col-lg-12" for="tongchi">Tổng tiền<sup>(1+2+3)</sup></label>
                        <div class="col-lg-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (cuoc + VAT + nang + ha + phikhac + chirieng + khac)): null)" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <label class="col-form-label col-md-12" for="Cuoc">VAT cước<sup>(1)</sup></label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (VAT)): "0")" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <label class="col-form-label col-md-12" for="Cuoc">Tổng cước<sup>(2)</sup></label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (cuoc)): "0")" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @*<div class="col-md-2 col-lg-2">
                    <label class="col-form-label col-sm-12" for="Cuoc">VAT</label>
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (cuoc*10/100)): null)" style="text-align:right" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-1">
                    <label class="col-form-label col-md-12" for="Cuoc">Cước</label>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (cuoc)): null)" style="text-align:right" readonly>
                        </div>
                    </div>
                </div>*@
            <div class="col-5 col-md-4 col-lg-3">
                <div class="row">
                    <div class="col-4 col-md-4">
                        <label class="col-form-label col-md-12" for="Chiho">Tổng chi<sup>(3=4+5)</sup></label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (nang + ha + khac + phikhac)): "0")" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <label class="col-form-label col-md-12" for="Chiho">Nâng - Hạ<sup>(4)</sup></label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (nang + ha + phikhac)): "0")" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-md-4">
                        <label class="col-form-label col-md-12" for="khac">Chi khác<sup>(5)</sup></label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@(khac != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (khac)): "0")" style="text-align:right" readonly>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-3 col-md-4 col-lg-2">
                <div class="row">
                    <div class="col-3 col-md-3">
                        <label class="col-form-label col-md-12" for="20N">20N</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" style="text-align:center" value="@ViewBag.N20" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-3">
                        <label class="col-form-label col-md-12" for="40N">40N</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" value="@ViewBag.N40" style="text-align:center" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-3">
                        <label class="col-form-label col-md-12" for="20X">20X</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" style="text-align:center" value="@ViewBag.X20" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-md-3">
                        <label class="col-form-label col-md-12" for="40X">40X</label>
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-sm" style="text-align:center" value="@ViewBag.X40" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="col-form-label col-sm-12" for="Nang">Tiền nâng</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (nang)): null)" style="text-align:right" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-form-label col-sm-12" for="Ha">Tiền hạ</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (ha)): null)" style="text-align:right" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="col-form-label col-sm-12" for="Cuoc">Tiền khác</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (khac)): null)" style="text-align:right" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">

                        <div class="col-sm-4">
                            <label class="col-form-label col-sm-12" for="Rieng">Chi riêng</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control-sm" value="@(cuoc != 0 ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (chirieng)): null)" style="text-align:right" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered table-sm" width="100%">
            <tbody>
                <tr style="background-color:rgba(62, 54, 54, 0.1)">
                    <th width="1%" rowspan="3">STT</th>
                    <th width="4%" rowspan="3">Ngày</th>
                    <th width="2%" rowspan="3">Loại</th>
                    <th width="11%" rowspan="3">Kho giao</th>
                    <th width="6%" rowspan="3">Số Cont</th>
                    @*@if (ViewBag.IdBill != null)
                {
                    <th rowspan="3">Bill</th>
                }*@
                    <th width="8%" rowspan="3">Cảng nhận</th>
                    <th width="8%" rowspan="3">Cảng trả</th>
                    <th width="5%" rowspan="3">Cước</th>
                    <th width="2%" rowspan="3">VAT</th>
                    <th width="33%" colspan="6">Nâng - Hạ</th>
                    <th rowspan="3">Ghi chú</th>
                    <th rowspan="3" class="no-print">#</th>
                </tr>
                <tr style="background-color:rgba(62, 54, 54, 0.1)">
                    <th width="11%" colspan="2">Nâng cont</th>
                    <th width="11%" colspan="2">Hạ cont</th>
                    <th width="11%" colspan="2">Phí khác</th>
                </tr>
                <tr style="background-color:rgba(62, 54, 54, 0.1)">
                    <th width="6%">Hoá đơn</th>
                    <th width="5%">Số Tiền</th>
                    <th width="6%">Hoá đơn</th>
                    <th width="5%">Số Tiền</th>
                    <th width="6%">Hoá đơn</th>
                    <th width="5%">Số Tiền</th>
                </tr>
            </tbody>
            <tbody>
                @foreach (var item in Model.OrderBy(x => x.Ngay))
                {
                    stt += 1;
                    <tr>
                        <td>@stt</td>
                        <td>@(item.Ngay != null ? item.Ngay.ToShortDateString() : null)</td>
                        <td>@(item.Loai != null ? item.DMLoai.MaLoai : null)</td>
                        <td style="text-align:left" title="@(item.Kho != null ? item.DMKho.DiaChiChiTiet : null )">@(item.Kho != null ? item.DMKho.DiaChi : null)</td>
                        <td style="text-align:left">@(item.SoCont != null ? item.SoCont : null)</td>
                        @*@if (ViewBag.IdBill != null)
                    {
                        <td style="text-align:left">@(item.SoBill != null ? item.DMBill.MaBill : null)</td>
                    }*@
                        <td style="text-align:left">@(item.CangNhan != null ? item.DMCang.TenCang : null)</td>
                        <td style="text-align:left">@(item.CangTra != null ? item.DMCang1.TenCang : null)</td>
                        <td style="text-align:right">@(item.CuocKH != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.CuocKH)) : null)</td>
                        <td style="padding-top: 2px!important; font-size:5px" ><input id="CheckVAT" onclick="UpdateVAT(@item.Id)" data-VATId="@item.Id" type="checkbox" name="VAT" @(item.VAT == true ? "Checked" : null) /></td>
                        <td style="text-align:left">@(item.HDNang != null ? item.HDNang : null)</td>
                        <td style="text-align:right">@(item.TienNang != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienNang)) : null)</td>
                        <td style="text-align:left">@(item.HDHa != null ? item.HDHa : null)</td>
                        <td style="text-align:right">@(item.TienHa != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienHa)) : null )</td>
                        <td style="text-align:left">@(item.PhiKH != null ? item.PhiKH : null)</td>
                        <td style="text-align:right">@(item.TienPhiKH != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.TienPhiKH)) : null)</td>
                        <td class="cell expand-maximum-on-hover">@item.GhiChuThanhToan</td>
                        <td class="no-print"><a href="#" class="btn btn-warning" onclick='EditGhiChuThanhToan(@item.Id)'>Ghi chú</a></td>
                    </tr>

                }
            </tbody>
            <tbody>
                @if (CountChiKhac > 0)
                {
                    <tr>
                        <td class="hidden-border" colspan="7" style="text-align:right;border-color:white;border-bottom:#000000">Cộng:</td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white;border-bottom:#000000">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (cuoc))</td>
                        <td class="hidden-border" colspan="2" style="text-align:right;color:blue;border-color:white;border-bottom:#000000"></td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white;border-bottom:#000000">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (nang))</td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white;border-bottom:#000000"></td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white;border-bottom:#000000">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (ha))</td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white;border-bottom:#000000"></td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white;border-bottom:#000000">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (phikhac))</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="hidden-border" colspan="7" style="text-align:right;border-color:white">Cộng:</td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (cuoc))</td>
                        <td class="hidden-border" colspan="2" style="text-align:right;color:blue;border-color:white"></td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (nang))</td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white"></td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (ha))</td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white"></td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (khac))</td>
                    </tr>
                }

            </tbody>
            @if (CountChiKhac > 0)
            {
                <tbody>
                    <tr style="background-color:rgba(62, 54, 54, 0.1)">
                        <th style="text-align:center; font-size:14px" colspan="17">Chi Khác</th>
                    </tr>
                </tbody>
                <tbody>
                    <tr style="background-color:rgba(62, 54, 54, 0.1)">
                        <th>STT</th>
                        <th>Ngày</th>
                        <th></th>
                        <th>Cont</th>
                        <th></th>
                        <th>Nội dung</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Hoá đơn</th>
                        <th>Số tiền</th>
                        <th>Ghi chú</th>
                        <th class="no-print">#</th>
                    </tr>
                </tbody>
                <tbody>
                    @foreach (var item in db.CTChiThus.Where(x => x.PhatSinhChiThu1.Bill == idBill).OrderBy(x => x.PhatSinhChiThu1.Ngay))
                    {
                        stt1 += 1;
                    <tr>
                        <td>@stt1</td>
                        <td>@(item.PhatSinhChiThu1.Ngay != null ? item.PhatSinhChiThu1.Ngay.ToShortDateString() : null)</td>
                        <td></td>
                        <td>@item.Cont</td>
                        <td></td>
                        <td style="text-align:left">@item.NoiDung</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:left">@item.PhatSinhChiThu1.SoHD</td>
                        <td style="text-align:right">@(item.DonGia != null ? String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (item.DonGia * item.SoLuong)) : null)</td>
                        <td>@item.PhatSinhChiThu1.GhiChu</td>
                        <td class="no-print"><a href="/NhapLieu/PhatSinhChi/CTChi/@item.Id" class="btn btn-success">Chi tiết</a></td>
                    </tr>
                    }
                </tbody>
                <tbody>
                    <tr>
                        <td class="hidden-border" colspan="13" style="text-align:right;border-color:white">Cộng:</td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white"></td>
                        <td class="hidden-border" style="text-align:right;color:blue;border-color:white">@String.Format(CultureInfo.InvariantCulture, "{0:0,0}", (khac))</td>
                    </tr>
                </tbody>
                    }
            </table>
    </div>
    

</div>
@section js{
    <script>
        function UpdateVAT(id) {
            $.ajax({
                url: "/ThongKe/ChiTiet/ChangeStatusVAT",
                data: { id: id },
                dataType: "json",
                type:"POST",
                success: function (response) {
                    location.reload();
                }
            });    
        }
    </script>
   
}


