
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/Content/css/select2.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderPage("_Navigation.cshtml")
    <div class="container-fluid">
        <p>@Html.MvcSiteMap().SiteMapPath()</p>
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                @TempData["AlertMessage"]
            </div>
        }
        <div style="padding-left:20px">

            @RenderBody()
        </div>
    </div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- datatables -->
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/demo/datatables-demo.js"></script>
    <script src="~/Content/js/select2.min.js"></script>
    <script src="~/Content/js/Sites.js"></script>
    <script src="~/Content/js/ChangeStatus/ChangeStatus.js"></script>
</body>


</html>